.borderedModal > :global(.ant-modal-content) > :global(.ant-modal-body) {
  padding: 0 !important;

  :global(.ant-modal-confirm-title) {
    border-bottom: solid var(--theme-stroke-width) var(--theme-surface-border);
    padding: 16px;
  }
  :global(.ant-modal-confirm-content) {
    margin: 0;
  }
  :global(.ant-modal-confirm-btns) {
    display: none;
  }
  .base {
    padding: 16px;
  }
  .footer {
    border-top: solid var(--theme-stroke-width) var(--theme-surface-border);
    display: flex;
    flex-direction: row;
    padding-block: 8px;
    padding-inline: 16px;

    .spacer {
      flex-grow: 1;
    }
  }
}
.footerModal:global(.ant-modal) > :global(.ant-modal-content) > :global(.ant-modal-body) {
  padding: 0 !important;

  :global(.ant-modal-confirm-title) {
    padding: 16px;
  }
  :global(.ant-modal-confirm-content) {
    margin: 0;
  }
  :global(.ant-modal-confirm-btns) {
    display: none;
  }
  .base {
    padding-inline: 16px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    padding-block: 8px;
    padding-inline: 16px;

    .spacer {
      flex-grow: 1;
    }
  }
}
.noFooterModal:global(.ant-modal)
  > :global(.ant-modal-content)
  > :global(.ant-modal-body)
  :global(.ant-modal-confirm-btns) {
  display: none;
}
