.base {
  align-items: baseline;
  display: grid;
  gap: 8px;
  grid-template-columns: 72px 1fr;
  padding-bottom: 8px;

  &.baseRoot {
    grid-template-columns: 1fr;
  }
}
.groupCard {
  border-radius: 4px;
  padding-left: 8px;

  &.level0 {
    background-color: inherit;
    border: inherit;
  }
  &.level1 {
    background-color: var(--theme-surface);
    border: 1px solid var(--theme-surface-border);
  }
  &.level2 {
    background-color: var(--theme-stage);
    border: 1px solid var(--theme-stage-border);
    margin-right: 8px;
  }
}
.header {
  align-items: center;
  color: var(--theme-stage-on);
  display: grid;
  grid-template-columns: 1fr 32px 32px 32px;
  justify-content: space-between;
  padding: 4px 0;
}
.children {
  display: flex;
  flex-direction: column;
}
