.base {
  align-items: baseline;
  display: grid;
  gap: 8px;
  grid-template-columns: 72px 7fr;
  padding-bottom: 8px;

  &.baseRoot {
    grid-template-columns: 1fr;
  }
}
.groupCard {
  border-radius: 4px;
  padding: 8px;

  &.level1 {
    background-color: var(--theme-surface);
    border: 1px solid var(--theme-surface-border);
  }
  &.level2 {
    background-color: var(--theme-stage);
    border: 1px solid var(--theme-stage-border);
  }
}
.header {
  align-items: center;
  color: var(--theme-stage-on);
  display: grid;
  grid-template-columns: 7fr 3fr;
  justify-content: space-between;
  padding-bottom: 4px;

  & > .headerButtonGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32px);
    justify-content: end;
  }
}
.children {
  display: flex;
  flex-direction: column;
}
