.base {
  max-width: calc(100vw - 26px);
  width: 680px;
}
.header {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding-bottom: 8px;
}
.filter {
  max-height: 300px;
  overflow: auto;
  padding-right: 16px;
  scrollbar-gutter: stable;
}
.buttonContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .addButtonContainer {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: space-between;
  }
}
