.base {
  background-color: var(--theme-colors-monochrome-17);
  border: var(--theme-sizes-border-width) solid var(--theme-colors-monochrome-13);
  border-radius: 12px;
  color: var(--theme-colors-monochrome-7);
  display: grid;
  font-size: 11px;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 40px auto 40px;
  padding: var(--theme-sizes-layout-huge);

  .name {
    color: var(--theme-colors-monochrome-4);
    font-size: 14px;
    grid-column: 1/3;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .action {
    grid-column: 3/4;
    grid-row: 0/1;
    visibility: hidden
  }
  .description {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    grid-column: 1/4;
    grid-row: 2/3;
    -webkit-line-clamp: 2;
    margin: 0;
    overflow: hidden;
  }
  .experiments {
    align-items: end;
    align-self: end;
    display: flex;
    gap: var(--theme-sizes-layout-tiny);
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .lastExperiment {
    align-self: end;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .avatar {
    grid-column: 3/4;
    grid-row: 3/4;
    place-self: end;
  }
  &:hover {
    background-color: var(--theme-colors-monochrome-16);

    .action {
      visibility: visible;
    }
  }
}
