.flexRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
.modalBody {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
.ellipsis {
 > a {
  // 50vw is set as a modal width in component
  width: calc(50vw - 148px);;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 }
}
