.base {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 16px 16px 0 16px;
  width: 100%;

  .name {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  .pinned {
    color: var(--theme-colors-monochrome-9);
    font-size: 20px;
    height: min-content;
    width: min-content;
  }
  .dropdown {
    font-size: 12px;
  }
  .headerButton {
    display: inline-flex;

    button {
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    display: block;
  }
}
