.flexRow {
  align-items: center;
  display: flex;
  gap: 8px;
}
.modalBody {
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}
.ellipsis {
  > a {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // 50vw is set as a modal width in component
    width: calc(50vw - 148px);
  }
}
