.descriptionRenderer {
  border: 1px solid transparent;

  &:focus,
  &:hover {
    border: 1px solid var(--theme-status-active);
  }
}
.userRowItem {
  display: inline-block;
  vertical-align: middle;

  img {
    margin-right: 10px;
  }
}
.userAvatarRowItem {
  align-items: center;
  display: inline-block;
  height: 100%;
  line-height: 100%;
  margin-right: 10px;
  vertical-align: middle;
}
