.base {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 12px;
  width: 100%;

  .nameRow {
    align-items: center;
    display: flex;
    gap: var(--theme-sizes-layout-small);
    grid-column: 1/3;
    height: min-content;
    min-width: 0;

    .name {
      font-size: var(--theme-sizes-font-big);
      margin: 0;
      text-align: center;
    }
  }
}
