.base {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 9fr;
  padding-bottom: 8px;
}
.fieldCard {
  align-items: center;
  border: 1px solid skyblue;
  display: grid;
  gap: 4px;
  grid-template-columns: 2fr 3fr 3fr 32px 32px;
  padding: 8px;
}
