.usersTable {
  .overflow {
    &:hover {
      background: transparent !important;
    }
  }
}
.rightAligned {
  text-align: right;
}
.actionBar {
  margin-bottom: 8px;
}

@media only screen and (max-width: $breakpoint-tablet-large) {
  .selectWrapper,
  .buttonWrapper {
    width: 100%;
  }
}
