.usersTable {
  .overflow {
    &:hover {
      background: transparent !important;
    }
  }
}
.rightAligned {
  text-align: right;
}
.actionBar {
  margin-bottom: 8px;
}
.gridInput {
  grid-area: input;
}
.roleSelect {
  grid-area: roleSelect;
}
.statusSelect {
  grid-area: statusSelect;
}
.gridButtons {
  grid-area: button;
}
.grid {
  align-items: center;
  display: grid;
  gap: var(--spacing-md);
  grid-template: 'input roleSelect statusSelect button' auto / minmax(auto, max-content) minmax(auto, 120px) minmax(auto, 170px) auto;
}

@media only screen and (max-width: $breakpoint-tablet) {
  .grid {
    grid-template: 
      'input' auto
      'roleSelect' auto
      'statusSelect' auto
      'button' auto
      / 100%;
  }
}
