.actionBar {
  align-items: center;
  display: grid;
  gap: var(--spacing-md);
  grid-template:
    'input roleSelect statusSelect button' auto
    / minmax(auto, max-content) minmax(auto, 120px) minmax(auto, 170px) auto;
  margin-bottom: 8px;
}
.gridButtons {
  grid-area: button;
}
.gridInput {
  grid-area: input;
}
.rightAligned {
  text-align: right;
}
.roleSelect {
  grid-area: roleSelect;
}
.statusSelect {
  grid-area: statusSelect;
}
.usersTable {
  .overflow {
    &:hover {
      background: transparent !important;
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .actionBar {
    grid-template:
      'input' auto
      'roleSelect' auto
      'statusSelect' auto
      'button' auto
      / 100%;
  }
}
