.base {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 16px;
  position: relative;
  width: var(--nav-side-bar-width-max);
}
.base > [class*='Avatar_base_'] {
  flex-shrink: 0;
}
.base > span {
  color: var(--theme-stage-on);
  font-size: 12px;
  margin-left: 16px;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
