[Unit]
Description=Determined agent
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/determined-ee-agent run

[Install]
WantedBy=multi-user.target
