---
version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    reviewers:
      - determined-ai/infrastructure
    ignore:
      - dependency-name: "*"

  # Maintain dependencies for leader Docker
  - package-ecosystem: docker
    directory: /master
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain dependencies for agent Docker
  - package-ecosystem: docker
    directory: /agent
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain dependencies for leader Golang
  - package-ecosystem: gomod
    directory: /master
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain dependencies for agent Golang
  - package-ecosystem: gomod
    directory: /agent
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain prod dependencies for WebUI
  - package-ecosystem: npm
    directory: /webui/react/
    schedule:
      interval: daily
    allow:
      # Leave the dev dependencies alone
      - dependency-type: production
      # Allow updates for React and any packages starting with "react"
      #   - - dependency-name: "react*"
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain dev verion dependencies for WebUI monthly
  - package-ecosystem: npm
    directory: /webui/react/
    target-branch: main  # trick dependabot into thinking this is different
    schedule:
      interval: monthly  # security checks still happen daily
    allow:
      - dependency-type: development
    labels:
      - dependencies
      - javascript
      - web development env
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain python dependencies for main product
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain python dependencies for examples
  - package-ecosystem: pip
    directory: /examples/tests
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain python dependencies for Model Hub
  - package-ecosystem: pip
    directory: /model-hub/tests
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain python dependencies for docs
  - package-ecosystem: pip
    directory: /docs
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain python dependencies for end-to-end tests
  - package-ecosystem: pip
    directory: /e2e_tests/tests
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain python dependencies for harness tests
  - package-ecosystem: pip
    directory: /harness/tests/requirements/requirements-harness.txt
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"

  # Maintain python dependencies for harness tests
  - package-ecosystem: pip
    directory: /harness/tests/requirements/requirements-cli.txt
    schedule:
      interval: daily
    # reviewers:
    #   - determined-ai/someteam
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "*"
