.note {
  background-color: var(--theme-surface);
  border: solid var(--theme-stroke-width) var(--theme-surface-border);
  margin-bottom: 4px;
  padding: 2;
  text-align: center;
}
.note + div {
  margin: 0;
}
.loading {
  padding: 40px;
}
.line {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
.line p {
  margin: 0;
  min-width: 100px;
}
.line > :not(p) {
  flex-grow: 1;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
.noFooter :global(.ant-modal-confirm-btns) {
  display: none;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  button + button {
    margin-left: 8px;
  }
}
