.note {
  background-color: var(--theme-surface);
  border: solid var(--theme-stroke-width) var(--theme-surface-border);
  margin-bottom: 4px;
  padding: 2px;
  text-align: center;
}
.note + div {
  margin: 0;
}
.loading {
  padding: 40px;
}
.noFooter :global(.ant-modal-confirm-btns) {
  display: none;
}
.line {
  &:global(.ant-form-item) {
    margin: 0;
  }
  & > div {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

    label {
      margin: 0;
      min-width: 110px;
    }
    :global(.ant-input-number) {
      width: 100%;
    }
  }
}
.spacedLine {
  &:global(.ant-form-item) {
    margin-bottom: 16px;
    margin-top: 16px;
  }
  & > div {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

    label {
      margin: 0;
      min-width: 110px;
    }
    :global(.ant-input-number) {
      width: 100%;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  button + button {
    margin-left: 8px;
  }
}
