.base {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
  }
  .ssoButton {
    width: 100%;
  }
  .logo {
    height: 6rem;
    margin-bottom: 3rem;
    width: 25rem;
  }
}
