/* stylelint-disable no-descending-specificity */

@import '../components/kit/globalCssVar.css';

.base {
  display: flex;
  gap: 8px;
  height: 100vh;
  width: 100vw;

  & > nav {
    // this was breaking the CSS for the Actionbar
    background-color: var(--theme-surface);
    box-shadow: var(--theme-elevation);
    display: flex;
    position: sticky;
    top: 0;
  }
  & > nav.default {
    flex-direction: column;
    gap: 8px;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    min-width: var(--nav-side-bar-width-max);
    padding: 16px 0 0 16px;
  }
  & > nav.mobile {
    align-items: center;
    display: none;
    justify-content: space-between;
    padding: 16px;
    z-index: 1;

    .controls {
      align-items: center;
      display: flex;
      gap: 8px;
    }
  }
  & > article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px;

    article {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      :global(.ant-checkbox-wrapper) {
        margin: 0;
      }
      ul {
        margin: 0;

        li.warning {
          color: var(--theme-status-critical);
        }
        li + :not(li) {
          margin-block: 8px;
        }
      }
      hr {
        border: solid var(--theme-stage-border-weak) 1px;
        width: 100%;
      }
      :global(.ant-card) {
        background-color: var(--theme-surface-weak);

        :global(.ant-card-body) {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }
    }
  }
  & code {
    background-color: var(--theme-float-strong);
    border-radius: 6px;
    font-size: 85%;
    margin: 0;
    padding: 0.2em 0.4em;
    white-space: break-spaces;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;

    & > nav.default {
      display: none;
    }
    & > nav.mobile {
      display: flex;
      position: sticky;
    }
  }
}
ul.sections {
  list-style-type: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  padding: 0 0 16px;

  li {
    margin-inline: -16px;
    padding-block: 4px;
    padding-inline: 16px;

    &:hover {
      background-color: var(--theme-surface-strong);
    }
    a {
      color: var(--theme-surface-on);
      display: block;
      width: 100%;
    }
  }
}
.headerXL {
  font-size: var(--header-size-xl);
  line-height: var(--header-ln-xl);
}
.headerL {
  font-size: var(--header-size-l);
  line-height: var(--header-ln-l);
}
.headerDefault {
  font-size: var(--header-size-default);
  line-height: var(--header-ln-default);
}
.headerS {
  font-size: var(--header-size-s);
  line-height: var(--header-ln-s);
}
.headerXS {
  font-size: var(--header-size-xs);
  line-height: var(--header-ln-xs);
}
.multiLineXL {
  font-size: var(--multi-line-size-xl);
  line-height: var(--multi-line-ln-xl);
}
.multiLineL {
  font-size: var(--multi-line-size-l);
  line-height: var(--multi-line-ln-l);
}
.multiLineDefault {
  font-size: var(--multi-line-size-default);
  line-height: var(--multi-line-ln-default);
}
.multiLineS {
  font-size: var(--single-line-size-s);
  line-height: var(--single-line-ln-s);
}
.multiLineXS {
  font-size: var(--single-line-size-xs);
  line-height: var(--single-line-ln-xs);
}
.singleLineXL {
  font-size: var(--single-line-size-xl);
  line-height: var(--single-line-ln-xl);
}
.singleLineL {
  font-size: var(--single-line-size-l);
  line-height: var(--single-line-ln-l);
}
.singleLineDefault {
  font-size: var(--single-line-size-default);
  line-height: var(--single-line-ln-default);
}
.singleLineS {
  font-size: var(--single-line-size-s);
  line-height: var(--single-line-ln-s);
}
.singleLineXS {
  font-size: var(--single-line-size-xs);
  line-height: var(--single-line-ln-xs);
}
