.base {
  background-color: var(--theme-colors-monochrome-15);
  display: flex;
  height: calc(100% - var(--theme-sizes-navbar-height));

  & > *:first-child { flex-grow: 0; }
  & > *:last-child { flex-grow: 1; }
}
