.base {
  display: flex;
  flex-direction: column;
}
:global(.ant-table-tbody) tr [class*=tagPlus] {
  opacity: 0;
  user-select: none;
}
:global(.ant-table-tbody) tr:hover [class*=tagPlus] {
  opacity: 1;
  user-select: auto;
}
