.base {
  display: flex;
  flex-direction: column;

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--theme-sizes-layout-medium);
  }
  .filters {
    align-items: center;
    display: flex;
  }
  .filters > *:not(:first-child) { margin-left: var(--theme-sizes-layout-jumbo); }
  .search {
    margin-right: var(--theme-sizes-layout-medium);
    max-width: 30rem;
  }
  .nameColumn {
    line-height: 3rem;
    word-break: break-word;
    word-wrap: break-word;
  }
  .nameColumn :global .tagPlus {
    display: none;
  }
  .nameColumn:hover :global .tagPlus {
    display: inline-block;
  }
  .tagList {
    display: inline;
    margin-left: var(--theme-sizes-layout-small);
  }
}
