.base {
  .descriptionColumn {
    max-width: calc(max(50vw, 30rem));
    word-break: break-word;
    word-wrap: break-word;
  }
  .chartColumn {
    min-width: 15rem;
  }
  :global(label.ant-radio-button-wrapper) {
    font-size: inherit;
    height: inherit;
    line-height: inherit;
    padding: var(--theme-sizes-layout-tiny);
  }
}
