.base {
  .descriptionColumn {
    max-width: calc(max(50vw, 30rem));
    word-break: break-word;
    word-wrap: break-word;
  }
  .chartColumn {
    min-width: 20rem;
  }
  .viewOptions {
    border: solid 1px var(--theme-colors-monochrome-13);
    border-radius: var(--theme-sizes-border-radius);
    display: flex;
    flex-direction: row;
    font-size: var(--theme-sizes-font-small);
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    & > * {
      border: solid 1px var(--theme-colors-monochrome-13);
      color: inherit;
      display: block;
      height: 100%;
      margin: 0;
      margin-left: var(--theme-sizes-layout-tiny);
      padding: 0;

      &:hover {
        @extend .active;
      }
    }
    & > *:first-child {
      margin-left: 0;
    }
    .active {
      color: var(--theme-colors-states-active);
    }
  }
}
