.base {
  height: 100%;
  overflow: hidden;
}
.barContainer {
  height: 32px;
}
.frameContainer {
  height: calc(100vh - 32px);
  
  iframe {
    border: none;
    height: 100%;
    width: 100%;
  }
}
