.base {
  height: 100%;
  overflow: hidden;

  .barContainer {
    height: 32px;
  }
  .contentContainer {
    height: calc(100vh - 32px);

    iframe {
      border: none;
      height: 100%;
      width: 100%;
    }
  }
}
