.base {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 36px;

  .resource {
    align-items: center;
    display: flex;
  }
  .resourceName {
    flex-shrink: 1;
    padding-right: var(--theme-sizes-layout-small);
  }
  .resourceSpacer {
    flex-grow: 1;
    height: 2px;
    margin: 5px 0;
  }
  .resourceSize {
    flex-shrink: 0;
    padding-left: var(--theme-sizes-layout-small);
  }
  .link a {
    color: var(--theme-colors-action-normal) !important;
  }
  .placeholder {
    color: var(--theme-colors-monochrome-10);
    margin: 0;
  }
}
