.base {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  padding: 16px;

  .resource {
    align-items: center;
    display: flex;
  }
  .resourceName {
    flex-shrink: 1;
    padding-right: 6px;
  }
  .resourceSpacer {
    flex-grow: 1;
    height: 2px;
    margin: 5px 0;
  }
  .resourceSize {
    flex-shrink: 0;
    padding-left: 6px;
  }
  .placeholder {
    color: var(--theme-colors-monochrome-10);
    margin: 0;
  }
}
