.overflow {
  padding: 6px;
}
.emptyBase {
  margin-inline: auto;
  margin-top: 150px;
  max-width: 350px;
  text-align: center;

  .icon {
    padding: 16px;
  }
  h4 {
    margin-bottom: 8;
  }
  .description {
    color: var(--theme-colors-monochrome-9);
    font-size: 14px;
  }
}
.tagsRenderer {
  :global([aria-label='new-tag-trigger']) {
    display: none !important;
  }
  &:hover {
    :global([aria-label='new-tag-trigger']) {
      display: inherit !important;
    }
  }
}
.descriptionRenderer {
  border: 1px solid transparent !important; // TODO: remove !important

  &:focus,
  &:hover {
    border: 1px solid var(--theme-status-active) !important;
  }
}
