.base {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  margin: 0;

  .center {
    display: flex;
    justify-content: center;
  }
  .overflow {
    padding: 6px;
  }
  .noVersions {
    align-items: center;
    background-color: var(--theme-surface-strong);
    border: solid var(--theme-stroke-width) var(--theme-surface-border);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 24px;

    .header {
      margin-bottom: 8px;
    }
    .subtext {
      color: var(--theme-surface-on-weak);
      font-size: 14px;
      margin: 0;
      max-width: 370px;
      text-align: center;
    }
  }
  .descriptionRenderer {
    border: 1px solid transparent;

    &:focus,
    &:hover {
      border: 1px solid var(--theme-status-active);
    }
  }
}
.tagsRenderer {
  :global([aria-label='new-tag-trigger']) {
    display: none !important;
  }
  &:hover {
    :global([aria-label='new-tag-trigger']) {
      display: inherit !important;
    }
  }
}
