.base {
  margin-inline: auto;
  margin-top: 60px;
  max-width: 432px;
  text-align: center;

  h6 {
    margin-bottom: 16px;
  }
  .icon {
    margin-bottom: 35px;
  }
  .message {
    color: var(--theme-colors-monochrome-9);
    font-size: 14px;
    font-weight: 400;
  }
}
