.poolDetailPage {
  .nav {
    align-items: center;
    cursor: pointer;
    display: flex;

    .icon {
      margin: 0 24px;
    }
  }
  :global {
    .ant-tabs-nav {
      margin-bottom: 8px !important;
      padding: 0 !important;
    }
  }
}
