.base {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 220px;

    & > *:first-child {
      margin-bottom: 24px;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
  .form {
    width: 100%;

    & :global(p) {
      text-align: center;
    }
    & :global(button) {
      width: 100%;
    }
  }
  .ssoButton {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  }
  .ssoLogo {
    height: 20px;
    margin: 0 6px;
    width: 20px;
  }
  .ssoProviderInfo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    & > span {
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
