.base {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 22rem;

    & > * { margin-bottom: var(--theme-sizes-layout-enormous); }
    & > *:last-child { margin-bottom: 0; }
  }
  .ssoButton {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
