.base {
  display: flex;
  flex-direction: column;

  tr a[class*='Link_'] {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--theme-sizes-layout-medium);
  }
  .search {
    margin-right: var(--theme-sizes-layout-medium);
    max-width: 30rem;
  }
}
.sourceName {
  display: flex;
  flex-wrap: wrap;

  span { margin-right: var(--theme-sizes-layout-tiny); }
  button {
    background-color: var(--theme-colors-monochrome-17);
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-11);
    border-radius: var(--theme-sizes-border-radius);
    cursor: pointer;
    font-size: var(--theme-sizes-font-small);
    outline: 0;
  }
  button:hover { border-color: var(--theme-colors-action-normal); }
  button:focus { box-shadow: var(--theme-outline); }
}
.sourceLinks {
  label {
    font-size: var(--theme-sizes-font-small);
  }
}
