.base {
  display: flex;
  flex-direction: column;

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--theme-sizes-layout-medium);
  }
  .search {
    margin-right: var(--theme-sizes-layout-medium);
    max-width: 30rem;
  }
}
