.base {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    font-size: var(--theme-sizes-font-large);

    & > * { margin-bottom: var(--theme-sizes-layout-large); }
    & > *:last-child {
      margin-bottom: 0;
      margin-top: var(--theme-sizes-layout-big);
    }
  }
}
