.base {
  height: fit-content;

  .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .base .controls {
    flex-wrap: wrap;
  }
}
