.base {
  height: fit-content;
}

.userRowItem {
  display: inline-flex;
  vertical-align: middle; 
  
  img {
    margin-right: 10px;
  }
}

.userAvatarRowItem {
  height: 100%;
  display: inline-flex;
  margin-right: 10px;
  align-items: center;
  line-height: 100%;
  vertical-align: middle;
}

.membersContainer {
  margin-top: 30px;
}