.base {
  display: flex;
  flex-direction: column;

  .search {
    border-bottom: solid var(--theme-stroke-width) var(--theme-float-border);
    padding: 6px 0;
  }
  .search :global(.ant-input-affix-wrapper) {
    border-width: 0;
    box-shadow: none;
  }
  .search :global(.ant-input-prefix) {
    color: var(--theme-float-on-weak);
  }
  .option {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .option:hover {
    background-color: var(--theme-float-strong);
  }
  .option > * {
    margin: 0 8px;
    pointer-events: none;
  }
  .option > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .option > [class*='Icon_base']:last-child {
    display: none;
  }
  .option.selected {
    font-weight: bold;
  }
  .option.selected > [class*='Icon_base'] {
    color: var(--theme-status-active);
    display: flex;
  }
  .footer {
    border-top: solid var(--theme-stroke-width) var(--theme-float-border);
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }
  .footer > *:not(:last-child) {
    margin-right: 8px;
  }
}
