.centerVertically {
  align-items: center;
  display: flex;
}
.centerHorizontally {
  display: flex;
  justify-content: center;
}
.versionBox {
  background-color: var(--theme-surface);
  border-radius: 15%;
  color: var(--theme-surface-on);
  height: min-content;
  padding: 6px;
  width: min-content;
}
.wordBreak {
  word-break: break-word;
}
.timeAgo {
  width: 100%;
}
