[bumpversion]
current_version = 0.15.5rc1
commit = true
tag = true
tag_name = {new_version}
message = chore: bump version: {current_version} -> {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)(\.(?P<patch>\d+)((?P<pre>\.dev|a|b|rc|final|post)?((\.dev)?(?P<dev>\d+))?))?
serialize = 
	{major}.{minor}.{patch}{pre}{dev}
	{major}.{minor}.{patch}

[bumpversion:part:pre]
optional_value = final
values = 
	.dev
	rc
	final

[bumpversion:file:VERSION]

[bumpversion:file:.circleci/config.yml]

[bumpversion:glob:*/setup.py]

[bumpversion:glob:*/*/__version__.py]

[bumpversion:glob:harness/determined/deploy/aws/templates/*.yaml]

[bumpversion:file:webui/react/config-overrides.js]

[bumpversion:file:helm/charts/determined/Chart.yaml]

[bumpversion:file:model_hub/model_hub/__version__.py]

[bumpversion:file:model_hub/examples/huggingface/token-classification/ner_config.yaml]

[bumpversion:file:model_hub/examples/huggingface/language-modeling/clm_config.yaml]

[bumpversion:file:model_hub/examples/huggingface/language-modeling/mlm_config.yaml]

[bumpversion:file:model_hub/examples/huggingface/language-modeling/plm_config.yaml]

[bumpversion:file:model_hub/examples/huggingface/multiple-choice/swag_config.yaml]

[bumpversion:file:model_hub/examples/huggingface/text-classification/glue_config.yaml]

[bumpversion:file:model_hub/examples/huggingface/text-classification/xnli_config.yaml]
