[bumpversion]
current_version = 0.12.0
commit = true
message = chore: bump version: {current_version} -> {new_version}

[bumpversion:file:VERSION]

[bumpversion:file:RELEASE.md]

[bumpversion:file:webui/react/config-overrides.js]

[bumpversion:file:webui/elm/public/index.html]
