[bumpversion]
current_version = 0.13.7
commit = true
tag = true
tag_name = {new_version}
message = chore: bump version: {current_version} -> {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)(\.(?P<patch>\d+)((?P<pre>\.dev|a|b|rc|final|post)?((\.dev)?(?P<dev>\d+))?))?
serialize = 
	{major}.{minor}.{patch}{pre}{dev}
	{major}.{minor}.{patch}

[bumpversion:part:pre]
optional_value = final
values = 
	.dev
	rc
	final

[bumpversion:file:VERSION]

[bumpversion:file:.circleci/config.yml]

[bumpversion:file:deploy/determined_deploy/aws/templates/simple.yaml]

[bumpversion:file:deploy/determined_deploy/aws/templates/secure.yaml]

[bumpversion:file:deploy/determined_deploy/aws/templates/vpc.yaml]

[bumpversion:file:webui/react/config-overrides.js]

[bumpversion:file:cli/determined_cli/__version__.py]

[bumpversion:file:cli/setup.py]

[bumpversion:file:common/determined_common/__version__.py]

[bumpversion:file:common/setup.py]

[bumpversion:file:deploy/determined_deploy/__version__.py]

[bumpversion:file:deploy/setup.py]

[bumpversion:file:harness/determined/__version__.py]

[bumpversion:file:harness/setup.py]

[bumpversion:file:helm/charts/determined/Chart.yaml]
