*

!pytest.ini
!requirements.txt
!tests/cli/
!webui/elm/css/
!webui/elm/favicon.png
!webui/elm/images/
!webui/elm/index.html
!webui/elm/js/
!webui/react/
!README.md
!common/
!cli/
!harness/
!VERSION

# These are required for build the integrations test harness image.
!tests/
!deploy/
!combined-reqs.txt
!examples/
!Makefile
!master/
!environments/

**/*~
