# https://git-scm.com/docs/gitattributes
# https://github.com/github/linguist

# ignore generated code for cli diffs and merges. treat as binary.
# ignore generated code for GitHub UIs.
proto/pkg/**/*    -diff linguist-generated=true
master/pkg/schemas/expconf/zgen_*    -diff linguist-generated=true
webui/react/src/services/api-ts-sdk/**/*    -diff linguist-generated=true
webui/react/src/services/stream/wire.ts    -diff linguist-generated=true
harness/determined/common/api/bindings.py    -diff linguist-generated=true
harness/determined/common/streams/wire.py    -diff linguist-generated=true
docs/swagger-ui/swagger-ui*js*    -diff
docs/swagger-ui/swagger-ui-main* diff merge
