# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
build-examples/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# All log files
*.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/

# Determined distributable package
determined-*.tar.gz

# All Python wheels
*.whl

# Node modules
node_modules/

# VSCode
.vscode/

# JetBrains IDEs (e.g., PyCharm and GoLand)
.idea/

# gobin directory used for tests
gobin

# MacOS system files
*.DS_Store

# Hydra output
model_hub/examples/mmdetection/hydra/outputs
