---
repos:
  - repo: local
    hooks:
      - id: web-js-lint-check
        name: Web JS Lint Check
        entry: ./pre-commit/web_lint_check.py js
        language: system
        files: '^webui/react/src/'
        types_or: [javascript, jsx, ts, tsx]
      - id: web-css-lint-check
        name: Web CSS Lint Check
        entry: ./pre-commit/web_lint_check.py css
        language: system
        files: '^webui/react/src/'
        types_or: [css, less, scss]
      - id: web-misc-lint-check
        name: Web Misc Lint Check
        entry: ./pre-commit/web_lint_check.py misc
        language: system
        files: '^webui/react/'
        types_or: [markdown, json]
      - id: shell-fmt-docker
        name: shfmt
        description: Format shell scripts with shfmt
        entry: mvdan/shfmt:v3
        language: docker_image
        exclude: ^(webui/react/src/services/api-ts-sdk/)
        types:
          - file
          - shell
        exclude_types:
          - zsh
        args: [-w, -s, -l, -i, '4', -ci, -bn]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        files: >
          (?x)^(
          .github/
          | .pre-commit-config.yaml
          )$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.19.2
    hooks:
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        exclude: ^(harness/determined/common/api/bindings.py)

  # - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #   rev: 3.0.0
  #   hooks:
  #     - id: markdownlint  # Configure in .mdlrc
  #       exclude: >
  #         (?x)^(
  #         examples/.*
  #         | model_hub/examples/.*
  #         | (webui/react/src/shared/)?\.github/.*template\.md
  #         | docs/release-notes/README\.md
  #         )$
  #     - id: markdownlint
  #       name: special markdown lint for templates (skip header & blank lines)
  #       args:
  #         - --rules
  #         - ~MD002,~MD041,~MD012
  #       files: >
  #         (?x)^(
  #         (webui/react/src/shared/)?.github/.*template\.md
  #         )$
  #     - id: markdownlint
  #       # bug in markdownlint handling ul inside of ol :/
  #       # https://github.com/markdownlint/markdownlint/issues/313
  #       name: special markdown lint for release notes (bullet indentation)
  #       args:
  #         - --rules
  #         - ~MD007
  #       files: ^docs/release-notes/README\.md$
  #     # - id: git-check
  #     # - id: git-dirty
