# Scheduler
# /master/internal/scheduler/

# Provisioner
/master/internal/provisioner/  @shiyuann

# Model registry
#/master/pkg/model
#/proto/pkg/modelv1

# WebUI
# /webui/

# Experiment/trial actors
# /master/internal/trial.go
# /master/internal/experiment.go

# Actor infrastructure
#/master/pkg/actor

# HP Search
#/master/pkg/searcher/

# Checkpoint export
# 

# Restart
# /master/internal/experiment.go

# CLI
#/cli/

# API
# /proto/
# /master/internal/api
# /master/internal/grpcutil
# /master/internal/api*.go

# Kubernetes
# /master/internal/kubernetes/

# Agent, container
# /agent/

# Harness, container
/harness/                      @shiyuann

# D-train
# /harness/determined/horovod.py
# /harness/determined/ipc.py
# /harness/determined/layers/_worker_process.py
# /harness/determined/_trial_controller.py
# /harness/determined/exec/worker_process.py

# Tensorboard
#/master/internal/command/tensorboard_manager.go

# Notebooks
#/master/internal/command/notebook_manager.go

# Commands/shell
#/master/internal/command/command_manager.go
#/master/internal/command/shell_manager.go

# CI infrastructure
# /.circleci/

# Build/packaging
#packaging/

# Documentation
#/docs/

# Deployment
#/deploy/
