# Scheduler
/master/internal/scheduler/    @aaron276h

# Provisioner
/master/internal/provisioner/  @shiyuann

# Model registry
#/master/pkg/model
#/proto/pkg/modelv1

# WebUI
/webui/                        @hamidzr

# Experiment/trial actors
/master/internal/trial.go      @aaron276h
/master/internal/experiment.go @aaron276h

# Actor infrastructure
#/master/pkg/actor

# HP Search
#/master/pkg/searcher/          @stoksc

# Checkpoint export
# 

# Restart
/master/internal/experiment.go @stoksc

# CLI
#/cli/

# API
/proto/                        @hamidzr
/master/internal/api           @hamidzr
/master/internal/grpcutil      @hamidzr
/master/internal/api*.go       @hamidzr

# Kubernetes
/master/internal/kubernetes/   @aaron276h

# Agent, container
/agent/                        @stoksc

# Harness, container
/harness/                      @aaron276h @shiyuann

# D-train
/harness/determined/horovod.py                @aaron276h
/harness/determined/ipc.py                    @aaron276h
/harness/determined/layers/_worker_process.py @aaron276h
/harness/determined/_trial_controller.py      @aaron276h
/harness/determined/exec/worker_process.py    @aaron276h

# Tensorboard
#/master/internal/command/tensorboard_manager.go

# Notebooks
#/master/internal/command/notebook_manager.go

# Commands/shell
#/master/internal/command/command_manager.go
#/master/internal/command/shell_manager.go

# CI infrastructure
/.circleci/                    @aaron276h

# Build/packaging
#packaging/

# Documentation
#/docs/

# Deployment
#/deploy/
