.tagItem {
  align-items: baseline;
  display: grid;
  gap: 8px;
  grid-template-columns: 9fr 1fr;
  justify-content: space-between;

  & > div:first-of-type {
    padding-top: 8px;
  }
}
.removeTagButton {
  justify-self: end;
}
