.base {
  color: var(--theme-float-on);
  display: flex;
  flex-direction: column;
  gap: 16px;

  .emptyContainer {
    border: 1px solid var(--theme-surface-border-weak);
    border-radius: var(--theme-border-radius);
    display: grid;
    height: 200px;
    place-content: center;
  }
  .listContainer {
    border: 1px solid var(--theme-surface-border-weak);
    border-radius: var(--theme-border-radius);

    ul {
      height: 200px;
      list-style-type: none;
      margin-bottom: 0;
      overflow-y: auto;
      padding-left: 0;
      padding-top: 6px;

      li {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding-inline: 6px;
      }
      li.selected {
        background-color: var(--theme-ix-active);
      }
      li.disabled {
        cursor: not-allowed;

        i {
          color: var(--theme-ix-on-inactive);
        }
      }
      li.default {
        &:hover {
          background-color: var(--theme-ix-strong);
        }
      }
    }
  }
}
.workspaceOptionDisabled {
  display: flex;
  justify-content: space-between;

  span {
    color: var(--theme-surface-on-weak);
  }
}
