/*! determined.css */

html {
  --pst-font-family-base-system: "Open Sans", "Metric HPE", Arial, sans-serif;
  --docsearch-modal-max-width: 1000px;
}

html[data-theme="light"] {
  --pst-color-primary: #f37a22;
  --pst-color-inline-code: #323232;
  --docsearch-modal-width: var(--docsearch-modal-max-width);
}

html[data-theme="dark"] {
  --pst-color-primary: #f37a22;
  --pst-color-inline-code: #cecece;
  --docsearch-modal-width: var(--docsearch-modal-max-width);
}

#site-navigation {
  overflow: visible;
}

#search-algolia {
  display: flex;
  justify-content: center;
}

.DocSearch-Button {
  background-color: var(--pst-color-surface);
  margin: 0;
}

.DocSearch-Modal{
  max-height: 800px;
}

.version.centered i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.version.centered .version-switcher__container {
  margin-left: 8px;
}

.bd-header-article {
  min-width: 488px;
  z-index: 200; /* sphinx-book-theme default is 1020, lower this enough to stay below algolia modal */
}

.bd-sidebar-primary {
  overscroll-behavior: none;
}

.bd-main {
  /* Book theme overrides flex-grow: 0 but we want to align content center.  */
  flex-grow: 1;
}

.header-links-left a {
  white-space: nowrap;
}

.header-links-right a {
  white-space: nowrap;
}

.header-links-left {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-left: 16px;
}

.header-links-right {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-right: 16px;
}

.tiles-flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 12px
}


.tile {
  /* looks */
  border-radius: 5px;
  /* sizing/boxing */
  height: 220px;
  padding: 10px;
  /* animation */
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
  /* layout */
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 24px 40px auto;
  grid-template-areas:
    'icon'
    'title'
    'description';
  gap: 4px;
}

.tile-icon {
  background-color: transparent !important;
  grid-area: icon;
  height: 24px;
  width: 24px;
}
.tile-container:nth-child(6n - 5) > .tile {
  background-color: #ededed;
}

.tile-container:nth-child(6n - 4) > .tile {
  background-color: #ffffff;
}

.tile-container:nth-child(6n - 3) > .tile {
  background-color: #ededed;
}

.tile-container:nth-child(6n - 2) > .tile {
  background-color: #ffffff;
}

.tile-container:nth-child(6n - 1) > .tile {
  background-color: #ededed;
}

.tile-container:nth-child(6n) > .tile {
  background-color: #ffffff;
}
/*
.tile-container:nth-child(6n - 5) > .tile {
  background-color: #FEC901;
}

.tile-container:nth-child(6n - 4) > .tile {
  background-color: #32DAC8;
}

.tile-container:nth-child(6n - 3) > .tile {
  background-color: #fdc6a7;
}

.tile-container:nth-child(6n - 2) > .tile {
  background-color: #b98cf4;
}

.tile-container:nth-child(6n - 1) > .tile {
  background-color: #ededed;
}

.tile-container:nth-child(6n) > .tile {
  background-color: #a0da70;
}
*/
.tile:hover {
  -webkit-transform: translate3d(0, -6px, 0);
  transform: translate3d(0, -6px, 0);
}

.tile .tile-title {
  /* looks */
  color: black;
  font-size: 18px;
  text-align: center;
  /* sizing/boxing */
  margin: 0px;
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: title;
}

.tile .tile-divider {
  height: 2px;
  width: 100%;
  margin: 0 5px;
  border: 0.5px solid var(--pst-color-text-muted);
  background-color: var(--pst-color-text-muted);
  -ms-flex-item-align: auto;
  align-self: auto;
}

.tile .tile-description {
  /* looks */
  color: black;
  font-size: 14px;
  margin: 0.5rem 0;
  grid-area: description;
}

/* Legacy styles from furo theme layout: */

table.align-default {
  margin-left: inherit !important;
}
h4,
h5,
h6 {
  text-transform: none;
  font-weight: 400 !important;
}

/* landing page */
.landing-main-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*    margin-top: 82px; */
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}
.header__container {
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin-right: 100px;
  color: #65665c;
  font-weight: 400;
  height: 42px;
  z-index: 400;
}
.header__content {
  margin-top: 40px;
  margin-left: 20px;
}
.page-toc-title {
  color: var(--color-sidebar-caption-text);
  font-size: var(--sidebar-caption-font-size);
  font-weight: 700;
}
.rst-content .toctree-wrapper ul li + li,
.rst-content .toctree-wrapper ol li + li,
.rst-content ul.simple li + li,
.rst-content ol.simple li + li {
  margin-top: 0.5rem;
  text-align: left;
}

.landing-text {
  font-size: 100%;
  letter-spacing: 0.2px;
  line-height: 1.25;
  color: #757575;
}

@media (min-width: 992px) {
  .rst-content .compact-list > ul.simple li + li,
  .rst-content .compact-list > ol.simple li + li,
  .rst-content .toctree-wrapper.compact-list ul li + li,
  .rst-content .toctree-wrapper.compact-list ol li + li,
  .rst-content ul.simple.compact-list li + li,
  .rst-content ol.simple.compact-list li + li {
    margin-top: 0;
  }

  .simplelist {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 2.5rem;
    line-height: 1.5;
    text-align: left;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 392px;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-0 {
    margin: 0 !important;
  }

  .pl-0,
  .px-0 {
    padding-left: 0 !important;
  }

  .pr-3,
  .px-3 {
    padding-right: 1rem !important;
  }

  .pt-3,
  .py-3 {
    padding-top: 1rem !important;
  }

  .pr-0,
  .px-0 {
    padding-right: 0 !important;
  }

  .pl-0,
  .px-0 {
    padding-left: 0 !important;
  }

  .h-100 {
    height: 100% !important;
  }

  .hero {
    position: relative;
    margin-left: 140px;
    margin-bottom: 32px;
    /*  width: calc(var(--cols) * (var(--width) + 2 * var(--gap))); */
    width: 850px;
    padding: 0 var(--gap);
  }

  .hero h1 {
    padding: 24px 0 8px;
    font-size: 24px;
  }

  .hero p {
    /*  margin-right: 140px; */
  }

  .hero li {
    width: 100%;
    padding-top: 10px;
  }

  .hero img {
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    height: 160px;
    top: 0;
    max-width: 45%;
    right: 10px;
    padding-right: 140px;
  }

  /* menu links */
  .menu__links {
    float: right;
    margin-top: 1.5rem;
  }

  ul.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

  ul.menu li {
    border-bottom: 1px solid var(--color-background-border);
    margin-right: 1.2rem;
  }

  ul.menu li a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  ul.menu-right {
    display: flex;
    float: right;
    list-style: none;
    padding-left: 0;
    margin-top: -20px;
  }

  ul.menu-right li {
    border-bottom: 1px solid var(--color-background-border);
    margin-right: 1.2rem;
  }

  ul.menu-right li a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  /* landing page tiles */
  .landing {
    width: 100%;
    max-width: 800px; /* Force to a maximum of 3 tiles wide */
    margin-top: 30px;
    text-align: center;
  }

  .landing .landing-title {
    text-align: center;
    font-size: 2em;
    margin: 0.67em 0;
  }

  .landing .landing-search {
    overflow: hidden;
    padding: 20px;
  }

  .landing .landing-search input[type="text"] {
    width: 640px;
    border-style: none;
    padding: 8px 12px;
    font-size: 16px;
    box-shadow: 0.5px 2px 4px 0 #bdbdbd;
  }
}

@media screen and (max-width: 728px) {
  .landing .landing-search input[type="text"] {
    width: 420px;
  }

  .tile {
    height: 100%;
  }
}

@media screen and (max-width: 508px) {
  .landing .landing-search {
    display: none;
  }

  .tile {
    margin: 0 0 20px 0;
  }
}

/* fonts */
@font-face {
  font-family: "Metric HPE";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: local("MetricHPEXS-Regular"),
    url("_static/fonts/MetricHPEXS-OTF/MetricHPEXS-Regular.otf")
      format("opentype");
}
@font-face {
  font-family: "Metric HPE";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: local("MetricHPEXS-Italic"),
    url("_static/fonts/MetricHPEXS-OTF/MetricHPEXS-Italic.otf")
      format("opentype");
}
@font-face {
  font-family: "Metric HPE";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local("MetricHPEXS-Bold"),
    url("_static/fonts/MetricHPEXS-OTF/MetricHPEXS-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: local("OpenSans-Regular"),
    url("_static/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: local("OpenSans-Italic"),
    url("_static/fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local("OpenSans-Bold"),
    url("_static/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
