/*! determined.css */

table.align-default {
    margin-left: inherit !important;
}
/* fonts */
@font-face {
    font-family: 'Museo Sans';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: local("MuseoSans_300"), url("../fonts/MuseoSans/otf/MuseoSans_300.otf") format("opentype");
}
@font-face {
    font-family: 'Museo Sans';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: local("MuseoSans_300_Italic"), url("../fonts/MuseoSans/otf/MuseoSans_300_Italic.otf") format("opentype");
}
@font-face {
    font-family: 'Museo Sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local("MuseoSans_700"), url("../fonts/MuseoSans/otf/MuseoSans_700.otf") format("opentype");
}
@font-face {
    font-family: 'Metric HPE';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: local("MetricHPEXS-Regular"), url("../fonts/MetricHPEXS-OTF/MetricHPEXS-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Metric HPE';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: local("MetricHPEXS-Italic"), url("../fonts/MetricHPEXS-OTF/MetricHPEXS-Italic.otf") format("opentype");
}
@font-face {
    font-family: 'Metric HPE';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local("MetricHPEXS-Bold"), url("../fonts/MetricHPEXS-OTF/MetricHPEXS-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: local("OpenSans-Regular"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: local("OpenSans-Italic"), url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local("OpenSans-Bold"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
