.base {
  background-color: var(--theme-colors-monochrome-17);
  margin: 0;
  padding: 12px;
  width: 100%;

  .breadcrumbs {
    border-bottom: 1px solid var(--theme-colors-monochrome-12);
    padding-bottom: 8px,
  }
  .headerContent {
    margin: 0 24px;

    .mainRow {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 12px 0;

      .title {
        align-items: center;
        display: flex;
        gap: var(--theme-sizes-layout-large);

        .versionBox {
          background-color: var(--theme-colors-monochrome-14);
          border-radius: 15%;
          height: min-content;
          padding: var(--theme-sizes-layout-medium);
          width: min-content;
        }
        .versionName {
          margin: 0;
        }
      }
      .buttons {
        display: flex;
        gap: 4px;
      }
    }
  }
}
.useNotebookModal {
  .topLine {
    display: flex;
    justify-content: space-between;
  }
  .codeSample {
    background-color: var(--theme-colors-monochrome-13);
    border: 1px solid var(--theme-colors-monochrome-11);
    border-radius: var(--theme-sizes-layout-tiny);
    padding: var(--theme-sizes-layout-medium);
    white-space: pre-wrap;

    code {
      padding: 0;
    }
  }
}
