.container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .node {
    align-items: flex-start;
    color: #6ba4f8;
    display: flex;
    flex-direction: column;

    .nodeName {
      color: inherit;
      font-size: var(--header-size-s);
      text-transform: uppercase;
    }
    .nodeCluster {
      align-items: center;
      border: 2px solid #6ba4f8;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      padding: 10px;

      .nodeSlot {
        background-color: #e7e7e6;
        height: 25px;
        margin-right: 10px;
        width: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
      .filled {
        background-color: #6ba4f8;
      }
    }
  }
}
