.base {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;

  .options {
    display: flex;
    flex: 1 0 0;
    gap: 8px;
    justify-content: flex-end;
    max-width: fit-content;

    .optionsMainButton {
      display: none;
    }
  }
  .optionsDropdown {
    border-color: transparent !important;
    color: var(--theme-stage-on);
    opacity: 0.9;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }
  :global(.ant-select-status-warning.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input)
      .ant-select-selector) {
    background-color: inherit !important;
  }
}
