.row {
  display: flex !important;

  .overflow {
    border: 1px solid var(--theme-colors-monochrome-12);
    padding: 6px;
  }
  & input {
    flex-basis: 45%;
    padding: 4px 6px;
  }
  & input:last-of-type {
    flex-grow: 1;
  }
}
