.base {
  align-items: center;
  display: flex;
  width: 100%;

  .experiment {
    color: var(--theme-colors-monochrome-17);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s;

    &:hover {
      color: var(--theme-colors-monochrome-17);
      opacity: 0.75;
    }
  }
  [class*=Icon_base_] {
    padding: 0 var(--theme-sizes-layout-medium);
  }
  .trial {
    align-items: center;
    display: flex;
  }
  .state {
    border-radius: 100px;
    display: inline-flex;
    font-size: var(--theme-sizes-font-micro);
    font-weight: 600;
    margin-right: var(--theme-sizes-layout-medium);
    padding: var(--theme-sizes-layout-tiny) var(--theme-sizes-layout-medium);
    text-transform: uppercase;
    vertical-align: top;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    .experiment {
      font-size: var(--theme-sizes-font-medium);
    }
    [class*=Icon_base_] { display: none; }
    .trial {
      font-size: var(--theme-sizes-font-medium);
      margin-top: var(--theme-sizes-layout-medium);
    }
  }
}
