.base {
  align-items: center;
  display: flex;
  width: 100%;

  .experiment {
    color: var(--theme-colors-monochrome-17);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s;

    &:hover {
      color: var(--theme-colors-monochrome-17);
      opacity: 0.75;
    }
  }
  [class*='Icon_base_'] {
    padding: 0 8px;
  }
  .trial {
    align-items: center;
    display: flex;
    gap: 4px;
  }
  .state {
    border-radius: 100px;
    display: inline-flex;
    font-size: 10px;
    font-weight: 600;
    margin-right: 8px;
    padding: 4px 8px;
    text-transform: uppercase;
    vertical-align: top;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    .experiment {
      font-size: 14px;
    }
    [class*='Icon_base_'] {
      display: none;
    }
    .trial {
      font-size: 14px;
      margin-top: 8px;
    }
  }
}
