.base {
  align-items: center;
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 24px;
  justify-content: center;
  width: 24px;
}
.large {
  font-size: 24px;
  height: 64px;
  width: 64px;
}
