[Unit]
Description=Determined master

[Service]
# The first time the `determined-db` service is started, it runs `initdb`,
# which takes a few seconds to complete. By default, systemd only waits
# 100ms before attempting to restart a failed service and only allows 5
# failed start attempts in 10 seconds before declaring the service
# failed. We arrange to try starting the master once per second, and try
# 15 times in a 20 second interval before giving up.
StartLimitBurst=15
StartLimitInterval=20
RestartSec=1
Restart=always
TimeoutStartSec=0
ExecStart=/usr/local/bin/determined-ee-master

[Install]
WantedBy=multi-user.target
