.modalContent {
  padding-bottom: 15px;
  padding-top: 15px;
}
.note {
  background-color: var(--theme-colors-monochrome-14);
  border: 1px solid var(--theme-colors-monochrome-12);
  margin-bottom: 4px;
  padding: 2;
  text-align: center;
}
.loading {
  padding: var(--theme-sizes-layout-mega);
}
.line {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
.line p {
  margin: 0;
  min-width: 100px;
}
.line > :not(p) {
  flex-grow: 1;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.noFooter :global(.ant-modal-confirm-btns) {
  display: none;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  
  button + button {
    margin-left: 8px;
  }
}
