.base {
  display: flex;
  flex-direction: column;
  gap: var(--theme-sizes-layout-big);

  .label {
    color: var(--theme-colors-monochrome-7)
  }
  .emptyContainer {
    border: 1px solid var(--theme-colors-monochrome-10);
    border-radius: var(--theme-sizes-border-radius);
    display: grid;
    height: 200px;
    place-content: center;
  }
  .listContainer {
    border: 1px solid var(--theme-colors-monochrome-10);
    border-radius: var(--theme-sizes-border-radius);
      
    ul {
      height: 200px;
      list-style-type: none;
      margin-bottom: 0;
      overflow-y: auto;
      padding-left: 0;
      padding-top: var(--theme-sizes-layout-small);

      li {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding-inline: var(--theme-sizes-layout-small);

        &:hover {
          background-color: var(--theme-colors-monochrome-16);
        }
        mark {
          background-color: #faed27;
          padding: 0;
        }
      }
    }
  }
}
.workspaceOptionDisabled {
  display: flex;
  justify-content: space-between;

  span {
    color: var(--theme-colors-monochrome-10);
  }
}
