.modal:global(.ant-modal) :global(.ant-modal-body) {
  padding: 0 !important;

  :global(.ant-modal-confirm-title) {
    border-bottom: solid var(--theme-stroke-width) var(--theme-surface-border);
    padding: 16px;
  }
  :global(.ant-modal-confirm-content) {
    margin: 0;
  }
  :global(.ant-modal-confirm-btns) {
    display: none;
  }
  :global(.ant-form-item-explain) {
    display: none;
  }
  .base {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    
    :global(.ant-form-item) { margin: 0; }
    :global(.ant-input-number) { width: 100%; }
    .fullWidth {
      width: 100%;
    }
    .poolRow {
      display: flex;
      gap: 8px;
    
      & :first-child {
        flex-grow: 1;
      }
    }
    .lengthRow {
      display: flex;
      gap: 8px;
    
      & > div {
        flex: 1;
      }
    }
    .searchTitle {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .searcherDescription {
      color: var(--theme-stage-on-weak);
    }
    .hyperparameterContainer {
      display: grid;
      gap: 8px;

      
      .hyperparameterName * {
        overflow: hidden;
      }
      h2 {
        border-bottom: solid var(--theme-stroke-width) var(--theme-surface-border);
        font-size: 1rem;
        margin: 0;
        text-align: center;
      }
      h3 {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
      }
    }
    p { margin: 0; }
    label {
      width: 100%;
    }
  }
  .footer {
    border-top: solid var(--theme-stroke-width) var(--theme-surface-border);
    display: flex;
    flex-direction: row;
    padding-block: 8px;
    padding-inline: 16px;
    
    .spacer {
      flex-grow: 1;
    }
  }
  .error {
    color: #ff4d4f; //antd error color
    font-size: 12px;
    grid-column: 1 / -1;
    margin-block: -8px !important;
  }
  .warning {
    color: #faad14; //antd warning color
    font-size: 12px;
    grid-column: 1 / -1;
    margin-block: -8px !important;
  }
}
