.noFooter :global(.ant-modal-confirm-btns) {
  display: none;
}
.buttons {
  display: flex;
  justify-content: flex-end;

  button + button {
    margin-left: 8px;
  }
}
.base {
  :global(.ant-form-item-explain-error) {
    display: block;
  }
}
