.base {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;

  .radioGroup {
    background-color: var(--theme-colors-monochrome-13);
    border: solid var(--theme-stroke-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-border-radius);
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding: 8px;
  }
}
.alert {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;

  .alertSpinner { flex-grow: 1; }
}

// from compare

// .base {
//   height: 100%;

//   .container {
//     min-height: 200px;
//   }

//   .chart {
//     height: 400px;
//   }
// }

// .waiting {
//   height: 300px;
// }
