.base {
  background-color: var(--theme-background);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  width: 100%;
}

// .topLevelContainer {
//   display: flex;
//   flex-direction: column;
// }
