.base {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .body {
    display: flex;
    flex-grow: 1;

    & > *:first-child { flex-grow: 0; }
    & > *:last-child {
      flex-grow: 1;
      height: calc(100vh - var(--theme-sizes-navbar-height));
      overflow: auto;
    }
  }
}
.noChrome {
  .body > *:last-child { height: 100vh; }
}
