/* linaria:data-grid-overlay-editor-style_115vs9w.linaria.css */

.d1t1th9s {
  --overlay-top: var(--d1t1th9s-0);
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--gdg-font-family);
  font-size: var(--gdg-editor-font-size);
  left: var(--d1t1th9s-1);
  max-height: calc(100vh - var(--d1t1th9s-5));
  max-width: 400px;
  min-height: var(--d1t1th9s-4);
  min-width: var(--d1t1th9s-3);
  overflow: hidden;
  position: absolute;
  text-align: start;
  top: var(--d1t1th9s-2);
  width: max-content;
  width: max-content;
}

@keyframes glide_fade_in-d1t1th9s {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes glide_fade_in-d1t1th9s {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.d1t1th9s.gdg-style {
  -webkit-animation: glide_fade_in-d1t1th9s 60ms 1;
  animation: glide_fade_in-d1t1th9s 60ms 1;
  background-color: var(--gdg-bg-cell);
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--gdg-accent-color), 0 0 1px rgb(62 65 86 / 40%),
    0 6px 12px rgb(62 65 86 / 15%);
}
.d1t1th9s.pad {
  padding: var(--d1t1th9s-6) 8.5px 3px;
}
.d1t1th9s .clip-region {
  border-radius: 2px;
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.d1t1th9s .clip-region .gdg-growing-entry {
  height: 100%;
}
.d1t1th9s .clip-region input.gdg-input {
  border: none;
  border-width: 0;
  outline: none;
  width: 100%;
}
.d1t1th9s .clip-region textarea.gdg-input {
  border: none;
  border-width: 0;
  outline: none;
}

/* linaria:scrolling-data-grid_zcytub.linaria.css */

.m15w2ly5 {
  background: linear-gradient(var(--gdg-bg-cell), var(--gdg-bg-cell-medium));
  background-color: var(--gdg-bg-cell);
  border-radius: 4px;
  bottom: 44px;
  box-shadow: 0 0 0 1px var(--gdg-border-color), 0 2px 5px rgb(0 0 0 / 8%);
  overflow: hidden;
  position: absolute;
  right: 44px;
  z-index: 1;
}
.m15w2ly5 .header {
  background-color: var(--gdg-bg-header);
  box-shadow: 0 0 0 1px var(--gdg-border-color);
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.m15w2ly5 .locationMarker {
  background-color: var(--gdg-accent-light);
  border: 1px solid var(--gdg-accent-color);
  position: absolute;
}

/* linaria:infinite-scroller_1qseojb.linaria.css */

.s1jz82f8 .dvn-scroller {
  overflow: var(--s1jz82f8-0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.s1jz82f8 .hidden {
  visibility: hidden;
}
.s1jz82f8 .dvn-scroll-inner {
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  pointer-events: none;
}
.s1jz82f8 .dvn-scroll-inner > * {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.s1jz82f8 .dvn-scroll-inner .dvn-spacer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
}
.s1jz82f8 .dvn-scroll-inner .dvn-stack {
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.s1jz82f8 .dvn-underlay > * {
  left: 0;
  position: absolute;
  top: 0;
}
.s1jz82f8 canvas {
  outline: none;
}
.s1jz82f8 canvas * {
  height: 0;
}

/* linaria:data-grid-search-style_jgiiup.linaria.css */

.sxep88s {
  background-color: var(--gdg-bg-cell);
  border: 1px solid var(--gdg-border-color);
  border-radius: 6px;
  color: var(--gdg-text-dark);
  font-size: var(--gdg-editor-font-size);
  padding: 8px;
  position: absolute;
  right: 20px;
  top: 4px;
  -webkit-transform: translateX(var(--sxep88s-0));
  -ms-transform: translateX(var(--sxep88s-0));
  transform: translateX(var(--sxep88s-0));
  -webkit-transition: -webkit-transform 0.15s;
  -webkit-transition: transform 0.15s;
  transition: transform 0.15s;
}
.sxep88s .search-bar-inner {
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
}
.sxep88s .search-status {
  font-size: 11px;
  padding-top: 4px;
}
.sxep88s .search-progress {
  background-color: var(--gdg-text-light);
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
}
.sxep88s input {
  background-color: var(--gdg-bg-cell);
  border: none;
  border-width: 0;
  color: var(--gdg-textDark);
  outline: none;
  width: 220px;
}
.sxep88s button {
  -webkit-align-items: center;
  align-items: center;
  background: none;
  border: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: var(--gdg-text-medium);
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 24px;
  -webkit-justify-content: center;
  justify-content: center;
  outline: none;
  padding: 0;
  width: 24px;
}
.sxep88s button:hover {
  color: var(--gdg-text-dark);
}
.sxep88s button .button-icon {
  height: 16px;
  width: 16px;
}
.sxep88s button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* linaria:group-rename_yc2zuw.linaria.css */

.r1kzy40b {
  background-color: var(--gdg-bg-header-has-focus);
  border: none;
  border-radius: 9px;
  -webkit-box-flex: 1;
  box-shadow: 0 0 0 1px var(--gdg-border-color);
  color: var(--gdg-text-group-header);
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  font: var(--gdg-header-font-style) var(--gdg-font-family);
  min-height: var(--r1kzy40b-0);
  outline: none;
  padding: 0 8px;
}
.c1sqdbw3 {
  -webkit-align-items: center;
  align-items: center;
  background-color: var(--gdg-bg-header);
  -webkit-box-align: center;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  padding: 0 8px;
}

/* linaria:data-grid-container_gfrgfn.linaria.css */

.wzg2m5k {
  contain: strict;
  height: var(--wzg2m5k-1);
  max-height: 100%;
  max-width: 100%;
  min-height: 10px;
  min-width: 10px;
  overflow: hidden;
  overflow: clip;
  position: relative;
  width: var(--wzg2m5k-0);
}
.wzg2m5k > :first-child {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* linaria:bubbles-overlay-editor-style_1022dut.linaria.css */

.b1bqsp5z {
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.b1bqsp5z .boe-bubble {
  -webkit-align-items: center;
  align-items: center;
  background-color: var(--gdg-bg-bubble);
  border-radius: 100px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: var(--gdg-text-dark);
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 20px;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 2px;
  padding: 0 8px;
}
.b1bqsp5z textarea {
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0;
}

/* linaria:drilldown-overlay-editor_1gv6dry.linaria.css */

.df2kt4a {
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.df2kt4a .doe-bubble {
  -webkit-align-items: center;
  align-items: center;
  background-color: var(--gdg-bg-cell);
  border-radius: 100px;
  border-radius: 6px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  box-shadow: 0 0 1px rgb(62 65 86 / 40%), 0 1px 3px rgb(62 65 86 / 40%);
  color: var(--gdg-text-dark);
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 24px;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 2px;
  padding: 0 8px;
}
.df2kt4a .doe-bubble img {
  height: 16px;
  margin-right: 4px;
  object-fit: contain;
}
.df2kt4a textarea {
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0;
}

/* linaria:image-overlay-editor-style_sojiwi.linaria.css */

.i1eozt10 {
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  height: 100%;
}
.i1eozt10 .centering-container {
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.i1eozt10 .centering-container img,
.i1eozt10 .centering-container canvas {
  max-height: calc(100vh - var(--overlay-top) - 20px);
  object-fit: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.i1eozt10 .centering-container canvas {
  max-width: 380px;
}
.i1eozt10 .edit-icon {
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: var(--gdg-accent-color);
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 48px;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 12px;
  width: 48px;
}
.i1eozt10 .edit-icon > * {
  height: 24px;
  width: 24px;
}
.i1eozt10 textarea {
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0;
}

/* linaria:markdown-container_kvmc63.linaria.css */

.mlbeo71 {
  padding-top: 6px;
  -webkit-touch-callout: default;
  word-break: break-word;
}
.mlbeo71 > * {
  margin: 0;
}
.mlbeo71 *:last-child {
  margin-bottom: 0;
}
.mlbeo71 p img {
  width: 100%;
}

/* linaria:growing-entry-style_ycxqui.linaria.css */

.ijuk0po {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  bottom: 0;
  color: var(--gdg-text-dark);
  font-family: var(--gdg-font-family);
  font-size: var(--gdg-editor-font-size);
  height: 100%;
  left: 0;
  line-height: 16px;
  margin: 0;
  min-width: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  resize: none;
  right: 0;
  top: 0;
  white-space: pre-wrap;
  width: 100%;
}
.ijuk0po::input-placeholder {
  color: var(--gdg-text-light);
}
.ijuk0po::placeholder {
  color: var(--gdg-text-light);
}
.ijuk0po:input-placeholder {
  color: var(--gdg-text-light);
}
.ijuk0po::placeholder {
  color: var(--gdg-text-light);
}
.invalid .ijuk0po {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-decoration-color: #d60606;
  text-decoration-color: #d60606;
}
.saq3p5l {
  color: var(--gdg-text-dark);
  font-family: var(--gdg-font-family);
  font-size: var(--gdg-editor-font-size);
  line-height: 16px;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  padding-bottom: 2px;
  visibility: hidden;
  white-space: pre-wrap;
  width: max-content;
  width: max-content;
  word-wrap: break-word;
}
.gf8vzix {
  margin-top: 6px;
  position: relative;
}

/* linaria:markdown-overlay-editor-style_nbv04l.linaria.css */

.mdwzdl1 {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -webkit-box-pack: justify;
  color: var(--gdg-text-dark);
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: flex-start;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-width: var(--mdwzdl1-0);
  position: relative;
  width: 100%;
}
.mdwzdl1 .gf8vzix {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  min-width: 0;
}
.mdwzdl1 .spacer {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.mdwzdl1 .edit-icon {
  -webkit-align-items: center;
  align-items: center;
  border-radius: 6px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: var(--gdg-accent-color);
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-negative: 0;
  -ms-flex-pack: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 24px;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0;
  position: relative;
  -webkit-transition: all '0.125s ease';
  transition: all '0.125s ease';
  width: 24px;
}
.mdwzdl1 .edit-icon > * {
  height: 16px;
  width: 16px;
}
.mdwzdl1 .edit-hover:hover {
  background-color: var(--gdg-accent-light);
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}
.mdwzdl1 .checkmark-hover:hover {
  background-color: var(--gdg-accent-color);
  color: #fff;
}
.mdwzdl1 .md-edit-textarea {
  height: 0;
  left: 0;
  margin-top: 25px;
  opacity: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 0;
}
.mdwzdl1 .ml-6 {
  margin-left: 6px;
}

/* linaria:number-overlay-editor-style_1i1z3n.linaria.css */

.n1czszh3 {
  color: var(--gdg-text-dark);
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  margin: 6px 0 3px;
}
.n1czszh3 > input {
  background-color: var(--gdg-bg-cell);
  color: var(--gdg-text-dark);
  font-family: var(--gdg-font-family);
  font-size: var(--gdg-editor-font-size);
  padding: 0;
}

/* linaria:uri-overlay-editor-style_nguq6d.linaria.css */

.uf0sjo8 {
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  min-height: 21px;
}
.uf0sjo8 .link-area {
  -webkit-box-flex: 1;
  color: var(--gdg-link-color);
  cursor: pointer;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  -ms-flex-positive: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  margin-right: 8px;
  overflow: hidden;
  -webkit-text-decoration: underline !important;
  text-decoration: underline !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uf0sjo8 .edit-icon {
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: var(--gdg-accent-color);
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-negative: 0;
  -ms-flex-pack: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-justify-content: center;
  justify-content: center;
  width: 32px;
}
.uf0sjo8 .edit-icon > * {
  height: 24px;
  width: 24px;
}
.uf0sjo8 textarea {
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0;
}
