# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  win: circleci/windows@2.3.0

executors:
  python-35:
    docker:
      - image: python:3.5.9
  python-36:
    docker:
      - image: python:3.6.9
  python-37:
    docker:
      - image: python:3.7.7

commands:
  install-node:
    description: Install Node 12.x
    steps:
      - run: apt-get update && apt-get install -y apt-transport-https
      - run: curl -fsSL https://deb.nodesource.com/setup_12.x | bash -
      - run: apt-get update && apt-get install -y nodejs
  install-go:
    description: Install Go 1.13.1
    steps:
      - run: curl -fsSL https://dl.google.com/go/go1.13.1.linux-amd64.tar.gz | tar -C /usr/local -xzf -
  restore-python-cache:
    description: Restore Python dependency cache
    steps:
      - restore_cache:
          keys:
            - det-py-deps-v1dev-{{ checksum  "combined-reqs.txt" }}
  restore-go-cache:
    description: Restore Go dependency cache
    steps:
      - restore_cache:
          keys:
            - det-go-deps-v1dev-{{ checksum  "master/go.sum" }}-{{ checksum  "agent/go.sum" }}
  restore-elm-cache:
    description: Restore Elm dependency cache
    steps:
      - restore_cache:
          keys:
            - det-elm-deps-v1dev-{{ checksum  "webui/elm/package-lock.json" }}
  restore-react-cache:
    description: Restore React dependency cache
    steps:
      - restore_cache:
          keys:
            - det-react-deps-v1dev-{{ checksum  "webui/react/package-lock.json" }}
  save-python-cache:
    description: Save Python dependency cache
    steps:
      - save_cache:
          key: det-py-deps-v1dev-{{ checksum  "combined-reqs.txt" }}
          paths:
            - "/tmp/venv"
  save-go-cache:
    description: Save Go dependency cache
    steps:
      - save_cache:
          key: det-go-deps-v1dev-{{ checksum  "master/go.sum" }}-{{ checksum  "agent/go.sum" }}
          paths:
            - "/go/pkg/mod/"
  save-elm-cache:
    description: Save Elm dependency cache
    steps:
      - save_cache:
          key: det-elm-deps-v1dev-{{ checksum  "webui/elm/package-lock.json" }}
          paths:
            - "webui/elm/node_modules"
  save-react-cache:
    description: Save React dependency cache
    steps:
      - save_cache:
          key: det-react-deps-v1dev-{{ checksum  "webui/react/package-lock.json" }}
          paths:
            - "webui/react/node_modules"
  python-venv-setup:
    description: Create Python venv and install combined dependencies.
    steps:
      - run: python3.6 -m venv /tmp/venv
      - run: pip install --upgrade pip\<20
      - restore-python-cache
      - run: pip install combined-reqs.txt
      - save-python-cache


jobs:
  test-cli:
    parameters:
      executor-name:
        type: string
    executor: << parameters.executor-name >>
    steps:
      - checkout
      - run: cd common; python setup.py bdist_wheel -d ../build
      - run: cd cli; python setup.py bdist_wheel -d ../build
      - run: pip install --find-links=build determined-common determined-cli
      # Ensure Determined cli can run without installing cli test requirements
      - run: det --help
      - run: pip install -r tests/cli/requirements.txt
      - run: pytest tests/cli

  build-and-test:
    docker:
      - image: python:3.6.9-stretch
        environment:
          GO111MODULE: "on"
          PATH: /tmp/venv/bin:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/go/bin

    steps:
      - run: python3.6 -m venv /tmp/venv
      - install-node
      - install-go

      - checkout

      - restore-python-cache
      - restore-go-cache
      - restore-elm-cache
      - restore-react-cache
      - run: make get-deps
      - save-python-cache
      - save-go-cache
      - save-elm-cache
      - save-react-cache

      - run: make -C webui/elm build
      - run: make -C webui/react build
      - run: make debs

      - run: make check-commit-messages
      - run: make -C master check
      - run: make -C agent check
      - run: make -C webui/react check
      - run: make -C webui/elm check

      - run: make -C master test
      - run: make -C agent test
      - run: make -C webui/react test
      - run: make -C webui/elm test

  lint-python:
    docker:
      - image: python:3.6.9
    environment:
      PATH: /tmp/venv/bin:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    steps:
      - python-venv-setup
      - run: make check-python

  test-unit-harness:
    docker:
      - image: python:3.6.9
    environment:
      PATH: /tmp/venv/bin:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    steps:
      - python-venv-setup
      - run: make test-harness

  test-unit-harness-tf2:
    docker:
      - image: python:3.6.9
    environment:
      PATH: /tmp/venv/bin:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    steps:
      - python-venv-setup
      - run: pip install tensorflow==2.1
      - run: make test-tf2

workflows:
  test-cli:
    jobs:
      - test-cli:
          matrix:
            parameters:
              executor-name: ["python-35", "python-36", "python-37", "win/default"]
  test-unit:
    jobs:
      - build-and-test
      - test-unit-harness
      - test-unit-harness-tf2
  lint:
    jobs:
      - lint-python
