.base {
  height: 100%;

  .container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    min-height: 200px;
    width: 100%;
  }
  .container > [class*='Message_base'] {
    height: 400px;
  }
  .charts {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    width: 100%;
  }
  .legend {
    border-bottom: solid var(--theme-stroke-width) var(--theme-colors-monochrome-12);
    flex-shrink: 0;
    padding: 12px;
    width: 100%;
  }
  :global(.u-title) {
    word-break: break-all;
  }
}
