.base {
  height: 100%;
  
  .container {
    min-height: 20rem;
  }
  .container > [class*=Message_base] {
    height: 40rem;
  }
  .charts {
    overflow: auto;
    padding: var(--theme-sizes-layout-large);
    position: relative;
  }
  .legend {
    border-bottom: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    padding: var(--theme-sizes-layout-large);
  }
}
