.base {
  .container {
    background-color: var(--theme-colors-monochrome-17);
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    min-height: 40rem;
    padding: var(--theme-sizes-layout-large);
    position: relative;
  }
  .container > [class*=Message_base] {
    height: 40rem;
  }
}
