.base {
  height: 100%;

  .container {
    min-height: 200px;
    position: relative;
  }
  .container > [class*='Message_base'] {
    height: 400px;
  }
  :global(.u-title) {
    word-break: break-all;
  }
}
