.base {
  .container {
    background-color: var(--theme-colors-monochrome-17);
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    min-height: 40rem;
    overflow: auto;
    position: relative;
  }
  .container > [class*=Message_base] {
    height: 40rem;
  }
  .grid {
    border-left: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-top: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    display: inline-block;
    margin: var(--theme-sizes-layout-large);
  }
  .row {
    display: table-row;
  }
  .item {
    border-color: var(--theme-colors-monochrome-12);
    border-style: solid;
    border-width: 0 var(--theme-sizes-border-width) var(--theme-sizes-border-width) 0;
    display: table-cell;
    position: relative;
    z-index: 0;
  }
  .item:hover::after {
    border: solid var(--theme-sizes-border-width) var(--theme-colors-action-normal);
    content: '';
    height: calc(100% + var(--theme-sizes-border-width) * 2);
    left: calc(-1 * var(--theme-sizes-border-width));
    pointer-events: none;
    position: absolute;
    top: calc(-1 * var(--theme-sizes-border-width));
    width: calc(100% + var(--theme-sizes-border-width) * 2);
    z-index: 1;
  }
}
