.base {
  background-color: var(--theme-colors-monochrome-17);
  border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
  border-radius: var(--theme-sizes-border-radius);
  height: 40rem;
}
