.buttonLabel {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  margin: 0 var(--spacing-md);
  text-transform: uppercase;
}
.backgroundIcon {
  left: 3px;
  position: absolute;
  top: 3px;
}
.id {
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
}
