.base {
  display: flex;
  flex-direction: column;
  height: 100%;

  .radioGroup {
    background-color: var(--theme-colors-monochrome-13);
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    display: flex;
    justify-content: center;
    margin-bottom: var(--theme-sizes-layout-big);
    padding: var(--theme-sizes-layout-medium);
  }
}
