.base {
  align-items: center;
  display: flex;

  .experimentInfo {
    align-items: center;
    display: flex;
  }
  .experimentState {
    align-items: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 8px;
    padding: 4px;

    .buttonPlay i {
      margin-left: 3px;
    }
    .buttonStop {
      border-color: transparent;
    }
    .buttonPause:hover,
    .buttonPlay:hover,
    .buttonStop:hover {
      color: inherit;
      opacity: 0.75;
    }
    .buttonPause:hover,
    .buttonPlay:hover {
      border-color: inherit;
    }
    .state {
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .experimentId {
    border-right: var(--theme-sizes-border-width) solid var(--theme-colors-monochrome-17);
    flex-shrink: 0;
    overflow: hidden;
    padding-right: 6px;
    text-overflow: ellipsis;
  }
  .experimentName {
    flex-shrink: 1;
    opacity: 0.75;
    overflow: hidden;
    padding-left: 6px;
    text-overflow: ellipsis;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    .experimentInfo {
      width: 100%;
    }
    .experimentId {
      border-right: 0;
      flex-shrink: 1;
      font-size: 14px;
      width: 100%;
    }
    .experimentName {
      font-size: 14px;
    }
    .trial {
      font-size: 14px;
    }
  }
}
.foldableSection {
  display: flex;
  flex-direction: column;
  width: 100%;

  .foldableItem {
    display: flex;
    line-height: 32px;
    white-space: nowrap;
    word-break: break-all;
  }
  .foldableItemLabel {
    display: inline-block;
    line-height: 32px;
    opacity: 0.75;
    padding-right: 6px;
  }
  .link {
    color: inherit;
  }
}
