.base {
  display: flex;
  flex-direction: column;
  height: 100%;

  .radioGroup {
    background-color: var(--theme-colors-monochrome-13);
    border: solid var(--theme-stroke-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-border-radius);
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding: 8px;
  }
}
.alert {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}
