$border-color: var(--theme-surface-border);

.base {
  border: 1px solid $border-color;
  border-radius: var(--theme-border-radius);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 75vh;
  overflow: auto;

  .row {
    align-items: center;
    border-bottom: 1px solid $border-color;
    display: grid;
    grid-auto-columns: minmax(160px, 1fr);
    grid-auto-flow: column;
    grid-template-columns: 170px repeat(auto-fill, minmax(160px, 1fr));
    justify-content: space-between;
    min-width: fit-content;
  }
  .row.header {
    background-color: var(--theme-stage);
  }
  .row.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .row.spanAll {
    display: flex;
    left: 0;
    position: sticky;
  }
  .cell {
    align-items: center;
    background-color: var(--theme-stage);
    display: flex;
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > * {
      max-width: 100%;
    }
  }
  .cell.blank {
    height: 100%;
  }
  .cell.header {
    background-color: var(--theme-stage);
  }
  .cell.sticky {
    border-right: 1px solid $border-color;
    left: 0;
    position: sticky;
  }
  .cell.indent {
    padding-left: 20px;
  }
  .cell.spanAll {
    border-right: 0;
    left: 0;
    position: sticky;
  }
  .row.header > .cell {
    background-color: var(--theme-stage);
  }
  .trialTag {
    font-size: 14px;

    :hover {
      color: var(--theme-status-active);
    }
  }
}
