.base {
  background-color: var(--theme-background);
  border: 1px solid var(--theme-surface-border);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  .row {
    align-items: center;
    border-bottom: 1px solid var(--theme-surface-border);
    display: grid;
    grid-auto-columns: minmax(160px, 1fr);
    grid-auto-flow: column;
    grid-template-columns: 170px repeat(auto-fill, minmax(160px, 1fr));
    justify-content: space-between;
    min-width: fit-content;

    & > div:first-child {
      background-color: var(--theme-stage);
    }
  }
  .row.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .row.spanAll {
    display: flex;
    left: 0;
    position: sticky;
  }
  .cell {
    align-items: center;
    display: flex;
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > * {
      margin: 0;
      max-width: 100%;
    }
  }
  .cell.blank {
    height: 100%;
  }
  .cell.sticky {
    border-right: 1px solid var(--theme-surface-border);
    left: 0;
    position: sticky;
  }
  .cell.indent {
    padding-left: 20px;
  }
  .cell.spanAll {
    border-right: 0;
    left: 0;
    position: sticky;
  }
  .trialTag {
    font-size: 14px;

    & * {
      margin: 0;
    }
    :hover {
      color: var(--theme-status-active);
    }
  }
}
