.base {
  border: 1px solid var(--theme-colors-monochrome-14);
  border-radius: var(--theme-sizes-border-radius);
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
  height: 75vh;
  overflow-x: scroll;

  %tableRow {
    align-items: center;
    border-bottom: 1px solid var(--theme-colors-monochrome-14);
    display: grid;
    grid-auto-columns: minmax(160px, 1fr);
    grid-auto-flow: column;
    grid-template-columns: 170px repeat(auto-fill, minmax(160px, 1fr));
    height: 50px;
    justify-content: space-between;
    padding: var(--theme-sizes-layout-tiny) var(--theme-sizes-layout-big);

    & > * { margin: 0; }
  }
  h2,
  h3 {
    font-size: 14px;
  }
  .row {
    h3:first-child {
      margin-right: 5px;
    }

    @extend %tableRow;
  }
  .tableBody {
    overflow: auto;
  }
  .headerRow {
    background-color: var(--theme-colors-monochrome-16);
    border-bottom: 1px solid var(--theme-colors-monochrome-14);

    @extend %tableRow;
  }
  .centerVertically {
    align-items: center;
    display: flex;
  }
  .checkpointButton {
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    width: fit-content;
  }
  .trialTag {
    font-size: 14px;
    width: fit-content;

    a {
      margin: 0;
      padding-right: var(--theme-sizes-layout-small);
    }
    :hover {
      color: var(--theme-colors-action-normal);
    }
  }
}
