.base {
  height: 100%;
  overflow: auto;

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: fit-content;

    tr {
      border-bottom: 1px solid var(--theme-surface-border);

      &:nth-child(even) {
        background-color: var(--theme-surface-weak);
      }
      &:nth-child(odd) {
        background-color: var(--theme-surface-strong);
      }
    }
    th,
    td {
      padding: 8px;
      width: 180px;
    }
    .tableSelectCell {
      padding: unset;

      > .tableSelectContainer {
        left: 0;
        padding: 8px 16px;
        position: sticky;
        width: fit-content;
      }
    }
    thead > tr:first-of-type {
      background-color: var(--theme-background);
      position: sticky;
      top: 0;
      z-index: 10;
    }
    th:first-of-type {
      background-color: var(--theme-background);
      left: 0;
      position: sticky;
      text-align: left;
      width: 200px;
    }
  }
  .trialTag {
    font-size: 14px;

    & * {
      margin: 0;
    }
    :hover {
      color: var(--theme-status-active);
    }
  }
}
