# Based on https://github.com/chromium/badssl.com/blob/master/certs/src/conf/ca-untrusted-root.conf
[ req ]
default_bits = 4096
default_md = sha256
distinguished_name = req_distinguished_name
encrypt_key = no
prompt = no
x509_extensions = req_v3_ca

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = California
localityName = San Francisco
organizationName = Determined AI
commonName = Determined AI Test Certificate Authority

[ req_v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = CA:true
keyUsage = cRLSign, keyCertSign
