# pytest 6.0 has linter-breaking changes
pytest>=6.0.1
mypy==1.5.1
# responses 0.23.2 requires urllib3>=2, which breaks several other dependencies
responses!=0.23.2
requests_mock
coverage
deepspeed==0.8.3
transformers>=4.8.2,<4.29.0
torch==1.11.0
torchvision==0.12.0
tensorflow==2.12.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos==2.11.0; sys_platform == 'darwin' and platform_machine == 'arm64'
attrdict3
moto
# Pydantic V2 has changes that break existing tests
pydantic<2
