.base {
  font-size: 0;

  :global(.ant-progress-inner) {
    background-color: var(--theme-colors-monochrome-12);
    border-radius: 0;
    height: 4px;
  }
  :global(.ant-progress-bg) {
    border-radius: 0;
  }
}
