# pytest 6.0 has linter-breaking changes
pytest>=6.0.1
mypy==0.910
coverage

# install transformers and datasets
transformers==4.8.2
datasets==1.9.0

# install mmcv and mmdet
mmdet==2.21.0
-f https://download.openmmlab.com/mmcv/dist/cpu/torch1.9.0/index.html
mmcv-full==1.4.5
