.base {
  margin: 0 auto;
  max-width: $breakpoint-mobile;
  padding: 32px 16px;
  width: 100%;

  .avatar {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  label {
    color: var(--theme-surface-on-weak);
  }
  .info {
    color: var(--theme-surface-on);
    padding: 0 8px;
  }
}
