apiVersion: v1
kind: Service
metadata:
  name: genai-service-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: genai-{{ .Release.Name }}
    release: {{ .Release.Name }}
spec:
  ports:
  - port: {{ required "A valid Values.genai.port entry required!" .Values.genai.port }}
    targetPort: {{ .Values.genai.port }}
    protocol: TCP
  type: {{ if (.Values.useNodePortForMaster | default false) }}NodePort{{ else }}LoadBalancer{{ end }}
  selector:
    app: genai-{{ .Release.Name }}