apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    component: scheduler
    tier: control-plane
    release: coscheduler-{{ .Release.Name }}
  name: coscheduler
  namespace: kube-system
spec:
  selector:
    matchLabels:
      component: scheduler
      tier: control-plane
  replicas: 1
  template:
    metadata:
      labels:
        component: scheduler
        tier: control-plane
    spec:
      serviceAccountName: coscheduler
      containers:
      - command:
        - kube-scheduler
        - -v=3
        - --leader-elect=false
        - --scheduler-name=coscheduler
        - --config=/etc/config/config.yaml
        name: coscheduler
        image: k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.18.9
        imagePullPolicy: "Always"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 10251
          initialDelaySeconds: 15
        readinessProbe:
          httpGet:
            path: /healthz
            port: 10251
        resources:
          requests:
            cpu: '0.1'
        securityContext:
          privileged: false
        volumeMounts:
          - name: scheduler-config-volume
            mountPath: /etc/config
      hostNetwork: false
      hostPID: false
      volumes:
        - name: scheduler-config-volume
          configMap:
            name: scheduler-config
