.base {
  flex: 1 1 auto;
  flex-grow: 1;
  height: 100%;
}
.tabPane {
  display: flex;
  flex-direction: column;
  height: 100%;
}
:global(.ant-spin-container) {
  display: flex;
  flex-direction: column;
}
