.base:global(.ant-modal) {
  & > :global(.ant-modal-content) {
    & > :global(.ant-modal-body) {
      padding: 0;

      :global(.ant-modal-confirm-title) {
        border-bottom: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-14);
        height: 56px;
        padding: var(--theme-sizes-layout-big);
      }
      :global(.ant-modal-confirm-content) {
        margin: 0;
      }
      :global(.ant-modal-confirm-btns) {
        align-items: center;
        border-top: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-14);
        display: flex;
        height: 56px;
        justify-content: flex-end;
        margin: 0;
        padding: 0 var(--theme-sizes-layout-big);
        width: 100%;
      }
    }
  }
  .error {
    margin: var(--theme-sizes-layout-large);
  }
  .form {
    margin: var(--theme-sizes-layout-large);
  }
  .loading {
    padding: var(--theme-sizes-layout-mega);
  }
  .title {
    align-items: center;
    display: flex;
  }
  .title > i {
    margin-right: var(--theme-sizes-layout-medium);
  }
}
