.base {
  display: flex;
  flex-direction: column;
  gap: var(--theme-sizes-layout-big);

  .directions {
    margin: 0;
  }
  .expandDetails {
    color: var(--theme-colors-action-normal);
    cursor: pointer;
    margin: 0;
  }
  .separator {
    border: var(--theme-colors-monochrome-12) 1px solid;
  }
  .selectModelRow {
    display: flex;
    justify-content: space-between;

    p {
      color: var(--theme-colors-action-normal);
      cursor: pointer;
      margin: 0;
    }
  }
  h2 {
    color: var(--theme-colors-monochrome-5);
    font-size: var(--theme-sizes-font-medium);

    span {
      color: var(--theme-colors-monochrome-8);
    }
  }
}
.toast {
  display: flex;
  gap: var(--theme-sizes-layout-big);
}
