.titleRow {
  background-color: var(--theme-colors-monochrome-15);
  display: flex;

  & > * {
    border: 1px solid var(--theme-colors-monochrome-12);
    border-bottom: 0;
    flex-basis: 45%;
    padding: 4px 6px;
  }
  & *:last-child {
    border-left: 0;
    flex-grow: 1;
  }
}
