.base {
  align-items: center;
  background-color: var(--theme-colors-monochrome-13);
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100%;

  img {
    height: 100px;
    width: 100px;
  }
}
.base.small { height: 100px; }
.base.large { height: 400px; }
