# The image registry to use. Defaults to the determinedai repository in DockerHub.
imageRegistry: determinedai

# Default region for CoreWeave
region: ORD1

# Default resources to use for CPU/GPU pods.
resources:
  cpu: "8"
  memory: 32Gi
  gpuType: RTX_A5000

# Install Determined enterprise edition.
enterpriseEdition: false

# Should be configured if using the master image in the Determined enterprise edition
# or private registry.
imagePullSecretName:

# masterPort configures the port at which the Determined master listens for connections on.
masterPort: 8080

# Enable route support for Openshift by setting enabled to true. Configure tls termination (i.e edge) if needed.
# openshiftRoute:
  # enabled:
  # termination:

# tlsSecret enables TLS encryption for all communication made to the Determined master (TLS
# termination is performed in the Determined master). This includes communication between the
# Determined master and the task containers it launches, but does not include communication between
# the task containers (distributed training). The specified Secret of type tls must already exist in
# the same namespace in which Determined is being installed.
# tlsSecret:

# db sets the configurations for the database.
db:
  # To deploy your own Postgres DB, provide a hostAddress. If hostAddress is provided, Determined
  # will skip deploying a Postgres DB.
  # hostAddress:

  # Required parameters, whether you are using your own DB or a Determined DB.
  name: coreweave_determined_db
  user: coreweave_postgres
  password: coreweave_postgres
  port: 5432

  # Only used for Determined DB deployment. Configures the size of the PersistentVolumeClaim for the
  # Determined deployed database, as well as the CPU and memory requirements. Should be adjusted for
  # scale.
  storageSize: 100Gi
  cpuRequest: 4
  memRequest: 16Gi

  # useNodePortForDB configures whether ClusterIP or NodePort service type is used for the
  # Determined deployed DB. By default ClusterIP is used.
  useNodePortForDB: false

  # ssl_mode and ssl_root_cert configure the TLS connection to the database. Users must first
  # create a kubernetes secret or configMap containing their certificate and specify its name in
  # certResourceName. For sslRootCert, specify the name of the file only (not path).
  # sslMode: verify-ca
  # sslRootCert: <cert_name>
  # resourceType: <secret/configMap>
  # certResourceName: <secret/configMap name>

# checkpointStorage controls where checkpoints are stored. Supported types include `shared_fs`,
# `gcs`, and `s3`.
checkpointStorage:
  # Applicable to all checkpointStorage types.
  saveExperimentBest: 0
  saveTrialBest: 1
  saveTrialLatest: 1


  # Comment out if not using `shared_fs`. Users are strongly discouraged from using `shared_fs` for
  # storage beyond initial testing as most Kubernetes cluster nodes do not have a shared file
  # system.
  # type: shared_fs
  # hostPath: /data

  # For storing in GCS.
  # type: gcs
  # bucket: <bucket_name>
  # prefix: <prefix>
  
  # For storing in S3.
  type: s3
  
  # For storing in Azure Blob Storage with a connection string.
  # Do NOT use if already using Azure Blob Storage with account URL
  # type: azure
  # container: <container_name>
  # connection_string: <connection_string>

  # For storing in Azure Blob Storage with an account URL.
  # Do NOT use if already using Azure Blob Storage with connection string.
  # The `credential` field is optional.
  # type: azure
  # container: <container_name>
  # account_url: <account_url>
  # credential: <credential>

# This is the number of GPUs there are per machine. Determined uses this information when scheduling
# multi-GPU tasks. Each multi-GPU (distributed training) task will be scheduled as a set of
# `slotsPerTask / maxSlotsPerPod` separate pods, with each pod assigned up to `maxSlotsPerPod` GPUs.
# Distributed tasks with sizes that are not divisible by `maxSlotsPerPod` are never scheduled. If
# you have a cluster of different size nodes (e.g., 4 and 8 GPUs per node), set `maxSlotsPerPod` to
# the greatest common divisor of all the sizes (4, in that case).
maxSlotsPerPod: 8

## For CPU-only clusters, use `slotType: cpu`, and make sure to set `slotResourceRequest` below.
# slotType: cpu
# slotResourceRequests:
  ## Number of cpu units requested for compute slots. Note: since kubernetes may schedule some
  ## system tasks on the nodes which take up some resources, 8-core node may not always fit
  ## a `cpu: 8` task container.
  # cpu: 7

# Memory and CPU requirements for the master instance. Should be adjusted for scale.
masterCpuRequest: 8
masterMemRequest: 32Gi

## Configure the task container defaults. Tasks include trials, commands, TensorBoards, notebooks,
## and shells. For all task containers, shm_size_bytes and network_mode are configurable. For
## trials, the network interface used by distributed (multi-machine) training is configurable.
taskContainerDefaults:
  # networkMode: bridge
  # dtrainNetworkInterface: <network interface name>
  # forcePullImage: <true or false>

  # Configure a default pod spec for all GPU tasks (experiments, notebooks, commands) and CPU tasks
  # (CPU notebooks, TensorBoards, zero-slot commands). If a pod spec is defined for an individual
  # task, that pod spec will replace the default one that is defined here. See
  # https://docs:determined.ai/latest/topic-guides/custom-pod-specs.html for more details.

  # Configure default Docker images for all GPU tasks (experiments, notebooks, commands) and
  # CPU tasks (CPU notebooks, TensorBoards, zero-slot commands). If a Docker image is defined
  # for an individual task, that image will replace the default one that is defined here.
  # If specifying a default image, both GPU and CPU default images must be defined.
  # cpuImage:
  # gpuImage:

## Configure whether we collect anonymous information about the usage of Determined.
telemetry:
  enabled: true

s3:
  region: ORD1
  bucket: ''
  accessKey: ''
  secretKey: ''

mounts: []
## Configure Prometheus endpoints for monitoring.
# observability:
#   enable_prometheus: true

## A user-friendly name to identify this cluster by.
# clusterName: Dev

# defaultPassword sets the password for the admin and determined user accounts.
# defaultPassword: determined-coreweave

## Configure how trial logs are stored.
# logging:
  ## The backend to use. Can be `default` to send logs to the master to store in the PostgreSQL
  ## database or `elastic` to store logs in an Elasticsearch cluster (without going through the
  ## master).
  # type: default

  ## The remaining options should be provided only for the `elastic` backend.

  ## The host and port to use to connect to the Elasticsearch cluster.
  # host: <host>
  # port: <port>

  ## Authentication and TLS options for making the connection to Elasticsearch.
  # security:
    # username: <username>
    # password: <password>
    # tls:
      # enabled: true
      # skipVerify: false

      ## The name to use when verifying the certificate, if different from the name used to connect.
      # certificateName: <name>

      ## This value must contain the contents of the certificate file, not a path. It may be set
      ## directly or using `helm install --set-file logging.security.tls.certificate=<path>`.
      # certificate: <certificate contents>

## Configure the default Determined scheduler
## Currently supports "coscheduler" for gang scheduling and "preemption" for priority based
## scheduling with preemption
defaultScheduler: default-scheduler

## Configure settings about how Determined launches the Fluentbit sidecar.
# fluent:
#   image: fluent/fluent-bit:1.9.3

