.base {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 500px;
  width: 376px;
}
.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}
.sortRow {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr min-content;

  .select {
    min-width: 0;
  }
}
.actions {
  display: flex;
  justify-content: space-between;
}
