$tooltip-offset: 5px;

.point {
  border-radius: 100%;
  display: none !important;
  position: absolute;
  transform: translate(-50%, -50%);
}
.tooltip {
  display: none;
  pointer-events: none;
  position: absolute;
  z-index: 99;

  .box {
    background-color: var(--theme-float);
    border: solid var(--theme-stroke-width) var(--theme-float-border);
    border-radius: var(--theme-border-radius);
    box-shadow: var(--theme-elevation-strong);
    left: $tooltip-offset;
    padding: 8px;
    position: absolute;
    top: $tooltip-offset;
    white-space: nowrap;
  }
}
.tooltip.top .box {
  bottom: $tooltip-offset;
  top: auto;
}
.tooltip.left .box {
  left: auto;
  right: $tooltip-offset;
}
