[settings]
skip_glob = **/__init__.py
default_section = THIRDPARTY
known_first_party = determined,tests
known_third_party = packaging
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 100
