.loader {
  border-spacing: 0.2em;
  box-sizing: border-box;
  display: inline-table;
  position: relative;
}
.loader .row {
  display: table-row;
}
.loader .row span {
  animation: flicker 0.5986s infinite alternate ease-out;
  animation-name: flicker;
  background: var(--theme-float-on);
  display: table-cell;
  opacity: 0;
  position: relative;
}

@keyframes flicker {
  0%,
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader .row:nth-child(1) span:nth-child(1) {
  animation-delay: 0.5s;
}
.loader .row:nth-child(1) span:nth-child(2) {
  animation-delay: 0.7s;
}
.loader .row:nth-child(1) span:nth-child(3) {
  animation-delay: 0.6s;
}
.loader .row:nth-child(2) span:nth-child(1) {
  animation-delay: 0.2s;
}
.loader .row:nth-child(2) span:nth-child(2) {
  animation-delay: 0.8s;
}
.loader .row:nth-child(2) span:nth-child(3) {
  animation-delay: 0.9s;
}
.loader .row:nth-child(3) span:nth-child(1) {
  animation-delay: 0.1s;
}
.loader .row:nth-child(3) span:nth-child(2) {
  animation-delay: 0.3s;
}
.loader .row:nth-child(3) span:nth-child(3) {
  animation-delay: 0.4s;
}
