@use 'sass:math';

$axes: X Y Z;
$size: 100%;
$mask: conic-gradient(#0000 30%, #000), linear-gradient(#000 0 0) content-box;

.base {
  align-items: center;
  border-color: currentColor;
  display: flex;
  height: $size;
  justify-content: center;
  width: $size;

  .spinner {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: rotateZ;
    animation-timing-function: linear;
    border-color: var(--theme-ix-border);
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: $size;
    width: $size;
  }
  .spinner__bowtie {
    animation: rotateHalf 1s infinite;
    border-bottom-color: var(--theme-surface-on);
    border-top-color: var(--theme-surface-on);
  }
  .spinner__half {
    border-left-color: var(--theme-surface-on);
    border-top-color: var(--theme-surface-on);
  }
  .spinner__shadow {
    animation: rotateZ 0.75s infinite linear;
    border-color: var(--theme-surface-on);
    -webkit-mask: $mask;
    mask: $mask;
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
  }
}

@each $axis in $axes {
  @keyframes rotate#{$axis} {
    from {
      transform: rotate#{$axis}#{'(0deg)'};
    }
    to {
      transform: rotate#{$axis}#{'(360deg)'};
    }
  }
}

@keyframes rotateHalf {
  to {
    transform: rotate(0.5turn);
  }
}
