stages:
  - db:
      name: db

  - master:
      pre:
        - sh: make -C tools prep-root
      config_file:
        db:
          host: localhost
          port: 5432
          password: postgres
          user: postgres
          name: determined
        checkpoint_storage:
          type: shared_fs
          host_path: /tmp
          storage_path: determined-cp
        log:
          level: debug
        root: tools/build
        cache:
          cache_dir: /tmp/determined-cache
        launch_error: false
        security:
          authz:
            rbac_ui_enabled: true
        resource_manager:
          type: agent
          default_aux_resource_pool: default
          default_compute_resource_pool: default
        resource_pools:
          - pool_name: default
            task_container_defaults:  # for test_default_pool_task_container_defaults.
              environment_variables:
                - SOMEVAR=SOMEVAL

  - custom:
      name: proxy
      cmd: ["socat", "-d", "-d", "TCP-LISTEN:8081,reuseaddr,fork", "TCP:localhost:8080"]
      post:
        - conncheck:
            port: 8081

  - agent:
      name: agent1
      config_file:
        master_host: 127.0.0.1
        master_port: 8081
        agent_id: agent1
        container_master_host: $DOCKER_LOCALHOST
        container_auto_remove_disabled: true
        hooks:
          on_connection_lost: ["touch", "/tmp/agent1-connection-lost"]

  - agent:
      name: agent2
      config_file:
        master_host: 127.0.0.1
        master_port: 8081
        agent_id: agent2
        container_master_host: $DOCKER_LOCALHOST
        container_auto_remove_disabled: true
