stages:
  - db:
      name: db
      image_name: $DET_POSTGRES_VERSION
  - master:
      pre:
        - sh: make -C tools prep-root
      config_file:
        db:
          host: localhost
          port: 5432
          password: postgres
          user: postgres
          name: determined
        checkpoint_storage:
          type: shared_fs
          host_path: /tmp
          storage_path: determined-cp
        scim: 
          enabled: true 
          auth: 
            type: oauth 
        log:
          level: debug
        root: tools/build
        cache: 
          cache_dir: /tmp/determined-cache
        security:
          initial_user_password: $INITIAL_USER_PASSWORD
          authz:
            rbac_ui_enabled: true
        telemetry:
          enabled: false

  - agent:
      name: agent1
      config_file:
        master_host: 127.0.0.1
        master_port: 8080
        agent_id: agent1
        container_master_host: $DOCKER_LOCALHOST
        container_auto_remove_disabled: true
