@font-face {
  font-display: block;
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/source-code-pro-bold.woff2?07a67e') format('woff2'),
    url('../assets/fonts/source-code-pro-bold.woff?07a67e') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/source-code-pro-regular.woff2?07a67e') format('woff2'),
    url('../assets/fonts/source-code-pro-regular.woff?07a67e') format('woff');
}
