@font-face {
  font-display: block;
  font-family: determined-ai;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/determined-ai.woff2?1v4ahh') format('woff2'),
    url('../assets/fonts/determined-ai.woff?1v4ahh') format('woff');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line */
  font-family: 'determined-ai' !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

/*
    This part should be copied from style.css once unzipped
 */

.icon-home::before {
  content: '\e942';
}
.icon-dai-logo::before {
  content: '\e901';
}
.icon-arrow-left::before {
  content: '\ea04';
}
.icon-arrow-right::before {
  content: '\ea05';
}
.icon-add-small::before {
  content: '\e93f';
}
.icon-close-small::before {
  content: '\e941';
}
.icon-search::before {
  content: '\ea01';
}
.icon-arrow-down::before {
  content: '\ea02';
}
.icon-arrow-up::before {
  content: '\ea03';
}
.icon-cancelled::before {
  content: '\e900';
}
.icon-group::before {
  content: '\e940';
}
.icon-warning-large::before {
  content: '\e902';
}
.icon-steering-wheel::before {
  content: '\e93b';
}
.icon-workspaces::before {
  content: '\e93a';
}
.icon-archive::before {
  content: '\e939';
}
.icon-queue::before {
  content: '\e938';
}
.icon-model::before {
  content: '\e937';
}
.icon-fork::before {
  content: '\e936';
}
.icon-pause::before {
  content: '\e933';
}
.icon-play::before {
  content: '\e934';
}
.icon-stop::before {
  content: '\e935';
}
.icon-reset::before {
  content: '\e932';
}
.icon-undo::before {
  content: '\e931';
}
.icon-learning::before {
  content: '\e92c';
}
.icon-heat::before {
  content: '\e92d';
}
.icon-scatter-plot::before {
  content: '\e92e';
}
.icon-parcoords::before {
  content: '\e92f';
}
.icon-pencil::before {
  content: '\e930';
}
.icon-settings::before {
  content: '\e929';
}
.icon-filter::before {
  content: '\e92a';
}
.icon-docs::before {
  content: '\e928';
}
.icon-power::before {
  content: '\e927';
}
.icon-close::before {
  content: '\e925';
}
.icon-dashboard::before {
  content: '\e924';
}
.icon-checkmark::before {
  content: '\e921';
}
.icon-cloud::before {
  content: '\e923';
}
.icon-document::before {
  content: '\e922';
}
.icon-logs::before {
  content: '\e91b';
}
.icon-tasks::before {
  content: '\e920';
}
.icon-checkpoint::before {
  content: '\e91f';
}
.icon-download::before {
  content: '\e91d';
}
.icon-debug::before {
  content: '\e903';
}
.icon-error::before {
  content: '\e904';
}
.icon-warning::before {
  content: '\e91c';
}
.icon-info::before {
  content: '\e91e';
}
.icon-clipboard::before {
  content: '\e919';
}
.icon-fullscreen::before {
  content: '\e91a';
}
.icon-eye-close::before {
  content: '\e917';
}
.icon-eye-open::before {
  content: '\e918';
}
.icon-user::before {
  content: '\e916';
}
.icon-jupyter-lab::before {
  content: '\e915';
}
.icon-lock::before {
  content: '\e911';
}
.icon-user-small::before {
  content: '\e912';
}
.icon-popout::before {
  content: '\e910';
}
.icon-spinner::before {
  content: '\e90f';
}
.icon-collapse::before {
  content: '\e90d';
}
.icon-expand::before {
  content: '\e90e';
}
.icon-tensorboard::before {
  content: '\e90c';
}
.icon-cluster::before {
  content: '\e913';
}
.icon-command::before {
  content: '\e914';
}
.icon-experiment::before {
  content: '\e905';
}
.icon-grid::before {
  content: '\e906';
}
.icon-list::before {
  content: '\e907';
}
.icon-notebook::before {
  content: '\e908';
}
.icon-overflow-horizontal::before {
  content: '\e909';
}
.icon-overflow-vertical::before {
  content: '\e90a';
}
.icon-shell::before {
  content: '\e90b';
}
.icon-star::before {
  content: '\e926';
}
.icon-tensor-board::before {
  content: '\e92b';
}
.icon-searcher-random::before {
  content: '\e93e';
}
.icon-searcher-grid::before {
  content: '\e93d';
}
.icon-searcher-adaptive::before {
  content: '\e93c';
}

/*
    This part contains same icon being used as different name
 */

.icon-critical::before {
  // same as error
  content: '\e904';
}
.icon-trace::before {
  // same as dai-logo
  content: '\e901';
}
.icon-webhooks::before {
  // same as searcher-random
  content: '\e93e';
}
