.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before:not(.ant-tree-node-selected) {
  background: var(--theme-surface-strong);
  width: 100%;
}
.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: var(--antd-wave-shadow-color);
}
.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper:hover:not(.ant-tree-node-selected) {
  background: var(--theme-surface-weak);
}
.ant-tree-list {
  width: 100%;
}
#fileTree {
  border-right: solid var(--theme-stroke-width) var(--theme-stage-border);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 1em;

  @media screen and (max-width: 1024px) {
    grid-column: 1 / 3;
  }
}
.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal {
  display: flex;
}
