html {
  /* Breadcrumb */

  .ant-breadcrumb {
    align-items: center;
    display: flex;
  }

  /* Button */

  .ant-btn[disabled],
  .ant-btn[disabled]:hover {
    background-color: var(--theme-colors-monochrome-15);
    border-color: var(--theme-colors-monochrome-12);
    color: var(--theme-colors-monochrome-9);
  }
  .ant-btn-primary[disabled],
  .ant-btn-primary[disabled]:hover,
  .ant-btn-primary.ant-btn-dangerous[disabled],
  .ant-btn-primary.ant-btn-dangerous[disabled]:hover {
    background-color: var(--theme-colors-monochrome-11);
    border-color: var(--theme-colors-monochrome-11);
    color: var(--theme-colors-monochrome-17);
  }
  .ant-btn-icon-only {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  /* Checkbox */

  .ant-checkbox-checked .ant-checkbox-inner::after {
    border-left: 0;
    border-top: 0;
  }

  /* Dropdown */

  .ant-dropdown-menu {
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    box-shadow: var(--theme-shadow);
  }

  /* Form */

  .ant-form-item-explain {
    align-items: center;
    display: flex;
    font-size: var(--theme-sizes-font-small);
  }

  /* Input */

  .ant-input-affix-wrapper { border-radius: var(--theme-sizes-border-radius); }
  .ant-input-affix-wrapper.ant-input-affix-wrapper-lg { padding: 0.65rem 0.75rem; }
  .ant-input-affix-wrapper.ant-input-affix-wrapper-sm { padding: 0 0.3rem; }
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    box-shadow: var(--theme-focus-shadow);
  }
  .ant-input-affix-wrapper > .ant-input-prefix,
  .ant-input-affix-wrapper > .ant-input-suffix {
    align-items: center;
    display: flex;
  }
  .ant-input-affix-wrapper > .ant-input-prefix { margin-right: 0.6rem; }
  .ant-input-affix-wrapper > .ant-input-suffix { margin-left: 0.6rem; }
  .ant-input-affix-wrapper.ant-input-affix-wrapper-lg > .ant-input-prefix { margin-right: 0.75rem; }
  .ant-input-affix-wrapper.ant-input-affix-wrapper-lg > .ant-input-suffix { margin-left: 0.75rem; }
  .ant-input-affix-wrapper.ant-input-affix-wrapper-sm > .ant-input-prefix { margin-right: 0.3rem; }
  .ant-input-affix-wrapper.ant-input-affix-wrapper-sm > .ant-input-suffix { margin-left: 0.3rem; }
  .ant-input-affix-wrapper.ant-input-affix-wrapper-sm > .ant-input-prefix > i,
  .ant-input-affix-wrapper.ant-input-affix-wrapper-sm > .ant-input-suffix > i {
    font-size: var(--theme-sizes-icon-small);
  }

  /* Select */

  .ant-select > .ant-select-arrow {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
  }
  .ant-select.ant-select-open > .ant-select-arrow {
    transform: rotate(180deg);
  }
  .ant-select.ant-select-open.ant-select-show-search {
    min-width: 10rem;
  }
  .ant-select-dropdown {
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    box-shadow: var(--theme-shadow);
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: var(--theme-sizes-border-radius);
  }
  .ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    box-shadow: var(--theme-focus-shadow);
  }

  /* Space */

  .ant-space.ant-space-horizontal.ant-space-align-center > .ant-space-item {
    align-items: center;
    display: inline-flex;
  }

  /* Table */

  .ant-table {
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-13);
  }
}
