@font-face {
  font-display: block;
  font-family: 'Objektiv Mk3';
  font-style: normal;
  font-weight: normal;
  src:
    url('fonts/objektiv-mk3-regular.woff2?07a67e') format('woff2'),
    url('fonts/objektiv-mk3-regular.woff?07a67e') format('woff'),
    url('fonts/objektiv-mk3-regular.ttf?07a67e') format('truetype'),
    url('fonts/objektiv-mk3-regular.svg?07a67e#determined-ai') format('svg');
}

@font-face {
  font-display: block;
  font-family: 'Objektiv Mk3';
  font-style: italic;
  font-weight: normal;
  src:
    url('fonts/objektiv-mk3-regular-italic.woff2?07a67e') format('woff2'),
    url('fonts/objektiv-mk3-regular-italic.woff?07a67e') format('woff'),
    url('fonts/objektiv-mk3-regular-italic.ttf?07a67e') format('truetype'),
    url('fonts/objektiv-mk3-regular-italic.svg?07a67e#determined-ai') format('svg');
}

@font-face {
  font-display: block;
  font-family: 'Objektiv Mk3';
  font-style: normal;
  font-weight: bold;
  src:
    url('fonts/objektiv-mk3-bold.woff2?07a67e') format('woff2'),
    url('fonts/objektiv-mk3-bold.woff?07a67e') format('woff'),
    url('fonts/objektiv-mk3-bold.ttf?07a67e') format('truetype'),
    url('fonts/objektiv-mk3-bold.svg?07a67e#determined-ai') format('svg');
}

@font-face {
  font-display: block;
  font-family: 'Objektiv Mk3';
  font-style: italic;
  font-weight: bold;
  src:
    url('fonts/objektiv-mk3-bold-italic.woff2?07a67e') format('woff2'),
    url('fonts/objektiv-mk3-bold-italic.woff?07a67e') format('woff'),
    url('fonts/objektiv-mk3-bold-italic.ttf?07a67e') format('truetype'),
    url('fonts/objektiv-mk3-bold-italic.svg?07a67e#determined-ai') format('svg');
}

@font-face {
  font-display: block;
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: bold;
  src:
    url('fonts/source-code-pro-bold.woff2?07a67e') format('woff2'),
    url('fonts/source-code-pro-bold.woff?07a67e') format('woff'),
    url('fonts/source-code-pro-bold.ttf?07a67e') format('truetype'),
    url('fonts/source-code-pro-bold.svg?07a67e#source-code-pro-bold') format('svg');
}

@font-face {
  font-display: block;
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src:
    url('fonts/source-code-pro-regular.woff2?07a67e') format('woff2'),
    url('fonts/source-code-pro-regular.woff?07a67e') format('woff'),
    url('fonts/source-code-pro-regular.ttf?07a67e') format('truetype'),
    url('fonts/source-code-pro-regular.svg?07a67e#source-code-pro-regular') format('svg');
}
