:export {
  breakpointMobile: $breakpoint-mobile;
  breakpointTablet: $breakpoint-tablet;
  breakpointDesktopSmall: $breakpoint-desktop-small;
  breakpointDesktopMedium: $breakpoint-desktop-medium;
  breakpointDesktopLarge: $breakpoint-desktop-large;
}
