@font-face {
  font-display: block;
  font-family: 'determined-ai';
  font-style: normal;
  font-weight: normal;
  src:
    url('fonts/determined-ai.woff2?w8hxoy') format('woff2'),
    url('fonts/determined-ai.woff?w8hxoy') format('woff'),
    url('fonts/determined-ai.ttf?w8hxoy') format('truetype'),
    url('fonts/determined-ai.svg?w8hxoy#determined-ai') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line */
  font-family: 'determined-ai' !important;
  font-size: 2.4rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}
.icon-add-small::before { content: '\e92b'; }
.icon-arrow-down::before { content: '\ea02'; }
.icon-arrow-up::before { content: '\ea03'; }
.icon-dai-logo::before { content: '\e900'; }
.icon-dashboard::before { content: '\e924'; }
.icon-download::before { content: '\e91d'; }
.icon-checkpoint::before { content: '\e91f'; }
.icon-checkmark::before { content: '\e921'; }
.icon-clipboard::before { content: '\e919'; }
.icon-close::before { content: '\e925'; }
.icon-close-small::before { content: '\e926'; }
.icon-cloud::before { content: '\e923'; }
.icon-cluster::before { content: '\e913'; }
.icon-collapse::before { content: '\e90d'; }
.icon-command::before { content: '\e914'; }
.icon-critical::before { content: '\e902'; }
.icon-debug::before { content: '\e901'; }
.icon-docs::before { content: '\e922'; }
.icon-error::before { content: '\e902'; }
.icon-expand::before { content: '\e90e'; }
.icon-experiment::before { content: '\e903'; }
.icon-eye-close::before { content: '\e917'; }
.icon-eye-open::before { content: '\e918'; }
.icon-filter::before { content: '\e92a'; }
.icon-fullscreen::before { content: '\e91a'; }
.icon-grid::before { content: '\e904'; }
.icon-heat::before { content: '\e92d'; }
.icon-info::before { content: '\e91e'; }
.icon-jupyter::before { content: '\e915'; }
.icon-learning::before { content: '\e92c'; }
.icon-list::before { content: '\e905'; }
.icon-lock::before { content: '\e911'; }
.icon-logs::before { content: '\e91b'; }
.icon-notebook::before { content: '\e906'; }
.icon-overflow-horizontal::before { content: '\e907'; }
.icon-overflow-vertical::before { content: '\e908'; }
.icon-parcoords::before { content: '\e92f'; }
.icon-pencil::before { content: '\e930'; }
.icon-popout::before { content: '\e910'; }
.icon-scatter-plot::before { content: '\e92e'; }
.icon-search::before { content: '\ea01'; }
.icon-settings::before { content: '\e929'; }
.icon-shell::before { content: '\e909'; }
.icon-spinner::before { content: '\e90f'; }
.icon-star::before { content: '\e90a'; }
.icon-tasks::before { content: '\e920'; }
.icon-tensorboard::before { content: '\e90c'; }
.icon-tensorflow::before { content: '\e90b'; }
.icon-trace::before { content: '\e901'; }
.icon-undo::before { content: '\e931'; }
.icon-user::before { content: '\e916'; }
.icon-user-small::before { content: '\e912'; }
.icon-warning::before { content: '\e91c'; }
