@import-normalize;

@import 'icons.scss';
@import 'fonts.scss';
@import 'antd.scss';

/*
  Most default browser font size is 16px and 62.5% of 16px
  is 10px. Which also makes 1rem equal 10px.
  This also allows user to use browser magnification and the
  rem items will scale accordingly.
*/

html,
body,
#root {
  font-family: 'Objektiv Mk3', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}
h1 { font-size: 3.2rem; }
h2 { font-size: 2.8rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 2.2rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.8rem; }
#clipboard {
  opacity: 0;
  user-select: none;
}
code {
  background-color: var(--theme-colors-monochrome-13);
  border-radius: var(--theme-sizes-border-radius);
  font-family: 'Source Code Pro', monospace;
  padding: 0 var(--theme-sizes-layout-tiny);
}
code.block {
  display: block;
  margin: var(--theme-sizes-layout-medium) 0;
  padding: var(--theme-sizes-layout-medium);
  white-space: pre;
}
