# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js
src/services/api-ts-sdk/

# testing
/coverage

# production
build/
build-storybook/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/

report.*.json
