# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage
/screenshots
screenshot-summary.html

# production
build/
build-storybook/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/

report.*.json
done.stamp
.diff-detected
/test-results/
/playwright-report/
/playwright/.cache/
src/e2e/test-results/
src/e2e/playwright-report/
src/e2e/junit-results.xml
