.options {
  border-bottom: var(--theme-stroke-width) solid var(--theme-stage-border);
  margin-bottom: var(--spacing-md);
  padding-block: var(--spacing-md);
}
.base {
  background-color: var(--theme-stage);
  color: var(--theme-stage-on);
  position: relative;

  .logs {
    display: flex;
    flex-direction: column;
    font-family: var(--theme-font-family-code);
    font-size: 12px;
    height: 100%;
    min-height: 150px;
    overflow-y: auto;
    padding: var(--spacing-md);

    & > div {
      flex: 1;
    }
  }
  .buttons {
    bottom: var(--spacing-xl-3);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    position: absolute;
    right: var(--spacing-xl-3);

    button {
      background-color: var(--theme-float);
      border-color: var(--theme-float-border);
      box-shadow: var(--theme-elevation);
      color: var(--theme-float-on);
      transition: opacity 0.2s linear;
      user-select: none;
    }
  }
}
