.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.base h5 {
  align-items: center;
  text-align: center;
}
