.base {
  height: calc(100% - 64px);

  .container {
    display: flex;
  }
  .header {
    border-bottom: var(--theme-stroke-width) solid var(--theme-stage-border);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--spacing-md);
    padding-block: var(--spacing-md);
    padding-right: var(--spacing-md);

    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-md);
    }
  }
  .search {
    .logContainer {
      height: calc(100% - 22px);
      overflow-y: auto;

      .log {
        cursor: pointer;
        font-family: var(--theme-font-family-code);

        &:hover {
          color: var(--theme-ix-on-active);
        }
        .key {
          background-color: var(--theme-ix-active);
        }
      }
    }
  }
}
