.base {
  height: 100%;

  .container {
    display: flex;
  }
  .search {
    .header {
      border-bottom: var(--theme-stroke-width) solid var(--theme-stage-border);
      margin-bottom: var(--spacing-md);
      padding-block: var(--spacing-md);
      padding-right: var(--spacing-md);
    }
    .logContainer {
      height: 100%;
      overflow-y: auto;

      .log {
        cursor: pointer;
        font-family: var(--theme-font-family-code);
        line-height: 24px;
        overflow-x: hidden;
        text-wrap: nowrap;

        &:hover,
        &.selected {
          color: var(--theme-ix-on-active);
        }
      }
    }
  }
}
