.base {
  padding: 16px;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }
  .hpContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 250px;
  }
  .title {
    align-self: center;
    margin: 0;
  }
  .innerContainer {
    display: flex;
    height: 300px;
    justify-content: center;
    margin-top: 4px;
  }
  .valuesTrack {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 45%;
    text-align: right;
  }
  .text {
    color: var(--theme-float-on);
    margin: 0
  }
  .blueTrack,
  .grayTrack,
  .constantTrack {
    align-self: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-between;
    margin: 0 5px;
    width: 5px;
  }
  .blueTrack {
    background-color: var(--theme-status-active);
  }
  .grayTrack {
    background-color: lightgray;
  }
  .constantTrack {
    justify-content: center;
  }
  .trackOption {
    background-color: var(--theme-status-active);
    border-radius: 100%;
    height: 10px;
    left: -50%;
    position: relative;
    width: 10px;
  }
  .tick {
    background-color: var(--theme-status-active);
    height: 2px;
    left: -100%;
    position: relative;
    width: 15px;
  }
  .pointerTrack {
    flex-grow: 1;
    max-width: 45%;
  }
  .pointerContainer {
    display: flex;
  }
  .pointerArrow {
    align-self: center;
    border-color: transparent var(--theme-float) transparent transparent;
    border-style: solid;
    border-width: 5px 8.7px 5px 0;
    height: 0;
  }
  .pointerText {
    background-color: var(--theme-float);
    border-radius: 2px;
    max-width: 100%;
    padding: 2px 8px;

    &::after {
      background-color: var(--theme-float);
      border-radius: 2px;
      content: '';
      height: 100%;
      left: 8.5px;
      position: absolute;
      top: 0;
      width: 8px;
    }
  }
  :global(.ant-typography) {
    margin: 0;
  }
}
