.base {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  line-height: 1;

  &.square {
    border-radius: var(--theme-border-radius-weak);
  }
  &.extra-small {
    font-size: 8px;
    height: 20px;
    width: 20px;
  }
  &.small {
    font-size: 10px;
    height: 24px;
    width: 24px;
  }
  &.medium {
    font-size: 12px;
    height: 40px;
    width: 40px;
  }
  &.large {
    font-size: 16px;
    height: 64px;
    width: 64px;
  }
  &.extra-large {
    font-size: 20px;
    height: 78px;
    width: 78px;
  }
  &.inactive {
    opacity: 0.64;
  }
}
.group {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: flex-start;
}
