.base:global(.ant-btn-dangerous) {
  &:global(.ant-btn-default) {
    border-color: var(--theme-status-critical);
    color: var(--theme-status-critical);
  }
  &:global(.ant-btn-primary) {
    background-color: var(--theme-status-critical);
  }
  &:global(.ant-btn-text) {
    color: var(--theme-status-critical);
  }
  &:global(.ant-btn-dashed) {
    border-color: var(--theme-status-critical);
    color: var(--theme-status-critical);
  }
}
.base:global(.ant-btn[disabled].ant-btn-text:disabled) {
  background-color: transparent;
  border: none;

  &:hover {
    background-color: transparent;
    border: none;
  }
}
.selected {
  &:global(.ant-btn-default) {
    border-color: #177ddc;
    color: #177ddc;
  }
  &:global(.ant-btn-dashed) {
    border-color: #177ddc;
    color: #177ddc;
  }
}
.content {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 100%;

  .icon,
  .children {
    align-items: center;
    display: flex;
    height: 100%;
  }
}
.column {
  &:global(.ant-btn) {
    height: 100%; // override antd px values
  }
  > .content {
    flex-direction: column;
    margin: 8px 0;
  }
}
