.base {
  --transition-duration: 0.25s;
  --transition-delay: 0.05s;
  --outside-padding: 8px;
  background-color: var(--theme-surface);
  border-radius: var(--theme-border-radius-weak);
  box-shadow: 0 1.6px 3.6px 1.6px rgba(0, 0, 0, 0.13);
  color: var(--theme-surface-on);
  display: flex;
  flex-direction: column;
  padding: var(--outside-padding);
  position: relative;
  transition: var(--transition-duration) background-color;

  .action {
    opacity: 0;
    padding: 2px;
    position: absolute;
    right: var(--outside-padding);
    top: var(--outside-padding);
    transition: var(--transition-duration) opacity;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > * {
      flex-grow: 1;
    }
  }
  &.clickable {
    cursor: pointer;
  }
  &:hover,
  &:focus {
    background-color: var(--theme-surface-weak);
    transition-delay: var(--transition-delay);

    .action {
      opacity: 1;
      transition-delay: var(--transition-delay);
    }
  }
  &:focus {
    outline: var(--theme-stroke-width-strong) solid var(--theme-ix-border-active);
  }
}
.group {
  align-items: flex-start;
  // This padding stops the box-shadows from being cut off.
  padding: 3px;
}
