.columns {
  display: flex;
  gap: var(--gap);
  margin-bottom: var(--margin-bottom);

  .column {
    display: flex;
    flex-grow: 1;

    &.left {
      justify-content: start;
    }
    &.center {
      justify-content: center;
    }
    &.right {
      justify-content: right;
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .columns {
    flex-wrap: wrap;
  }
}
