.container {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  .addButton {
    display: flex;
    justify-content: space-between;

    & > button:first-of-type {
      margin-right: 4px;
    }
  }
  .avatar {
    margin-right: 4px;
  }
  .indicator {
    background-color: transparent !important;
  }
  .spacing {
    margin-right: 4px;
  }
}
