.formBase {
  align-items: center;
  display: inline-grid;
  grid-template-columns: 168px auto 84px;
  width: 100%;

  .buttonsContainer {
    display: inline-flex;
    justify-content: end;

    & > button {
      transition: none; // there's a transition (RTL slide) when enabling edit mode...

      &:last-of-type {
        margin-left: 10px;
      }
    }
  }
  .formItemInput {
    margin-inline-end: 0;
  }
  .readOnlyElement {
    padding: 12px;
  }
}
