.chartTitle {
  font-family: 'Objektiv Mk3', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: -10px !important;
  text-align: center;
}
.filterContainer {
  column-gap: 16px;
  display: flex;
  justify-content: right;
  margin-bottom: 12px;
}
.legendContainer {
  margin-left: 35px;

  .legendItem {
    display: inline-block;
    font-family: 'Objektiv Mk3', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 16px;

    .colorButton {
      font-weight: bold;
      margin-right: 8px;
    }
  }
}
