.modalBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title {
  display: flex;

  .dangerIcon {
    :global(.anticon svg) {
      fill: #cb504c;
      stroke: #cb504c;
    }
  }
  .icon {
    padding-right: 16px;
  }
  .titleText {
    padding-right: 4px;
  }
}
