.base {
  align-items: center;
  display: flex;
  gap: 16px;

  .text {
    overflow: hidden;

    .alias {
      font-size: larger;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.compact {
  font-size: smaller;
  line-height: initial;
  min-height: 38px;
}
