.base {
  display: flex;

  .option {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    height: auto;
    justify-content: center;
    min-height: 32px;
    outline: 0;
    padding: 0 8px;
    position: relative;
    transition: all var(--animation-curve);
  }
  .option:hover {
    border-color: var(--theme-status-active-weak);
    color: var(--theme-colors-monochrome-0);
    z-index: 1;

    &::before {
      background-color: var(--theme-status-active-weak);
    }
  }
  .option:focus {
    box-shadow: var(--theme-focus-shadow);
  }
  .option > span {
    align-items: center;
    display: flex;
  }
  .option > span > *:nth-child(2) {
    margin-left: 8px;
  }
  .label {
    font-size: 14px;
  }
}
.base.iconOnly {
  .option {
    padding: 0 6px;
  }
}
