/* stylelint-disable no-descending-specificity */

.base {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    padding-bottom: 16px;
  }
  .header {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .title {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 32px;
    line-height: 32px;
    margin-bottom: 0;
    white-space: nowrap;
  }
  .title.string {
    font-size: 16px;
  }
  .body {
    border-color: var(--theme-stage-border);
    border-style: solid;
    border-width: 0;
    flex-grow: 1;
    height: max-content;
    min-height: 0;
    position: relative;
  }
  & + section.base {
    border-top: var(--theme-stroke-width) solid var(--theme-stage-border);
    padding-top: 16px;
  }
}
.base.divider .body {
  border-top-width: var(--theme-stroke-width);
  padding-top: 8px;
}
