.base {
  display: inline;

  & > * {
    cursor: pointer;
    font-size: 12px;
    height: 20px;
    margin: 2px 8px 2px 0;
  }
  .showMore {
    white-space: nowrap;
  }
  .tagPlus {
    background: var(--theme-colors-monochrome-17);
    border-style: dashed;
    margin-right: 6px;
  }
  .tagPlus:hover,
  .tagEdit:hover {
    border-color: var(--theme-status-active);
  }
  &.ghost {
    .tagEdit,
    .tagPlus {
      background: transparent;
      border-color: var(--theme-colors-monochrome-17);
      color: var(--theme-colors-monochrome-17);
      opacity: 0.8;

      :global(.ant-tag-close-icon) {
        color: var(--theme-colors-monochrome-17);
      }
      &:hover {
        border-color: inherit;
        color: inherit;
        opacity: 1;
      }
    }
  }
  .tagInput {
    margin: 0 8px 0 0;
    top: -1px;
  }
}
