.avatarCard {
  align-items: center;
  display: flex;

  .names {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    max-width: 60px;

    .displayName {
      font-size: larger;
    }
  }
}
.compact {
  font-size: smaller;
  line-height: initial;
  min-height: 38px;
}
