.base.dark {
  :global(.u-select) {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.download {
  right: 5px;
  top: 5px;
  position: absolute;
  border: 0;
  cursor: pointer;
  z-index: 10;
}

.invisibleLink {
  display: none;
}
