.base {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.base.dark {
  :global(.u-select) {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.download {
  right: 0px;
  top: -10px;
  position: absolute;
  border: 0;
  cursor: pointer;
  z-index: 10;
}

.invisibleLink {
  display: none;
}
