appdirs
# pytest 6.0 has linter-breaking changes
pytest>=6.0.1
pytest-timeout
pexpect
torch==1.4
torchvision==0.5.0
tensorflow==1.15.4
# TF 1.15.4 has requirement numpy<1.19.0,>=1.16.0
# and numpy==1.19.2 throws numpy.ufunc has the wrong size error
numpy==1.18.5
pandas
pyyaml
docker
