.base {
  .directions {
    margin: 0;
    padding-bottom: 12px;
  }
  .expandDetails {
    color: var(--theme-status-active);
    cursor: pointer;
    margin: 0;
  }
  h2 {
    color: var(--theme-colors-monochrome-5);
    font-size: 14px;

    span {
      color: var(--theme-colors-monochrome-8);
    }
  }
}
