.base {
  align-items: center;
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 24px;
  justify-content: center;
  line-height: 1;
  width: 24px;
}
.large {
  font-size: 96px;
  height: 192px;
  width: 192px;
}
