.filter {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  :global(.ant-radio-button-wrapper) {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;

    &::before {
      content: none !important;
    }
  }
}
