.filter {
  background: var(--theme-colors-core-background);
  border-bottom: 1px solid var(--theme-colors-monochrome-12);
  left: 0;
  margin-bottom: 16px;
  margin-top: calc(8px * -2);
  padding-bottom: 8px;
  padding-top: 8px;
  position: absolute;
  right: 0;
  z-index: 1;

  :global(.ant-col:not(:last-child)) {
    border-right: 1px solid var(--theme-colors-monochrome-12);
    margin-right: 16px;
    padding-right: 16px;
  }
}
