.filter {
  background: var(--theme-colors-core-background);
  border-bottom: 1px solid var(--theme-colors-monochrome-12);
  left: 0;
  margin-bottom: var(--theme-sizes-layout-big);
  margin-top: calc(var(--theme-sizes-layout-medium) * -2);
  padding-bottom: var(--theme-sizes-layout-medium);
  padding-top: var(--theme-sizes-layout-medium);
  position: absolute;
  right: 0;
  z-index: 1;

  :global(.ant-col:not(:last-child)) {
    border-right: 1px solid var(--theme-colors-monochrome-12);
    margin-right: var(--theme-sizes-layout-big);
    padding-right: var(--theme-sizes-layout-big);
  }
}
