# pytest 6.0 has linter-breaking changes
pytest>=6.0.1
tensorflow==2.4.3; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos==2.10.0; sys_platform == 'darwin' and platform_machine == 'arm64'
torch==1.7.1
torchvision==0.8.2
pandas==1.0.3
tensorflow_datasets
scipy
