$point-size: 0.7rem;
$tooltip-offset: 0.5rem;

.point {
  border-radius: $point-size / 2;
  display: none;
  height: $point-size;
  position: absolute;
  transform: translate(-50%, -50%);
  width: $point-size;
}

//.tooltip {
//  display: none;
//  pointer-events: none;
//  position: absolute;
//  z-index: 100;
//
//  .box {
//    background-color: var(--theme-colors-monochrome-17);
//    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-13);
//    border-radius: var(--theme-sizes-border-radius);
//    box-shadow: var(--theme-shadow);
//    left: $tooltip-offset;
//    padding: var(--theme-sizes-layout-medium);
//    position: absolute;
//    top: $tooltip-offset;
//  }
//  .row {
//    display: table-row;
//  }
//  .row > * {
//    display: table-cell;
//  }
//  .row > *:last-child {
//    padding-left: var(--theme-sizes-layout-medium);
//  }
//}
//.tooltip.top {
//  .box {
//    bottom: $tooltip-offset;
//    top: auto;
//  }
//}
//.tooltip.left {
//  .box {
//    left: auto;
//    right: $tooltip-offset;
//  }
//}
