.item {
  flex-direction: row;
  justify-content: flex-start;

  .key {
    width: 10rem;
  }
  .value {
    display: inline;
    text-align: left;
  }
  .ant-list-sm .ant-list-item {
    padding: 0;
  }
}
