.base {
  width: 100%;

  :global(.ant-select-auto-complete) {
    display: flex;

    :global(.ant-input) {
      border-color: transparent !important;
      flex-grow: 1;

      &:hover {
        border-color: initial !important;
      }
    }
  }
  .empty {
    background-color: inherit;
  }
}
