.base {
  align-items: center;
  border-radius: 100%;
  color: white;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: var(--theme-sizes-layout-enormous);
  justify-content: center;
  width: var(--theme-sizes-layout-enormous);
}
