.base {
  align-items: center;
  display: flex;

  .label,
  .preLabel {
    font-size: var(--theme-sizes-font-medium);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .label { margin-left: 4px; }
  .preLabel { margin-right: 4px; }
}
