.base {
  align-items: center;
  display: flex;

  .label,
  .preLabel {
    font-size: var(--theme-sizes-font-medium);
  }
  .label { margin-left: var(--theme-sizes-layout-tiny); }
  .preLabel { margin-right: var(--theme-sizes-layout-tiny); }
}
