.base {
  background-color: var(--theme-surface);
  border-radius: var(--theme-border-radius);
  color: var(--theme-surface-on);
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 6px;
  text-align: center;
  white-space: break-spaces;
}
.dashed {
  border: dashed var(--theme-stroke-width) var(--theme-float-border-strong);
}
.id {
  font-family: var(--theme-font-family-code);
  font-size: 12px;
}
.header {
  background-color: #132231;
  color: #fff;
}
.state {
  text-transform: uppercase;
}
.state.neutral {
  background-color: var(--theme-float);
  color: var(--theme-float-on);
}
