.base {
  align-items: center;
  display: flex;

  .label,
  .preLabel {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .label {
    margin-left: 4px;
  }
  .preLabel {
    margin-right: 4px;
  }
}
