.base {
  background-color: var(--theme-colors-monochrome-7);
  border-radius: var(--theme-sizes-border-radius);
  color: var(--theme-colors-monochrome-17);
  display: inline-block;
  font-size: var(--theme-sizes-font-tiny);
  font-weight: bold;
  line-height: var(--theme-sizes-font-large);
  padding: 0 var(--theme-sizes-layout-small);
  text-align: center;
}
.state { text-transform: uppercase; }
