.base {
  background-color: var(--theme-colors-monochrome-7);
  border-radius: var(--theme-sizes-border-radius);
  color: var(--theme-colors-monochrome-17);
  display: inline-block;
  font-size: var(--theme-sizes-font-tiny);
  font-weight: bold;
  line-height: var(--theme-sizes-font-big);
  padding: 0 var(--theme-sizes-layout-small);
  text-align: center;
}
.id {
  font-family: "Source Code Pro", monospace;
  font-size: var(--theme-sizes-font-small);
}
.header {
  background-color: #132231;
}
.state {
  text-transform: uppercase;
}
