.base {
  align-items: center;
  display: flex;

  .parts,
  li {
    margin: 0;
    padding: 0;
  }
  .parts {
    display: flex;
    flex-direction: row;
  }
  li {
    border-color: var(--theme-surface-on);
    border-style: none;
    border-width: var(--theme-stroke-width);
    display: block;
    height: 100%;
    margin-left: 1px;
  }
  li:first-child {
    margin-left: 0;
  }
  .bar {
    background-color: var(--theme-surface-strong);
    border-radius: 3px;
    box-shadow: var(--theme-elevation);
    flex-grow: 1;
    margin: 0;
    min-height: 4px;
    overflow: hidden;
    padding: 0;
    position: relative;
  }
  .bar > * {
    height: 100%;
    position: relative;
  }
}
.base.barOnly {
  min-height: auto;
}
.base.inline {
  .bar {
    box-shadow: none;
  }
}
