.base {
  align-items: center;
  display: flex;
  min-height: 2rem;

  ol, li {
    margin: 0;
    padding: 0;
  }

  ol {
    display: flex;
    flex-direction: row;
  }

  li {
    display: block;
    height: 100%;
  }

  .bar {
    background-color: var(--theme-colors-monochrome-12);
    border-radius: 0;
    box-shadow: var(--theme-colors-monochrome-6);
    flex-grow: 1;
    height: var(--theme-sizes-layout-tiny);
    margin: 0;
    padding: 0;
    position: relative;
  }
  .bar > * {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}
.barOnly {
  min-height: auto;
}
