.base {
  background-color: var(--theme-colors-monochrome-16);
  border-bottom: var(--theme-sizes-border-width) solid var(--theme-colors-monochrome-12);
  padding: var(--theme-sizes-layout-medium) var(--theme-sizes-layout-big);
  width: 100%;
}
