.base {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
  padding-right: 16px;

  .row {
    display: flex;

    .size {
      align-items: center;
      display: flex;

      :global(.ant-btn) {
        margin-left: 8px;
      }
    }
  }
  .row:not(:first-child) {
    margin-top: 4px;
  }
  .label {
    color: var(--theme-float-on-weak);
    flex-basis: 30%;
    flex-shrink: 0;
    padding-right: 16px;
  }
  .content {
    color: var(--theme-float-on);
    flex-grow: 1;
  }
  .source,
  .source > * {
    align-items: center;
    display: flex;
  }
  .sourceDivider::after {
    content: '/';
    padding: 0 6px;
    user-select: none;
  }
  .resources {
    display: flex;
    flex-direction: column;
  }
  .resource {
    align-items: center;
    display: flex;
  }
  .resourceName {
    flex-shrink: 1;
    padding-right: 6px;
  }
  .resourceSpacer {
    background: repeating-linear-gradient(
      to right,
      var(--theme-float-border-weak) 0,
      var(--theme-float-border-weak) 2px,
      transparent 3px,
      transparent 7px
    );
    flex-grow: 1;
    height: 2px;
    margin: 5px 0;
  }
  .resourceSize {
    flex-shrink: 0;
    padding-left: 6px;
  }
}
