.base {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
  }
  .row:not(:first-child) {
    margin-top: var(--theme-sizes-layout-tiny);
  }
  .label {
    color: var(--theme-colors-monochrome-8);
    flex-basis: 30%;
    flex-shrink: 0;
    padding-right: var(--theme-sizes-layout-big);
  }
  .content {
    color: var(--theme-colors-monochrome-6);
    flex-grow: 1;
  }
  .source,
  .source > * {
    align-items: center;
    display: flex;
  }
  .sourceDivider::after {
    content: '/';
    padding: 0 var(--theme-sizes-layout-small);
    user-select: none;
  }
  .resources {
    display: flex;
    flex-direction: column;
  }
  .resource {
    align-items: center;
    display: flex;
  }
  .resourceName {
    flex-shrink: 1;
    padding-right: var(--theme-sizes-layout-small);
  }
  .resourceSpacer {
    background:
      repeating-linear-gradient(
        to right,
        var(--theme-colors-monochrome-12) 0,
        var(--theme-colors-monochrome-12) 0.2rem,
        transparent 0.3rem,
        transparent 0.7rem
      );
    flex-grow: 1;
    height: 0.2rem;
    margin: 0.5rem 0;
  }
  .resourceSize {
    flex-shrink: 0;
    padding-left: var(--theme-sizes-layout-small);
  }
}
