$height: 40px;

.base {
  align-items: center;
  background-color: #b44;
  color: #ddd;
  display: inline-flex;
  height: $height;
  justify-content: center;
  min-height: $height;
  padding: 0 1em;
  width: 100%;
}
.base > * {
  max-height: 100%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clusterMessageLabel {
  font-weight: bold;
  width: 60%;
}
