.base {
  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
  }
  .gradient {
    border-radius: 3px;
    height: 20px;
    margin-bottom: 4px;
  }
  .labels {
    display: flex;
    justify-content: space-between;
  }
}
