.base {
  width: 380px;

  .columns {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    max-height: 360px;
    overflow: hidden auto;
    width: 100%;
  }
  .actionRow {
    display: flex;
    justify-content: space-between;
  }
  .rows {
    text-wrap: nowrap;
    white-space: nowrap;
  }
}

@media only screen and (width <= 390px) {
  .base {
    width: 320px;
  }
}
