.base {
  button {
    background-color: var(--theme-colors-brand-normal);
    border-color: var(--theme-colors-brand-normal);
    width: 100%;
  }
  button:focus,
  button:hover {
    background-color: var(--theme-colors-brand-light);
    border-color: var(--theme-colors-brand-light);
  }
  button:active {
    background-color: var(--theme-colors-brand-dark);
    border-color: var(--theme-colors-brand-dark);
  }
  .content > a {
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
  }
  .errorMessage {
    color: var(--theme-colors-states-failed);
  }
  .message {
    font-size: var(--theme-sizes-font-small);
    text-align: center;
  }
}
