.base {
  .topLine {
    display: flex;
    justify-content: space-between;
  }
  .codeSample {
    background-color: var(--theme-colors-monochrome-13);
    border: 1px solid var(--theme-colors-monochrome-11);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 8px;
  }
  .bottomLine {
    color: var(--theme-colors-monochrome-8);
  }
}
