$transition-props: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);

.base {
  position: relative;

  .trigger {
    cursor: pointer;
  }
  .menu {
    opacity: 0;
    position: absolute;
    transition: opacity $transition-props;
    visibility: hidden;
    z-index: 1;
  }
  .menu > ul {
    border-radius: var(--theme-sizes-border-radius);
    box-shadow: var(--theme-shadow);
    overflow: hidden;
  }
  .menu > ul > li {
    font-size: var(--theme-sizes-font-small);
    height: var(--theme-sizes-layout-giant);
    line-height: var(--theme-sizes-layout-giant);
  }
}
.base.arrow > .menu::after {
  background-color: var(--theme-colors-monochrome-17);
  content: '';
  height: var(--theme-sizes-layout-medium);
  position: absolute;
  width: var(--theme-sizes-layout-medium);
}
.base.arrow.bottom > .menu::after {
  left: 50%;
  top: 0;
  transform: translate(-0.4rem, -0.4rem)  rotate(45deg);
}
.base.arrow.bottomLeft > .menu::after {
  left: 0;
  top: 0;
  transform: translate(0.8rem, -0.4rem)  rotate(45deg);
}
.base.arrow.bottomRight > .menu::after {
  right: 0;
  top: 0;
  transform: translate(-0.8rem, -0.4rem)  rotate(45deg);
}
.base.arrow.left > .menu::after {
  right: 0;
  top: 50%;
  transform: translate(-0.4rem, -0.4rem)  rotate(45deg);
}
.base.arrow.leftTop > .menu::after {
  right: 0;
  top: 0;
  transform: translate(-0.4rem, 0.8rem)  rotate(45deg);
}
.base.arrow.leftBottom > .menu::after {
  bottom: 0;
  right: 0;
  transform: translate(-0.4rem, -0.8rem)  rotate(45deg);
}
.base.arrow.right > .menu::after {
  left: 0;
  top: 50%;
  transform: translate(-0.4rem, -0.4rem)  rotate(45deg);
}
.base.arrow.rightTop > .menu::after {
  left: 0;
  top: 0;
  transform: translate(-0.4rem, 0.8rem)  rotate(45deg);
}
.base.arrow.rightBottom > .menu::after {
  bottom: 0;
  left: 0;
  transform: translate(-0.4rem, -0.8rem)  rotate(45deg);
}
.base.arrow.top > .menu::after {
  bottom: 0;
  left: 50%;
  transform: translate(-0.4rem, 0.4rem)  rotate(45deg);
}
.base.arrow.topLeft > .menu::after {
  bottom: 0;
  left: 0;
  transform: translate(0.8rem, 0.4rem)  rotate(45deg);
}
.base.arrow.topRight > .menu::after {
  bottom: 0;
  right: 0;
  transform: translate(-0.8rem, 0.4rem)  rotate(45deg);
}
.base.visible {
  .menu {
    opacity: 1;
    visibility: visible;
  }
}
