.base {
  aspect-ratio: 1;
  background-color: var(--theme-surface-weak);
  border-radius: var(--theme-border-radius-strong);
  display: grid;

  & > * {
    place-self: center;
    text-transform: uppercase;
  }
}
