.base {
  align-items: center;
  display: flex;

  .launchButton {
    background-color: transparent;
    border-color: var(--theme-colors-monochrome-7);
    border-radius: var(--theme-sizes-border-radius);
    border-style: solid;
    border-width: var(--theme-sizes-border-width);

    &:hover {
      border-color: var(--theme-colors-monochrome-5);
      color: var(--theme-colors-monochrome-5);
    }
  }
  .expanded .launchButton {
    color: var(--theme-colors-monochrome-7);
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: var(--theme-sizes-layout-medium);
    overflow: hidden;
  }
  .collapsed .launchButton {
    align-items: center;
    display: none;
    flex-shrink: 0;
    height: var(--theme-sizes-layout-giant);
    justify-content: center;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    .expanded {
      display: none;
    }
    .collapsed .launchButton {
      display: flex;
    }
  }
}
