.base {
  padding: 0 24px;

  .prev,
  .next {
    height: calc(2 * 32px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
  }
  .prev {
    left: 8px;
  }
  .next {
    right: 8px;
  }
}
