.base {
  .option {
    display: flex;
  }
  .option > *:first-child {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
  .option > *:first-child > span:first-child {
    flex-grow: 1;
  }
  .option > *:first-child > span:nth-child(2) {
    margin-left: var(--theme-sizes-layout-big);
  }
  .option > *:nth-child(2) {
    padding-left: var(--theme-sizes-layout-medium);
  }
}
