.base {
  user-select: none;
}
.tiny { font-size: var(--theme-sizes-icon-tiny); }
.small { font-size: var(--theme-sizes-icon-small); }
.medium { font-size: var(--theme-sizes-icon-medium); }
.large { font-size: var(--theme-sizes-icon-large); }
.big { font-size: var(--theme-sizes-icon-big); }
.great { font-size: var(--theme-sizes-icon-great); }
.huge { font-size: var(--theme-sizes-icon-huge); }
.enormous { font-size: var(--theme-sizes-icon-enormous); }
.giant { font-size: var(--theme-sizes-icon-giant); }
.jumbo { font-size: var(--theme-sizes-icon-jumbo); }
.mega { font-size: var(--theme-sizes-icon-mega); }
