.base {
  user-select: none;
}
.tiny { font-size: var(--theme-sizes-icon-tiny); }
.small { font-size: var(--theme-sizes-icon-small); }
.medium { font-size: var(--theme-sizes-icon-medium); }
.large { font-size: var(--theme-sizes-icon-large); }
