.base {
  color: var(--theme-colors-monochrome-9);
  font-size: 16px;
  margin: 0;

  .header {
    color: var(--theme-colors-monochrome-7);
    font-size: 16px;
    font-weight: 600;
  }
  .separator {
    border-top: 1px solid var(--theme-colors-monochrome-13);
  }
  .info {
    align-items: center;
    display: flex;
    padding: 4px 0;

    &:first-of-type {
      border-top: none;
    }
    .label {
      align-self: flex-start;
      color: var(--theme-colors-monochrome-8);
      flex-basis: 34%;
      flex-shrink: 0;
      font-size: 12px;
      margin-right: 20px;
      max-width: 200px;
      min-width: 50px;
      padding-right: 8px;
    }
    .content {
      color: var(--theme-colors-monochrome-6);
      flex-basis: 66%;
      flex-grow: 1;
      font-size: 14px;
      margin: 0;
      min-width: 0;

      .blank {
        background-color: var(--theme-background-on);
      }
    }
    .contentList {
      color: var(--theme-colors-monochrome-6);
      flex-basis: 66%;
      flex-grow: 1;
      font-size: 14px;
    }
  }
}
