.base {
  color: var(--theme-colors-monochrome-9);
  font-size: var(--theme-sizes-layout-big);

  .info {
    align-items: center;
    display: flex;
    padding: var(--theme-sizes-layout-medium) 0;

    .label {
      color: var(--theme-colors-monochrome-9);
      flex-basis: 34%;
      font-size: var(--theme-sizes-font-small);
      max-width: 16rem;
      padding-right: var(--theme-sizes-layout-medium);
    }
    .content {
      color: var(--theme-colors-monochrome-6);
      flex-basis: 66%;
      flex-grow: 1;
      font-size: var(--theme-sizes-font-medium);
    }
  }
}
