.wrapper {
  display: flex;
  width: 100%;
}
.input {
  flex-shrink: 1;
  margin-right: var(--theme-sizes-layout-small);
  overflow: hidden;
  text-overflow: ellipsis;
}
.button {
  cursor: pointer;
}
