.base {
  align-items: flex-end;
  border-color: transparent;
  border-radius: 4px;
  border-style: solid;
  border-width: var(--theme-stroke-width);
  display: flex;
  justify-content: space-between;
  padding: 2px;

  &:hover {
    border-color: var(--theme-float-border);
  }
  > .textEditor {
    background: transparent;
    cursor: text;
    max-height: 30vh;
    outline: none;
    overflow-y: scroll;
    padding: 4px 12px 4px 4px;
    width: 100%;
    word-break: break-word;
  }
  &.editable {
    border-color: var(--theme-float-border-strong);
  }
  &.editable.maxLength {
    border-color: var(--theme-status-warning);
  }
  &.loading {
    .spinner { display: block; }
  }
  &.disabled,
  &.disabled:hover {
    border-color: transparent;
  }
  &.shakeAnimation {
    animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.2, 0.95) both, criticalBorder 0.8s;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes criticalBorder {
  from {
    border: var(--theme-stroke-width) solid var(--theme-status-critical);
  }
  to {
    border: var(--theme-stroke-width) solid var(--theme-status-critical);
  }
}

[contenteditable]:empty:not(:focus)::before {
  color: gray;
  content: attr(placeholder);
  pointer-events: none;
}
