.base {
  cursor: pointer;

  &:focus { box-shadow: var(--theme-outline); }
  &:hover { text-decoration: underline; }
}
.inherit {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
