.base {
  cursor: pointer;

  &:focus { box-shadow: var(--theme-outline); }
}
.inherit {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
.disabled {
  color: var(--theme-colors-monochrome-9);
  cursor: not-allowed;
}
.tiny { font-size: var(--theme-sizes-font-tiny); }
.small { font-size: var(--theme-sizes-font-small); }
.medium { font-size: var(--theme-sizes-font-medium); }
.large { font-size: var(--theme-sizes-font-large); }
