.determined {
  &.onDarkHorizontal,
  &.onLightHorizontal {
    height: 30px;
    width: 192px;
  }
  &.onDarkVertical,
  &.onLightVertical {
    height: 64.95px;
    width: 120px;
  }
}
.hpe {
  &.onDarkHorizontal,
  &.onLightHorizontal,
  &.onDarkVertical,
  &.onLightVertical {
    height: 16px;
    width: 133px;
  }
}
