.base {
  height: 2rem;
  width: 12.8rem;
}
.on-dark-horizontal,
.on-light-horizontal {
  height: 3rem;
  width: 19.2rem;
}
.on-dark-vertical,
.on-light-vertical {
  height: 6.495rem;
  width: 12rem;
}
