.base {
  height: 2rem;
  width: 12.8rem;
}
.on-dark-horizontal {
  height: 2rem;
  width: 12.8rem;
}
.on-dark-vertical {
  height: 6.495rem;
  width: 12rem;
}
.on-light-horizontal {
  height: 2rem;
  width: 12.8rem;
}
.on-light-vertical {
  height: 6.495rem;
  width: 12rem;
}
