.base {
  background-color: var(--theme-colors-monochrome-17);
  height: 100%;
  position: relative;
  width: 100%;

  .controller {
    align-items: center;
    display: flex;
    height: var(--theme-sizes-layout-giant);
    justify-content: space-between;
    margin-bottom: var(--theme-sizes-layout-medium);
  }
  .container {
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-13);
    font-family: 'Source Code Pro', monospace;
    font-size: var(--theme-sizes-font-small);
    height: 100%;
    overflow: auto;
    padding: var(--theme-sizes-layout-medium);
    position: relative;
  }
  .scrollSpacer {
    position: relative;
  }
  .measure {
    display: inline;
    position: absolute;
    white-space: pre-wrap;
    word-break: break-word;
  }
  .line {
    display: flex;
    position: absolute;
  }
  .line > * { white-space: nowrap; }
  .line > .number {
    color: var(--theme-colors-monochrome-10);
    flex-shrink: 0;
    text-align: right;
  }
  .line > .number::after { content: '\00a0'; }
  .line > .time { color: var(--theme-colors-core-secondary); }
  .line > .time::before { content: '['; }
  .line > .time::after { content: ']\00a0'; }
  .line > .message {
    flex-grow: 1;
    white-space: pre-wrap;
    word-break: break-word;
  }
}
.noWrap {
  .right { overflow: auto; }
  .line > .message { word-break: normal; }
}
