.base {
  color: var(--theme-colors-monochrome-10);
  flex-shrink: 0;
  padding: 1px;

  .label { font-size: 0; }
  .critical { color: var(--theme-colors-states-failed); }
  .debug { color: var(--theme-colors-states-active); }
  .error { color: var(--theme-colors-states-failed); }
  .trace { color: var(--theme-colors-states-active); }
  .warning { color: var(--theme-colors-states-suspended); }
}
