.base {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  img {
    height: 10rem;
    width: 10rem;
  }
  .title {
    color: var(--theme-colors-monochrome-8);
    font-size: var(--theme-sizes-font-medium);
  }
  span {
    color: var(--theme-colors-monochrome-10);
    font-size: var(--theme-sizes-font-small);
    margin-top: var(--theme-sizes-layout-medium);
  }
}
