.base {
  align-items: center;
  background-color: var(--theme-colors-base-2);
  display: flex;
  height: var(--theme-sizes-navigation-topbarHeight);
  justify-content: space-between;
  
  [class^=Logo_base_] { padding: 0 var(--theme-sizes-layout-big); }
  .user { padding: 0 var(--theme-sizes-layout-big); }
}
