/* stylelint-disable no-descending-specificity */
$transition-props: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);

.base {
  background-color: var(--theme-colors-base-2);
  display: flex;
  flex-basis: var(--theme-sizes-navigation-maxWidth);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: visible;

  header {
    height: 14rem;
    position: relative;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  section.launch {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0 var(--theme-sizes-layout-big) 0;
    width: var(--theme-sizes-navigation-maxWidth);
  }
  section.top {
    flex-grow: 1;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .logo {
    height: 6.494rem;
    left: 6rem;
    position: absolute;
    top: 2.4rem;
    width: 12.8rem;
  }
  .logoIcon {
    background-image: url('~assets/logo-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 4rem;
    left: 3.2rem;
    position: absolute;
    top: 0;
    width: 5.2rem;
  }
  .logoLabel {
    background-image: url('~assets/logo-on-dark-label.svg');
    background-repeat: no-repeat;
    height: 1.3rem;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 5.2rem;
    width: 12rem;
  }
  .version {
    color: var(--theme-colors-base-12);
    font-size: var(--theme-sizes-font-tiny);
    font-style: italic;
    height: 1.7rem;
    position: absolute;
    top: 10.4rem;
    width: 100%;
  }
  .versionLabel {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .launchBlock {
    align-items: center;
    display: flex;
    height: 3.2rem;
    width: 19rem;

    .launchButton {
      background-color: transparent;
      border-color: var(--theme-colors-monochrome-9);
      border-radius: var(--theme-sizes-border-radius) 0 0 var(--theme-sizes-border-radius);
      border-style: solid;
      border-width: var(--theme-sizes-border-width) 0 var(--theme-sizes-border-width) var(--theme-sizes-border-width);
      color: var(--theme-colors-monochrome-17);
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
      padding: 0 var(--theme-sizes-layout-big);
    }
    .launchIcon {
      align-items: center;
      background-color: transparent;
      border-color: var(--theme-colors-monochrome-9);
      border-radius: 0 var(--theme-sizes-border-radius) var(--theme-sizes-border-radius) 0;
      border-style: solid;
      border-width: var(--theme-sizes-border-width);
      color: var(--theme-colors-monochrome-17);
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      width: var(--theme-sizes-layout-giant);
    }
  }
  .launchBlock:hover {
    .launchButton,
    .launchIcon { border-color: var(--theme-colors-monochrome-17); }
  }
  .navItem {
    color: var(--theme-colors-monochrome-17);
    cursor: pointer;
    display: block;
    height: 4.8rem;
    position: relative;
    width: var(--theme-sizes-navigation-maxWidth);
  
    [class*=Icon_base_] {
      left: var(--theme-sizes-layout-big);
      position: absolute;
      top: var(--theme-sizes-layout-large);
    }
    .label {
      font-size: var(--theme-sizes-font-small);
      height: var(--theme-sizes-layout-enormous);
      left: 5.6rem;
      line-height: var(--theme-sizes-layout-enormous);
      overflow: hidden;
      position: absolute;
      top: var(--theme-sizes-layout-large);
      white-space: nowrap;
      width: auto;
    }
    .status {
      background-color: var(--theme-colors-action-normal);
      border-radius: var(--theme-sizes-layout-medium);
      bottom: var(--theme-sizes-layout-big);
      color: var(--theme-colors-monochrome-17);
      font-size: var(--theme-sizes-font-tiny);
      height: 0 var(--theme-sizes-layout-big);
      padding: 0 var(--theme-sizes-layout-small);
      position: absolute;
      right: var(--theme-sizes-layout-big);
      white-space: nowrap;
    }
  }
  .navItem.active {
    background-color: var(--theme-colors-base-0);
  }
  .navItem:hover {
    background-color: var(--theme-colors-base-3);
    color: var(--theme-colors-monochrome-17);
  }
  .user {
    align-items: center;
    background-color: var(--theme-colors-base-4);
    cursor: pointer;
    display: flex;
    padding: var(--theme-sizes-layout-big) var(--theme-sizes-layout-big);
    position: relative;
    width: var(--theme-sizes-navigation-maxWidth);
  }
  .user:hover {
    background-color: var(--theme-colors-base-3);
  }
  .user > [class*=Avatar_base_] {
    flex-shrink: 0;
  }
  .user > span {
    color: var(--theme-colors-monochrome-17);
    font-size: var(--theme-sizes-font-small);
    margin-left: var(--theme-sizes-layout-big);
  }
}
.collapsedAppear {
  flex-basis: 0;
  overflow: hidden;
}
.collapsedEnter,
.collapsedExitDone {
  flex-basis: var(--theme-sizes-navigation-maxWidth);

  header { height: 14rem; }
  section.launch {
    padding: 0 0 var(--theme-sizes-layout-big) 0;
    width: var(--theme-sizes-navigation-maxWidth);
  }
  .logo {
    height: 6.494rem;
    left: 6rem;
    top: 2.4rem;
    width: 12.8rem;
  }
  .logoIcon {
    height: 4rem;
    left: 3.2rem;
    width: 5.2rem;
  }
  .logoLabel {
    opacity: 1;
    width: 12rem;
  }
  .version { top: 10.4rem; }
  .navItem {
    width: var(--theme-sizes-navigation-maxWidth);

    .label { opacity: 1; }
    .status {
      right: var(--theme-sizes-layout-big);
      transform: translateX(0);
    }
  }
  .navItem.hasStatus {
    height: 4.8rem;

    .status { bottom: var(--theme-sizes-layout-big); }
  }
  .user {
    width: var(--theme-sizes-navigation-maxWidth);

    span { opacity: 1; }
  }
}
.collapsedEnterActive {
  flex-basis: var(--theme-sizes-navigation-minWidth);
  transition: flex-basis $transition-props;

  header {
    height: 7.2rem;
    transition: height $transition-props;
  }
  section.launch {
    padding: var(--theme-sizes-layout-medium) 0;
    transition: padding $transition-props, width $transition-props;
    width: var(--theme-sizes-navigation-minWidth);
  }
  .logo {
    height: 2.4rem;
    left: 1.2rem;
    top: 1.6rem;
    transition:
      height $transition-props,
      left $transition-props,
      top $transition-props,
      width $transition-props;
    width: 3.2rem;
  }
  .logoIcon {
    height: 2.4rem;
    left: 0;
    transition:
      height $transition-props,
      left $transition-props,
      width $transition-props;
    width: 3.2rem;
  }
  .logoLabel {
    opacity: 0;
    transition:
      opacity $transition-props,
      width $transition-props;
    width: 0;
  }
  .version {
    top: 4.4rem;
    transition: top $transition-props,
  }
  .launchBlock {
    transition: width $transition-props;
    width: 3.2rem;

    .launchButton {
      opacity: 0;
      padding: 0;
      transition:
        opacity $transition-props,
        padding $transition-props,
        width $transition-props;
      width: 0;
    }
    .launchIcon {
      border-radius: 100%;
      transition: border-radius $transition-props;
    }
  }
  .navItem {
    transition: height $transition-props, width $transition-props;
    width: var(--theme-sizes-navigation-minWidth);
    
    .label {
      opacity: 0;
      transition: opacity $transition-props;
    }
    .status {
      right: 50%;
      transform: translateX(50%);
      transition:
        bottom $transition-props,
        right $transition-props,
        transform $transition-props;
    }
  }
  .navItem.hasStatus {
    height: 7.2rem;

    .status { bottom: var(--theme-sizes-layout-large); }
  }
  .user {
    transition: width $transition-props;
    width: var(--theme-sizes-navigation-minWidth);

    span {
      opacity: 0;
      transition: opacity $transition-props;
    }
  }
}
.collapsedExit,
.collapsedEnterDone {
  flex-basis: var(--theme-sizes-navigation-minWidth);

  header { height: 7.2rem; }
  section.launch {
    padding: var(--theme-sizes-layout-medium) 0;
    width: var(--theme-sizes-navigation-minWidth);
  }
  .logo {
    height: 2.4rem;
    left: 1.2rem;
    top: 1.6rem;
    width: 3.2rem;
  }
  .logoIcon {
    height: 2.4rem;
    left: 0;
    width: 3.2rem;
  }
  .logoLabel {
    opacity: 0;
    width: 0;
  }
  .version { top: 4.4rem; }
  .launchBlock {
    width: 3.2rem;

    .launchButton {
      opacity: 0;
      padding: 0;
      width: 0;
    }
    .launchIcon { border-radius: 100%; }
  }
  .navItem {
    width: var(--theme-sizes-navigation-minWidth);

    .label { opacity: 0; }
    .status {
      right: 50%;
      transform: translateX(50%);
    }
  }
  .navItem.hasStatus {
    height: 7.2rem;

    .status { bottom: var(--theme-sizes-layout-large); }
  }
  .user {
    width: var(--theme-sizes-navigation-minWidth);

    span { opacity: 0; }
  }
}
.collapsedExit {
  .navItem {
    .label { display: block; }
  }
}
.collapsedEnterDone {
  .navItem {
    .label { display: none; }
  }
}
.collapsedExitActive {
  flex-basis: var(--theme-sizes-navigation-maxWidth);
  transition: flex-basis $transition-props;

  header {
    height: 14rem;
    transition: height $transition-props;
  }
  section.launch {
    padding: 0 0 var(--theme-sizes-layout-big) 0;
    transition: padding $transition-props, width $transition-props;
    width: var(--theme-sizes-navigation-maxWidth);
  }
  .logo {
    height: 6.494rem;
    left: 6rem;
    top: 2.4rem;
    transition:
      height $transition-props,
      left $transition-props,
      top $transition-props,
      width $transition-props;
    width: 12.8rem;
  }
  .logoIcon {
    height: 4rem;
    left: 3.2rem;
    transition:
      height $transition-props,
      left $transition-props,
      width $transition-props;
    width: 5.2rem;
  }
  .logoLabel {
    opacity: 1;
    transition:
      opacity $transition-props,
      width $transition-props;
    width: 12rem;
  }
  .version {
    top: 10.4rem;
    transition: top $transition-props,
  }
  .launchBlock {
    transition: width $transition-props;
    width: 19rem;
    
    .launchButton {
      opacity: 1;
      padding: 0 var(--theme-sizes-layout-big);
      transition:
        opacity $transition-props,
        padding $transition-props,
        width $transition-props;
      width: 100%;
    }
    .launchIcon {
      border-radius: 0 var(--theme-sizes-border-radius) var(--theme-sizes-border-radius) 0;
      transition: border-radius $transition-props;
    }
  }
  .navItem {
    transition: height $transition-props, width $transition-props;
    width: var(--theme-sizes-navigation-maxWidth);

    .label {
      opacity: 1;
      transition: opacity $transition-props;
    }
    .status {
      right: var(--theme-sizes-layout-big);
      transform: translateX(0);
      transition:
        bottom $transition-props,
        right $transition-props,
        transform $transition-props;
    }
  }
  .navItem.hasStatus {
    height: 4.8rem;

    .status { bottom: var(--theme-sizes-layout-big); }
  }
  .user {
    transition: width $transition-props;
    width: var(--theme-sizes-navigation-maxWidth);

    span {
      opacity: 1;
      transition: opacity $transition-props;
    }
  }
}
