/* stylelint-disable no-descending-specificity */

.base {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  line-height: 1;
  text-decoration: none;
}
.main {
  border-bottom: solid var(--theme-sizes-layout-tiny) transparent;
  border-top: solid var(--theme-sizes-layout-tiny) transparent;
  color: var(--theme-colors-monochrome-12);
  line-height: 4rem;

  :hover { color: var(--theme-colors-monochrome-17); }
  > div:not(:first-child) { padding-left: var(--theme-sizes-layout-medium); }
  > i:not(:first-child) { padding-left: var(--theme-sizes-layout-tiny); }
}
.main.active {
  border-bottom-color: var(--theme-colors-core-primary);
  color: var(--theme-colors-monochrome-17);
}
.sidebar {
  border-left: solid var(--theme-sizes-layout-tiny) transparent;
  border-right: solid var(--theme-sizes-layout-tiny) transparent;
  color: var(--theme-colors-monochrome-6);
  font-size: var(--theme-sizes-font-small);
  padding: var(--theme-sizes-layout-tiny) 1.2rem;

  :hover { color: var(--theme-colors-core-action); }
  > *:first-child { margin-right: 1.6rem; }
}
.sidebar.active {
  border-left-color: var(--theme-colors-core-action);
  color: var(--theme-colors-core-action);
}
.sidebarIconOnly {
  border-left: solid var(--theme-sizes-layout-tiny) transparent;
  border-right: solid var(--theme-sizes-layout-tiny) transparent;
  color: var(--theme-colors-monochrome-6);
  padding: var(--theme-sizes-layout-tiny) 1rem;

  :hover { color: var(--theme-colors-core-action); }
  > *:not(:first-child) { display: none; }
}
.sidebarIconOnly.active {
  border-left-color: var(--theme-colors-core-action);
  color: var(--theme-colors-core-action);
}
