.base {
  background-color: var(--theme-colors-base-2);
  height: var(--nav-bottom-bar-height);

  .toolbar {
    align-items: center;
    display: flex;
    width: 100%;
  }
  .toolbar > * { flex-grow: 1; }
  .toolbarItem {
    align-items: center;
    color: var(--theme-colors-monochrome-17);
    display: flex;
    height: var(--nav-bottom-bar-height);
    justify-content: center;
    position: relative;

    .status {
      background-color: var(--theme-colors-action-normal);
      border-radius: 8px;
      bottom: 8px;
      color: var(--theme-colors-monochrome-17);
      font-size: 11px;
      height: 0 16px;
      padding: 0 6px;
      position: absolute;
      right: 16px;
      white-space: nowrap;
    }
  }
  .toolbarItem.active {
    background-color: var(--theme-colors-base-0);
    color: var(--theme-colors-monochrome-17);
  }
  .user {
    width: 100%;
  }
}
