.note {
  background-color: var(--theme-colors-monochrome-14);
  border: 1px solid var(--theme-colors-monochrome-12);
  margin-bottom: 4px;
  padding: 2;
  text-align: center;
}
.loading {
  padding: var(--theme-sizes-layout-mega);
}
.line {
  display: flex;
  align-items: center;
  gap: 10px;
}
.line p {
  margin: 0;
}
.line > :not(p) {
  min-width: 50vw;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items:flex-end;
}