.base {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;

  .title {
    font-size: 12px;
    font-weight: normal;
  }
  .info {
    font-size: 13px;

    & > :global(.ant-typography) {
      margin: 0;

      & small {
        font-size: 12px;
      }
    }
    &.clickable > :global(.ant-typography) {
      color: var(--theme-ix-on-active);
    }
  }
}
