.base {
  background-color: var(--theme-colors-monochrome-13);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;

  .title {
    color: var(--theme-colors-monochrome-7);
    font-size: 11px;
    word-break: break-word;
  }
  .info {
    color: var(--theme-colors-monochrome-0);
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > small {
      font-size: 14px;
    }
  }
}
.base.focused {
  background-color: var(--theme-colors-monochrome-12);
}
.clickable {
  cursor: pointer;

  .info {
    color: var(--theme-colors-action-normal);
  }
}
