.base {
  background-color: var(--theme-surface);
  border: solid var(--theme-stroke-width) var(--theme-surface-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;

  .title {
    color: var(--theme-suface-on-strong);
    font-size: 11px;
    word-break: break-word;
  }
  .info {
    color: var(--theme-surface-on);
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > small {
      font-size: 14px;
    }
  }
}
.base.focused {
  background-color: var(--theme-surface-strong);
}
.clickable {
  cursor: pointer;

  .info {
    color: var(--theme-status-active);
  }
}
