.base {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: inherit;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;

  .body {
    height: max-content;
    height: 100%;
    min-height: 0;
    padding: var(--theme-sizes-layout-big);
    width: 100%;
  }
}
.stickyHeader {
  overflow: inherit;

  .body {
    overflow: auto;
    padding-bottom: 0;
  }
}
