.base {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;

  .body {
    flex-shrink: 0;
    height: max-content;
    min-height: 0;
    padding: 16px;
    width: 100%;
  }
  &.bodyNoPadding {
    .body {
      padding: 0;
      padding-bottom: 16px;
    }
  }
  &.stickyHeader {
    overflow: inherit;

    .body {
      overflow: auto;
      padding-bottom: 0;
    }
  }
  &.noScroll {
    max-height: 100vh;

    .body {
      flex: 1 1 auto;
    }
  }
  .breadcrumbBar {
    align-items: center;
    background-color: var(--theme-stage);
    border-bottom: var(--theme-stroke-width) solid var(--theme-stage-border);
    display: flex;
    gap: 6px;
    padding: 8px 16px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .base.noScroll {
    max-height: inherit;
  }
}
