.base {
  align-items: stretch;
  background-color: var(--theme-stage);
  color: var(--theme-stage-on);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 16px;

    .left {
      align-items: flex-start;
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      height: fit-content;
      overflow: hidden;
      white-space: nowrap;
      word-break: break-all;
    }
    .toggle {
      cursor: pointer;
      height: 20px;
      margin: 0 16px;
      overflow: hidden;
    }
    .options {
      display: flex;
      flex: 1 0 0;
      gap: 8px;
      justify-content: flex-end;
      max-width: fit-content;

      .optionsButtons {
        display: flex;
        gap: 8px;

        .optionsMainButton {
          display: none;
        }
      }
    }
    .optionsDropdown {
      border-color: transparent !important;
      color: var(--theme-stage-on);
      opacity: 0.9;

      &:focus,
      &:hover {
        color: var(--theme-colors-monochrome-17) !important;
        opacity: 1;
      }
    }
  }
  .foldable {
    border-top: solid var(--theme-stroke-width) var(--theme-stage-border);
    flex: 1 1 100%;
    padding: calc(16px + var(--theme-density) * 1px);
    width: 100%;
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .left {
    align-items: center;
    flex-direction: row;
    max-width: fit-content;
  }
}

@media only screen and (min-width: $breakpoint-desktop-small) {
  .left {
    flex: 1 0 45%;
  }
  .options {
    flex: 1 0 45%;
  }
  .optionsButtons :nth-child(1) {
    display: inherit !important;
  }
  .optionsDropdownItem:nth-child(1) {
    display: none !important;
  }
  .optionsDropdownOneChild {
    display: none !important;
  }
}

@media only screen and (min-width: $breakpoint-desktop-medium) {
  .optionsButtons :nth-child(2) {
    display: inherit !important;
  }
  .optionsDropdownItem:nth-child(2) {
    display: none !important;
  }
  .optionsDropdownTwoChild {
    display: none !important;
  }
}

@media only screen and (min-width: $breakpoint-desktop-large) {
  .optionsButtons :nth-child(3) {
    display: inherit !important;
  }
  .optionsDropdownItem:nth-child(3) {
    display: none !important;
  }
  .optionsDropdownThreeChild {
    display: none !important;
  }
}
