.base {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    max-width: 400px;
    text-align: center;

    & > * {
      margin-bottom: 16px;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}
