.base {
  display: flex;

  .sidebar {
    flex-basis: 30%;
    max-width: 200px;

    .listContainer {
      display: flex;
      flex-direction: column;
      gap: var(--theme-sizes-layout-tiny);
      list-style: none;
      margin: 0;
      margin-right: var(--theme-sizes-layout-large);
      padding: 0;

      .listItem {
        align-items: center;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        padding: var(--theme-sizes-layout-small);
        width: 100%;

        .action {
          visibility: hidden;
        }
        &:hover {
          background-color: var(--theme-colors-monochrome-12);

          .action {
            visibility: visible;
          }
        }
      }
    }
  }
  .notesContainer {
    flex-grow: 1;
    height: 100%;
  }
}
.emptyBase {
  display: grid;
  gap: var(--theme-sizes-layout-great);
  height: 100%;
  justify-items: center;
  place-content: center;
  width: 100%;

  & * {
    margin: 0;
  }
  & i {
    color: var(--theme-colors-monochrome-8)
  }
}
