.base {
  .note {
    background-color: var(--theme-colors-monochrome-16);
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    margin: var(--theme-sizes-layout-medium);
    padding: var(--theme-sizes-layout-medium);
    text-align: center;
  }
}
