.base {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 9fr 2fr 2fr;
  height: 100%;

  .headerContainer {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .name {
    font-size: 13px;
    margin-bottom: 0;
    width: fit-content;
  }
  .workspaceContainer {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .footerContainer {
    display: flex;
    font-size: 12px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-content: space-between;

    .experiments {
      align-self: end;

      & > span {
        align-items: center;
        display: flex;
        gap: 4px;
      }
    }
    .lastExperiment {
      margin-left: 6px;
    }
    .archivedBadge {
      background-color: var(--theme-status-inactive);
      border-radius: var(--theme-border-radius);
      color: var(--theme-status-warning-on);
      opacity: 1;
      padding: 2px 4px;
    }
  }
  &.archived .name,
  &.archived .experiments {
    opacity: 0.55;
  }
}
