.base {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    margin: 0;
  }
  .directions {
    margin: 0;
  }
  .expandDetails {
    color: var(--theme-status-active);
    cursor: pointer;
    margin: 0;
  }
  .separator {
    border: var(--theme-surface-border) 1px solid;
  }
  .selectModelRow {
    display: flex;
    justify-content: space-between;

    p {
      color: var(--theme-status-active);
      cursor: pointer;
    }
  }
  h2 {
    color: var(--theme-stage-on);
    font-size: 14px;

    span {
      color: var(--theme-stage-on-weak);
    }
  }
}
