$padding: 12px;
$line-height: 22px;

.base {
  background-color: var(--theme-surface);
  border: solid var(--theme-stroke-width) var(--theme-surface-border);
  border-radius: var(--theme-border-radius-strong);
  color: var(--theme-surface-on);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 100%;
  line-height: $line-height;
  overflow: hidden;
  padding: $padding;
  text-overflow: ellipsis;

  &:hover {
    background-color: var(--theme-surface-weak);
  }
  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding;

    .info {
      margin: auto 0;

      .name {
        font-weight: bold;
      }
    }
    .default {
      color: var(--theme-surface-on);
      display: flex;

      span {
        font-size: 12px;
        margin-right: 4px;
      }
      i {
        color: var(--theme-surface-on-weak);
        font-weight: bold;
      }
    }
  }
  .empty {
    color: var(--theme-surface-on-weak);
  }
  section {
    padding: 0 $padding;
  }
}
section.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 12px;

  ul {
    flex-grow: 1;
  }
}
