$padding: var(--theme-sizes-layout-large);
$icon-side: 5rem;
$line-height: 2.2rem;

.base {
  border-radius: var(--theme-sizes-border-radius);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  color: var(--theme-colors-monochrome-0);
  display: flex;
  flex-direction: column;
  font-size: var(--theme-sizes-font-medium);
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;

  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .header {
    background: #234b65;
    color: white;
    display: flex;
    flex-direction: row;
    min-height: 8rem;
    padding: $padding;

    .icon {
      align-items: center;
      background-color: var(--theme-colors-monochrome-17);
      border: var(--theme-sizes-border-width) solid
        var(--theme-colors-monochrome-11);
      border-radius: 50%;
      display: flex;
      flex-shrink: 0;
      height: $icon-side;
      justify-content: center;
      margin: auto 2rem auto 0;
      margin-right: 2rem;
      width: $icon-side;
    }
    .info {
      margin: auto 0;

      .name {
        margin-bottom: 0.5rem;
      }
    }
    .tags *[class^="Badge"] {
      margin-bottom: 0.5rem;
      margin-right: 1rem;
    }
    .tags *[class^="Badge"]:last-child {
      margin-right: 0;
    }
  }
  .agentsStatus {
    background: var(--theme-colors-state-active);
    color: white;
    display: flex;
    height: var(--theme-sizes-layout-enormous);
    text-align: center;
    vertical-align: middle;

    & > * {
      margin: auto;
    }

    // @extend .textCenter; // why at-rule-no-unknown
  }
  .description {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: $line-height * 4;

    p {
      margin: auto 0;
      // https://css-tricks.com/line-clampin/
      overflow: auto;
    }
  }
  hr {
    background: #c4c4c4;
    border: none;
    height: 2px;
    margin: 0;
  }
  section {
    padding: $padding;
  }
}
section.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  ul {
    flex-grow: 1;
  }
}
.spaceBetweenHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
