$padding: var(--theme-sizes-layout-large);

.base {
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  color: var(--theme-colors-monochrome-0);
  display: flex;
  flex-direction: column;
  font-size: var(--theme-sizes-font-medium);
  overflow: hidden;

  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .header {
    background: #234b65;
    color: white;
    display: flex;
    flex-direction: row;
    min-height: 8rem;
    padding: $padding;

    .icon {
      margin: auto 2rem auto 0;
      margin-right: 2rem;
    }
    .info {
      margin: auto 0;

      .name {
        margin-bottom: 0.5rem;
      }
    }
    .tags *[class^="Badge"] {
      margin-bottom: 0.5rem;
      margin-right: 1rem;
    }
    .tags *[class^="Badge"]:last-child {
      margin-right: 0;
    }
  }
  .agentsStatus {
    @extend .textCenter;
    background: #00b2ff;
    color: white;
    height: 24px;
  }
  .description {
    align-content: center;
    display: flex;
    flex-direction: column;
    min-height: 10rem;

    p {
      margin: auto 0;
    }
  }
  hr {
    background: #c4c4c4;
    border: none;
    height: 2px;
    margin: 0;
  }
  section {
    padding: $padding;
  }
}
section.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  ul {
    flex-grow: 1;
  }
}
.textCenter {
  display: flex;
  text-align: center;
  vertical-align: middle;

  & > * {
    margin: auto;
  }
}
.spaceBetweenHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
