.base {
  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
  .filtersButtonDesktop {
    display: block;
  }
  .filtersButtonMobile {
    display: none;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    .filtersButtonDesktop {
      display: none;
    }
    .filtersButtonMobile {
      display: flex;
    }
  }
}
.filtersApplied {
  .filtersButton {
    border-color: var(--theme-status-active);
    color: var(--theme-status-active);
  }
}
.content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin-left: 24px;
  }
}
.content.collapsed {
  align-items: stretch;
  display: flex;
  flex-direction: column;

  & > * {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
  }
  & > *:not(:first-child) {
    margin-top: 16px;
  }
  & > [class*='GridListRadioGroup_base_'] {
    flex-direction: row;
  }
  & > * > [class*='Label_base_'] {
    margin-left: 0;
    padding-bottom: 8px;
    text-align: left;
  }
  & > *:first-child > [class^='Label_base_'] {
    padding: 0 0 8px;
  }
  & > * > *:not(:first-child) {
    margin-left: 0;
  }
}
