.base {
  .content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    & > * { margin-left: var(--theme-sizes-layout-enormous); }
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
  .filtersButtonDesktop {
    display: block;
  }
  .filtersButtonMobile {
    display: none;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    .filtersButtonDesktop {
      display: none;
    }
    .filtersButtonMobile {
      display: block;
    }
  }
}
.filtersApplied {
  .filtersButton {
    border-color: var(--theme-colors-action-normal);
    color: var(--theme-colors-action-normal);
  }
}
.collapsed {
  .content {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    padding: var(--theme-sizes-layout-big);

    & > * {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 0;
    }
    & > * > [class^=Label_base_] {
      margin-left: 0;
      padding: var(--theme-sizes-layout-big) 0 var(--theme-sizes-layout-medium) 0;
      text-align: left;
    }
    & > *:first-child > [class^=Label_base_] {
      padding: 0 0 var(--theme-sizes-layout-medium) 0;
    }
    & > * > *:not(:first-child) {
      margin-left: 0;
    }
  }
}
