.base {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .header {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding-bottom: var(--theme-sizes-layout-medium);
  }
  .title {
    height: var(--theme-sizes-layout-giant);
    line-height: var(--theme-sizes-layout-giant);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .options {
    display: flex;
    margin-left: var(--theme-sizes-layout-medium);
  }
  .body {
    border-color: var(--theme-colors-monochrome-13);
    border-style: solid;
    border-width: 0;
    flex-grow: 1;
    height: max-content;
    min-height: 0;
  }
  &:not(:last-child) {
    padding-bottom: var(--theme-sizes-layout-big);
  }
  .bodyBorder {
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    padding: var(--theme-sizes-layout-big);
  }
}
.maxHeight {
  height: 100%;
}
.divider .body {
  border-top-width: var(--theme-sizes-border-width);
  padding-top: var(--theme-sizes-layout-medium);
}
