$filter-bg-color: var(--theme-colors-monochrome-13);

.base {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  &:not(:last-child) {
    padding-bottom: var(--theme-sizes-layout-big);
  }
  .header {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .title {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: var(--theme-sizes-layout-giant);
    line-height: var(--theme-sizes-layout-giant);
    margin-bottom: var(--theme-sizes-layout-medium);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .options {
    display: flex;
    margin-bottom: var(--theme-sizes-layout-medium);
    margin-left: var(--theme-sizes-layout-medium);
  }
  .body {
    border-color: var(--theme-colors-monochrome-13);
    border-style: solid;
    border-width: 0;
    flex-grow: 1;
    height: max-content;
    min-height: 0;
  }
  .filterToggle {
    background-color: var(--theme-colors-monochrome-17);
    border-color: var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    border-style: solid;
    border-width: var(--theme-sizes-border-width);
    cursor: pointer;
    height: var(--theme-sizes-layout-giant);
    margin-bottom: var(--theme-sizes-layout-medium);
    margin-left: var(--theme-sizes-layout-medium);
    outline: 0;
    padding: var(--theme-sizes-layout-small);
    position: relative;
  }
  .filterToggle::after {
    background-color: $filter-bg-color;
    content: '';
    display: none;
    height: 0.1rem;
    left: 0;
    position: absolute;
    top: 100%;
    width: var(--theme-sizes-layout-giant);
  }
  .filterToggle:hover { border-color: var(--theme-colors-action-normal); }
  .filterToggle:focus { box-shadow: var(--theme-outline); }
  .filterBar {
    background-color: $filter-bg-color;
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius) 0 var(--theme-sizes-border-radius) var(--theme-sizes-border-radius);
    display: none;
    padding: var(--theme-sizes-layout-medium);
  }
}
.base.maxHeight {
  height: 100%;
}
.base.divider .body {
  border-top-width: var(--theme-sizes-border-width);
  padding-top: var(--theme-sizes-layout-medium);
}
.base.bodyBorder {
  .body {
    background-color: var(--theme-colors-monochrome-17);
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    padding: var(--theme-sizes-layout-big);
  }
  .filterBar {
    border-radius: var(--theme-sizes-border-radius) 0 0 0;
    border-width: var(--theme-sizes-border-width) var(--theme-sizes-border-width) 0 var(--theme-sizes-border-width);
  }
  .filterBar + .body {
    border-radius: var(--theme-sizes-border-radius);
  }
}
.base.showFilters {
  .filterToggle {
    background-color: var(--theme-colors-monochrome-13);
    border-radius: var(--theme-sizes-border-radius) var(--theme-sizes-border-radius) 0 0;
    border-width: var(--theme-sizes-border-width) var(--theme-sizes-border-width) 0 var(--theme-sizes-border-width);
    display: block;
    height: calc(var(--theme-sizes-layout-giant) + var(--theme-sizes-layout-medium));
    margin-bottom: 0;
    padding-bottom: calc(var(--theme-sizes-layout-small) + var(--theme-sizes-layout-medium));
  }
  .filterToggle::after { display: block; }
  .filterBar {
    display: flex;
  }
  .filterBar + .body {
    border-radius: 0 0 var(--theme-sizes-border-radius) var(--theme-sizes-border-radius);
  }
}
