.base {
  align-items: center;
  display: flex;

  & > *:not(:first-child) {
    margin-left: var(--theme-sizes-layout-medium);
  }
}
.disableTags {
  :global(.ant-select-multiple .ant-select-selection-item) {
    background-color: transparent;
    border: 0;
  }
  :global(.ant-select-multiple.ant-select-open .ant-select-selection-item) {
    display: none;
  }
  :global(.ant-select-multiple.ant-select-open .ant-select-selection-search) {
    margin-left: var(--theme-sizes-layout-medium);
    max-width: calc(100% - var(--theme-sizes-layout-giant));
  }
}
.vertical {
  align-items: flex-start;
  flex-direction: column;

  & > *:first-child { margin-bottom: var(--theme-sizes-layout-tiny); }
  & > *:not(:first-child) { margin-left: 0; }
}
