.base {
  background-color: var(--theme-colors-monochrome-15);
  border-right: solid 1px var(--theme-colors-monochrome-12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--theme-sizes-layout-big);
  width: var(--theme-sizes-sidebar-maxWidth);

  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer > a {
    margin-bottom: var(--theme-sizes-layout-medium);
  }
  .version {
    background-color: var(--theme-colors-monochrome-13);
    display: flex;
    font-size: var(--theme-sizes-font-micro);
    justify-content: center;
    padding: var(--theme-sizes-layout-small);

    > *:first-child {
      display: flex;
      padding-right: var(--theme-sizes-layout-tiny);
    }
  }
}
.collapsed {
  width: var(--theme-sizes-sidebar-minWidth);

  .version > *:first-child { display: none; }
}
