.base {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title {
      flex-basis: 25%;
    }
    .filters {
      display: inline-flex;
      flex-basis: 33%;
      gap: 16px;
      justify-content: flex-end;

      .filter {
        min-width: 40px;
      }
    }
  }
  .content {
    align-items: center;
    background-color: var(--theme-colors-monochrome-13);
    border-radius: var(--theme-border-radius);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;

    img {
      height: 100px;
      width: 100px;
    }
  }
}
.base.small > .content {
  height: 100px;
}
.base.medium > .content {
  height: 200px;
}
.base.large > .content {
  height: 400px;
}
.base.max {
  height: 100%;
}
