.base {
  .header {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
  }
  .bar {
    margin: 6px 0;
  }
}
li.legend {
  list-style-type: none;

  .count {
    margin-right: 6px;
  }
}
ul.detailedLegends li {
  margin-top: 6px;
}
div.overallLegends {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;

  ol {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  li {
    display: block;
    height: 100%;
    margin: 0;
    margin-left: 20px;
    padding: 0;
  }
  li:first-child {
    margin-left: 0;
  }
}
ul.detailedLegends {
  margin: 0;
  padding: 0;

  li:first-child {
    margin-top: 0;
  }
}
.footer {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 8px;

  .queued {
    color: var(--theme-status-active);
    cursor: pointer;
  }
}
