@keyframes rotate {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

.base {
  position: relative;

  .spin {
    animation: rotate 1s linear infinite;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.fullPage {
  background-color: rgba(var(--theme-colors-monochrome-17), 0.8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.opaque {
  background-color: var(--theme-colors-monochrome-17);
}
