$arrow-size: 11px;
$arrow-left: 22px;

.base {
  height: 0;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  z-index: 3;

  .container {
    align-items: center;
    background-color: var(--theme-colors-monochrome-17);
    border: solid var(--theme-sizes-border-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-sizes-border-radius);
    box-shadow: var(--theme-shadow);
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding: var(--theme-sizes-layout-medium);
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .container::before {
    background-color: var(--theme-colors-monochrome-17);
    border-color: var(--theme-colors-monochrome-11);
    border-style: solid;
    border-width: 0 var(--theme-sizes-border-width) var(--theme-sizes-border-width) 0;
    box-shadow: var(--theme-shadow);
    content: '';
    display: block;
    height: $arrow-size;
    left: $arrow-left;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: $arrow-size;
    z-index: 0;
  }
  .container::after {
    background-color: var(--theme-colors-monochrome-17);
    bottom: 0;
    content: '';
    height: calc(var(--theme-sizes-layout-medium) - 1px);
    left: 24px;
    position: absolute;
    transform: translateX(-50%);
    width: 30px;
  }
  .actions {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: var(--theme-sizes-layout-medium);
    z-index: 1;
  }
  .message {
    font-size: var(--theme-sizes-font-medium);
    overflow: hidden;
    padding: 0 var(--theme-sizes-layout-medium);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .clear {
    flex-shrink: 1;
  }
  :global(.ant-select-selection-placeholder) {
    color: var(--theme-colors-monochrome-5);
  }
  &.show {
    height: 48px;
    opacity: 1;
    pointer-events: all;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    .container {
      flex-wrap: wrap;
      height: 80px;
      padding: var(--theme-sizes-layout-medium);
    }
    .actions {
      flex-grow: 0;
      order: 1;
      overflow: auto;
    }
    .message {
      order: 0;
      padding: 0 0 var(--theme-sizes-layout-medium) 0;
      width: 100%;
    }
    .clear {
      flex-grow: 1;
      order: 2;
      padding-left: var(--theme-sizes-layout-medium);
    }
    .clear > button { width: 100%; }
    &.show { height: 80px; }
  }

  @media only screen and (max-width: 360px) {
    .container {
      height: 120px;
    }
    .clear {
      padding: var(--theme-sizes-layout-medium) 0 0 0;
      width: 100%;
    }
    &.show { height: 120px; }
  }
}
