.base {
  display: inline;

  & > * {
    cursor: pointer;
    font-size: var(--theme-sizes-font-small);
    height: 2rem;
    margin: var(--theme-sizes-layout-micro) var(--theme-sizes-layout-medium) var(--theme-sizes-layout-micro) 0;
  }
  .tagPlus {
    background: var(--theme-colors-monochrome-17);
    border-style: dashed;
  }
  .tagPlus:hover,
  .tagEdit:hover {
    border-color: var(--theme-colors-action-normal);
  }
  .tagInput {
    margin: 0;
    top: -1px;
  }
}
