.base {
  display: inline;
  margin-left: var(--theme-sizes-layout-medium);
  vertical-align: bottom;

  & > * {
    cursor: pointer;
    font-size: var(--theme-sizes-font-small);
    height: 2rem;
    margin-right: var(--theme-sizes-layout-medium);
  }
  .tagPlus {
    background: var(--theme-colors-monochrome-17);
    border-style: dashed;
  }
  .tagPlus:hover,
  .tagEdit:hover {
    border-color: var(--theme-colors-action-normal);
  }
  .tagInput {
    top: 0.5rem;
    vertical-align: top;
  }
  &.noMargin {
    margin-left: 0;
  }
}
