.base {
  display: inline;

  & > * {
    cursor: pointer;
    font-size: var(--theme-sizes-font-small);
    height: 20px;
    margin: var(--theme-sizes-layout-micro) var(--theme-sizes-layout-medium) var(--theme-sizes-layout-micro) 0;
  }
  .showMore {
    white-space: nowrap;
  }
  .tagPlus {
    background: var(--theme-colors-monochrome-17);
    border-style: dashed;
  }
  .tagPlus:hover,
  .tagEdit:hover {
    border-color: var(--theme-colors-action-normal);
  }
  &.ghost {
    .tagEdit,
    .tagPlus {
      background: transparent;
      border-color: var(--theme-colors-monochrome-17);
      color: var(--theme-colors-monochrome-17);
      opacity: 0.8;

      :global(.ant-tag-close-icon) {
        color: var(--theme-colors-monochrome-17);
      }
      &:hover {
        border-color: inherit;
        color: inherit;
        opacity: 1;
      }
    }
  }
  .tagInput {
    margin: 0;
    top: -1px;
  }
}
