.base {
  display: flex;
  flex-direction: column;

  .search {
    margin-right: 8px;
    max-width: 300px;
  }
}
.options {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 16px;
}
.sourceName {
  display: flex;
  flex-wrap: wrap;

  span {
    margin-right: 4px;
  }
  button {
    background-color: var(--theme-colors-monochrome-17);
    border: solid var(--theme-stroke-width) var(--theme-colors-monochrome-11);
    border-radius: var(--theme-border-radius);
    cursor: pointer;
    font-size: 12px;
    outline: 0;
  }
  button:hover {
    border-color: var(--theme-status-active);
  }
  button:focus {
    box-shadow: var(--theme-outline);
  }
}
.typeFilter {
  align-items: center;
  display: flex;

  & > [class*='Icon_base'] {
    margin-right: 8px;
  }
}
.sourceLinks {
  label {
    font-size: 12px;
  }
}
