.base {
  align-items: center;
  background-color: var(--theme-stage);
  border-bottom: solid var(--theme-stroke-width) var(--theme-stage-border);
  color: var(--theme-stage-on);
  display: flex;
  font-size: 12px;
  height: 100%;
  text-align: center;

  .barContent {
    margin: 0 auto;
    text-align: center;

    span {
      padding-left: 5px;
      padding-right: 5px;
    }
    .dropdownTrigger {
      cursor: pointer;
      display: inline;
      padding-right: 5px;
    }
  }
}
