.base {
  color: var(--theme-colors-monochrome-8);

  button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font: inherit;
    outline: inherit;
    padding: 0;

    &:hover { color: var(--theme-colors-core-action); }
  }
  button:disabled,
  button[disabled] {
    color: var(--theme-colors-monochrome-11);
    cursor: not-allowed;

    &:hover { color: var(--theme-colors-monochrome-11); }
  }
}
