.base {
  align-items: center;
  background-color: #333;
  color: #fafafa;
  display: flex;
  font-size: 12px;
  height: 100%;
  line-height: 18px;
  text-align: center;
  
  .barContent {
    margin: 0 auto;
    text-align: center;
  }
}
