.base {
  button {
    background: none;
    border: none;
    color: var(--theme-colors-monochrome-8);
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 0;

    :hover { color: var(--theme-colors-core-action); }
  }
}
