.base {
  align-items: center;
  display: flex;

  & > *:not(:first-child) { margin-left: var(--theme-sizes-layout-enormous); }
  .filter {
    align-items: center;
    display: flex;
  }
  .label {
    font-size: var(--theme-sizes-font-medium);
    font-weight: bold;
    margin-right: var(--theme-sizes-layout-medium);
  }
}
