.base {
  background-color: var(--theme-surface);
  border-color: var(--theme-surface-border);
  border-radius: var(--theme-border-radius);
  border-style: solid;
  border-width: var(--theme-stroke-width);
  color: var(--theme-surface-on);
  display: block;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 16px;
  padding-right: 0;
  position: relative;
  transition: 0.2s;
  word-break: break-all;

  .progressBar {
    left: 0;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 100%;
  }
  .upper {
    display: flex;
    padding-bottom: 8px;
    padding-right: 16px;

    .info {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-left: 8px;
    }
    .icon {
      align-items: center;
      background-color: var(--theme-surface-strong);
      border:
        var(--theme-stroke-width) solid
        var(--theme-surface-border-strong);
      border-radius: var(--theme-border-radius);
      display: flex;
      flex-shrink: 0;
      height: 44px;
      justify-content: center;
      width: 44px;
    }
    .name {
      color: var(--theme-surface-on-strong);
      font-size: 14px;
      line-height: 20px;
      overflow: hidden;
      padding-bottom: 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .age {
      display: flex;
      font-size: 12px;
      line-height: 18px;
    }
    .event {
      padding-right: 4px;
    }
  }
  .lower {
    align-items: center;
    display: flex;
    justify-content: space-between;

    & > *:last-child {
      height: 24px;
      width: 24px;
    }
    .badges {
      display: flex;

      & > *:not(:first-child) {
        margin-left: 4px;
      }
    }
    .percent {
      color: var(--theme-surface-on-weak);
      font-size: 12px;
      font-weight: bold;
      margin-bottom: auto;
      margin-top: auto;
    }
  }
}
.link {
  &:hover {
    border-color: var(--theme-status-active);
    box-shadow: var(--theme-elevation);
    margin-bottom: calc(-1 * 2px);
    margin-left: 0;
    margin-right: 0;
    margin-top: calc(-1 * 2px);
    text-decoration: none;
  }
}
