.base {
  color: var(--theme-colors-monochrome-8);

  button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 0;

    &:hover { color: var(--theme-colors-core-action); }
  }
  button:disabled,
  button[disabled] {
    &:hover { color: var(--theme-colors-monochrome-8); }
  }
}
