.base {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .container {
    cursor: pointer;
  }
}
.mode {
  color: var(--theme-colors-monochrome-9);
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}
.toggler {
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  transition: background-color 0.4s ease-in-out, padding 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  vertical-align: middle;
  width: 20px;
}
.system {
  background-color: black;
  border: solid 1px black;
  box-shadow: inset -9px -8px 1px 1px gold;
}
.light {
  background-color: gold;
}
.dark {
  background-color: black;
  box-shadow: inset -3.75px -2.5px 1px 1px gold;
}
