$preview-height: 33px;
$preview-transition-in: height 0.2s ease-in-out;
$preview-transition-out: height 0s;

.base {
  height: calc(100% - #{$preview-height});
  transition: $preview-transition-in;

  .preview {
    background-color: var(--theme-surface);
    border-top: solid var(--theme-stroke-width) var(--theme-surface-border);
    cursor: pointer;
    height: $preview-height;
    overflow: hidden;
    position: sticky;
    top: 100%;
    transition: $preview-transition-in;
    width: 100%;
  }
  .preview:hover {
    background-color: var(--theme-surface-strong);
  }
  .container {
    flex-grow: 1;
    font-family: var(--theme-font-family-code);
    font-size: 12px;
    padding: 6px 8px;
    position: relative;
  }
}
.base.hidePreview {
  height: 100%;
  transition: $preview-transition-out;

  .preview {
    border-width: 0;
    height: 0;
    transition: $preview-transition-out;
  }
}
