.base {
  aspect-ratio: 1;
  background-color: var(--theme-colors-monochrome-15);
  border-radius: 8px;
  display: grid;

  & > * {
    font-size: var(--theme-sizes-font-medium);
    place-self: center;
    text-transform: uppercase;
  }
}
