@font-face {
  font-display: block;
  font-family: 'Objektiv Mk3';
  font-style: normal;
  font-weight: normal;
  src:
    url('fonts/objektiv-mk3-regular.woff2?07a67e') format('woff2'),
    url('fonts/objektiv-mk3-regular.woff?07a67e') format('woff'),
    url('fonts/objektiv-mk3-regular.ttf?07a67e') format('truetype'),
    url('fonts/objektiv-mk3-regular.svg?07a67e#determined-ai') format('svg');
}

@font-face {
  font-display: block;
  font-family: 'determined-ai';
  font-style: normal;
  font-weight: normal;
  src:
    url('fonts/determined-ai.woff2?n1pu2b') format('woff2'),
    url('fonts/determined-ai.woff?n1pu2b') format('woff'),
    url('fonts/determined-ai.ttf?n1pu2b') format('truetype'),
    url('fonts/determined-ai.svg?n1pu2b#determined-ai') format('svg');
}

/* Wait page specific CSS */

html,
body,
#root {
  font-family: 'Objektiv Mk3', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
body {
  align-items: center;
  display: flex;
  justify-content: center;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container > *:not(:first-child) {
  margin-top: 1.6rem;
}
.logo {
  height: 6.4rem;
  width: 6.4rem;
}
.status {
  display: flex;
  font-size: 1.4rem;
}
.status > label {
  margin-right: 0.8rem;
}
#tip {
  font-size: 1.4rem;
}
.spinner {
  height: 4rem;
  position: relative;
}
.icon-spinner {
  font-family: 'determined-ai', 'Arial', sans-serif;
  font-size: 2.4rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  text-transform: none;
}
.icon-spinner::before { content: '\e90f'; }
.spin {
  animation: rotate 1s linear infinite;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
