.base {
  background-color: var(--theme-colors-monochrome-17);
  border: var(--theme-sizes-border-width) solid var(--theme-colors-monochrome-13);
  border-radius: 12px;
  color: var(--theme-colors-monochrome-7);
  display: grid;
  font-size: 11px;
  grid-template-columns: 100px auto 50px;
  max-width: 325px;
  min-width: min-content;
  padding: var(--theme-sizes-layout-big);

  .icon {
    aspect-ratio: 1;
    background-color: var(--theme-colors-monochrome-15);
    border-radius: 8px;
    display: grid;
    height: 70px;
    width: 70px;

    & > * {
      font-size: var(--theme-sizes-font-medium);
      place-self: center;
      text-transform: uppercase;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nameRow {
      align-items: center;
      display: flex;
      gap: var(--theme-sizes-layout-small);
      grid-column: 1/3;
      height: min-content;
      min-width: 0;

      .name {
        color: var(--theme-colors-monochrome-4);
        font-size: 14px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .action {
    grid-column: 3/4;
    grid-row: 1/2;
    height: min-content;
    justify-self: end;
    visibility: hidden;
    width: min-content;
  }
  &:hover {
    background-color: var(--theme-colors-monochrome-16);

    .action {
      visibility: visible;
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .base {
    grid-template-columns: 74px auto 50px;
    width: 165px;
  }
}
