.base {
  background-color: var(--theme-surface);
  border: solid var(--theme-stroke-width) var(--theme-surface-border);
  border-radius: var(--theme-border-radius-strong);
  color: var(--theme-surface-on);
  cursor: pointer;
  display: grid;
  font-size: 11px;
  grid-template-columns: 100px auto 25px;
  height: 100px;
  padding: 16px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .nameRow {
      align-items: center;
      display: flex;
      gap: 6px;
      grid-column: 1/3;
      height: min-content;
      min-width: 0;

      .name {
        color: var(--theme-surface-on-strong);
        font-size: 14px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        & * {
          margin: 0;
        }
      }
    }
    .projects {
      margin: 0;
    }
  }
  .action {
    display: none;
    grid-column: 3/4;
    grid-row: 1/2;
    height: min-content;
    justify-self: end;
    width: min-content;
  }
  &:hover {
    background-color: var(--theme-surface-weak);

    .action {
      background-color: var(--theme-surface);
      border-radius: 4px;
      display: flex;
      padding: 2px;
    }
  }
  .pinned {
    color: var(--theme-colors-monochrome-9);
    font-size: 20px;
    grid-column: 3/4;
    grid-row: 1/2;
    height: min-content;
    justify-self: end;
    width: min-content;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .base {
    grid-template-columns: 74px auto 10px;
    max-width: 100%;

    .projects {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .info {
      margin-left: 20px;
    }
  }
}
