.base {
  background-color: var(--theme-colors-monochrome-17);
  color: var(--theme-colors-monochrome-6);
  height: 100%;
  position: relative;
  width: 100%;

  .container {
    height: 100%;
    position: relative;
  }
  .container > .logs {
    font-family: 'Source Code Pro', monospace;
    font-size: var(--theme-sizes-font-small);
    height: 100%;
  }
  .container > .empty {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .buttons {
    bottom: var(--theme-sizes-layout-giant);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: var(--theme-sizes-layout-giant);
  }
  .buttons > button {
    border-color: var(--theme-colors-monochrome-9);
    box-shadow: var(--theme-shadow);
    color: var(--theme-colors-monochrome-9);
    transition: opacity 0.2s linear;
    user-select: none;
  }
  .buttons > button + button {
    margin-top: var(--theme-sizes-layout-big);
  }
  .scrollToOldest {
    opacity: 0.2;
    opacity: 1;
    user-select: auto;
  }
  .scrollToOldest:focus {
    border-color: var(--theme-colors-action-normal);
    color: var(--theme-colors-monochrome-9);

    &::after {
      border-radius: var(--theme-sizes-border-radius);
      box-shadow: var(--theme-outline);
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  .enableTailing {
    transition: all 0.2s linear;
  }
  .enableTailing:focus {
    border-color: var(--theme-colors-action-normal);

    &::after {
      border-radius: var(--theme-sizes-border-radius);
      box-shadow: var(--theme-outline);
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  .enableTailing.enabled {
    border-color: var(--theme-colors-action-normal);
    color: var(--theme-colors-action-normal);
  }
}
.options {
  padding: var(--theme-sizes-layout-medium) var(--theme-sizes-layout-medium) 0 0;
}
