.tooltip {
  background-color: var(--theme-float);
  border: solid var(--theme-stroke-width) var(--theme-float-border);
  border-radius: var(--theme-border-radius);
  box-shadow: var(--theme-elevation);
  cursor: auto;
  display: none;
  padding: 4px 6px;
  pointer-events: none;
  position: absolute;

  .row {
    display: flex;
    font-size: 12px;
  }
  .label {
    color: var(--theme-float-on-weak);
    padding-right: 6px;
    white-space: nowrap;
  }
  .label::after {
    content: ':';
  }
  .info {
    color: var(--theme-float-on);
    white-space: nowrap;
  }
}
.tooltip.show {
  cursor: pointer;
  display: block;
}
