#!/bin/bash

mkdir -p /usr/local/determined
echo {{.StartupScriptBase64}} | base64 --decode > /usr/local/determined/startup_script
echo "#### PRINTING STARTUP SCRIPT START ####"
cat /usr/local/determined/startup_script
echo "#### PRINTING STARTUP SCRIPT END ####"
chmod +x /usr/local/determined/startup_script
/usr/local/determined/startup_script

echo {{.ContainerStartupScriptBase64}} | base64 --decode > /usr/local/determined/container_startup_script
echo "#### PRINTING CONTAINER STARTUP SCRIPT START ####"
cat /usr/local/determined/container_startup_script
echo "#### PRINTING CONTAINER STARTUP SCRIPT END ####"

docker run --init --name determined-agent {{.LogOptions}} --restart always --network {{.AgentNetwork}} --runtime={{.AgentDockerRuntime}} --gpus all \
    -e DET_AGENT_ID="{{.AgentID}}" \
    -e DET_MASTER_HOST="{{.MasterHost}}" \
    -e DET_MASTER_PORT="{{.MasterPort}}" \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /usr/local/determined/container_startup_script:/usr/local/determined/container_startup_script \
    "{{.AgentDockerImage}}"
