/*
 * Ant Design overrides the story iframe body styles in storybook.
 * It sets the background color to #fff, which prevents our
 * @storybook/addon-backgrounds from working properly since it
 * sets the color on a higher level (on the iframe itself).
 * This overrides the Ant Design background style to allow
 * @storybook/addon-backgrounds to show through.
 */

#root {
  height: auto;
  width: auto;
}
.sb-show-main {
  background-color: transparent;
}
