.base {
  .note {
    background-color: var(--theme-colors-monochrome-16);
    border: solid var(--theme-stroke-width) var(--theme-colors-monochrome-12);
    border-radius: var(--theme-border-radius);
    padding: 8px;
    text-align: center;
  }
}
