.loader {
  border-spacing: 0.2em;
  box-sizing: border-box;
  display: inline-table;
  position: relative;

  .row {
    display: table-row;

    span {
      animation: 0.5986 infinite alternate ease-out;
      animation-name: flicker;
      background: var(--theme-float-on);
      display: table-cell;
      opacity: 0;
      position: relative;
    }
    &:nth-child(1) span:nth-child(1) {
      animation-delay: 0.5s;
    }
    &:nth-child(1) span:nth-child(2) {
      animation-delay: 0.7s;
    }
    &:nth-child(1) span:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(2) span:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) span:nth-child(2) {
      animation-delay: 0.8s;
    }
    &:nth-child(2) span:nth-child(3) {
      animation-delay: 0.9s;
    }
    &:nth-child(3) span:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) span:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) span:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes flicker {
  0%,
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
