.base {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.spinner{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--theme-breath-button-overlay);

    -webkit-animation: pulse 1.75s infinite ease-in-out;
    animation: pulse 1.75s infinite ease-in-out;
}

@keyframes pulse {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
}

.inner_spinner:before,
.inner_spinner:after {
    content: '';
    display: block;
    position: absolute;
    margin: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--theme-breath-button);

    -webkit-animation: pulse-spinner 1.75s infinite ease-in-out;
    animation: pulse-spinner 1.75s infinite ease-in-out;

}

/* Animation */

@keyframes pulse-spinner {
    0%, 100% {
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
}
