@use 'sass:math';

$axes: X Y Z;
$size: 18px;

.base {
  align-items: center;
  display: flex;
  height: $size;
  justify-content: center;
  width: $size;
}

@each $axis in $axes {
  @keyframes rotate#{$axis} {
    from {
      transform: rotate#{$axis}#{'(0deg)'};
    }
    to {
      transform: rotate#{$axis}#{'(360deg)'};
    }
  }
}

@keyframes rotateHalf {
  to {
    transform: rotate(0.5turn);
  }
}

.spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotateZ;
  animation-timing-function: linear;
  border-color: var(--theme-ix-border);
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  height: $size;
  width: $size;
}
.spinner__bowtie {
  animation: rotateHalf 1s infinite;
  border-bottom-color: var(--theme-stage-on);
  border-top-color: var(--theme-stage-on);
}
.spinner__half {
  border-left-color: var(--theme-stage-on);
  border-top-color: var(--theme-stage-on);
}

$mask: conic-gradient(#0000 30%, #000), linear-gradient(#000 0 0) content-box;

.spinner__shadow {
  animation: rotateZ 0.75s infinite linear;
  border-color: var(--theme-stage-on);
  -webkit-mask: $mask;
  mask: $mask;
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
}
.spinner__split {
  animation: none;
  border: none;
  box-shadow: inset 0 0 0 2px;
  color: var(--theme-stage-on);
  position: relative;
  transform: scale(3);

  &::before,
  &::after {
    border-radius: 50%;
    content: '';
    position: absolute;
  }
  &::before {
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
    background: white;
    border-radius: 0;
    height: $size;
    left: 0;
    top: 0;
    -webkit-transform-origin: math.div($size, 2) math.div($size, 2);
    transform-origin: math.div($size, 2) math.div($size, 2);
    width: math.div($size, 2);
  }
  &::after {
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
    background: white;
    border-radius: 0;
    height: $size;
    left: math.div($size, 2);
    top: 0;
    -webkit-transform-origin: 0 math.div($size, 2);
    transform-origin: 0 math.div($size, 2);
    width: math.div($size, 2);
  }
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
