.base {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

$axes: X Y Z;

@each $axis in $axes {
  @keyframes rotate#{$axis} {
    from { transform: rotate#{$axis}#{"(0deg)"}; }
    to { transform: rotate#{$axis}#{"(360deg)"}; }
  }
}

.spinner {
    $size: 18px;
    
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: rotateZ;
    animation-timing-function: linear;
    height: $size;
    width: $size;

    border-color: rgba(255, 255, 255, 0.3);

    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
  }


  .spinner__bowtie {
    border-bottom-color: var(--theme-stage-on);
    border-top-color: var(--theme-stage-on);
  }

  .spinner__half {
    border-left-color: var(--theme-stage-on);
    border-top-color: var(--theme-stage-on);
  }