---
name: "Lint python"

on:  # yamllint disable-line rule:truthy
  pull_request:
    paths-ignore:
      - '*.md'
      - 'docs/*'
      - 'webui/*'
  push:
    branches:
      - 'main'
      - 'releases/**'

jobs:
  lint-python:
    strategy:
      fail-fast: true
      matrix:
        component:
          - e2e_tests
          - examples
          - harness
          - schemas
          - tools
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set VERSION env var
        shell: bash
        run: echo "VERSION=$(./version.sh)" >> $GITHUB_ENV
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8.16
          cache: pip
          cache-dependency-path: |
            harness/setup.py
            requirements.txt
      - name: Install pip dependencies
        run: |
          python --version
          python -m pip install --upgrade pip wheel setuptools
          pip --version
          pip install -r requirements.txt
      - name: Install harness
        working-directory: harness
        run: |
          make build
          pip install --find-links dist determined==${{ env.VERSION }}
          pip install --no-deps --force-reinstall --find-links dist determined==${{ env.VERSION }}
      - name: Run checks
        run: make -C ${{ matrix.component }} check
