---
name: "Lint migrations"

on:  # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - master/static/migrations/**
    types:
      - opened
      - edited
      - synchronize

jobs:
  lint-migrations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run migration lint
        run: ./.github/scripts/lint-migrations.sh
        shell: bash
