.content {
  height: 100%;
  overflow: hidden;

  .paneWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    & > *:first-child {
      min-height: 0;
    }
  }
}
